<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>員工福利制度 | 台灣柏佐克智慧型日間照顧管理系統</title>
	<link href="~/images/favicon.ico" type="image/x-icon" rel="Shortcut Icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
	<link rel="stylesheet" href="~/css/layout.css">
	<link rel="stylesheet" href="~/css/page2-8-1.css">
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="~/Scripts/jquery-3.2.1.min.js"></script>
	<script>
		$(function () {
			$('#homepageBtn').click(function () {
				location.href = "/Home/Director";
			});

			$('#lastPage').click(function () {
				history.back();
			});
		});
	</script>
</head>




<body style="zoom: 1;">
	<div class="fixedBtns"><button id="lastPage">上一頁</button><button id="homepageBtn">回首頁</button></div>
	<header class="header wrapper">
		<h1>員工福利制度</h1>
	</header>
	<main class="main wrapper">
		<ul class="cjkUL cjkUL--2digit">
			<li li-idx="ㄧ、">
				目的
				<p>
					為了增強單位員工歸屬感，提高員工的滿意度及對單位的認同度，制定本制度。
				</p>
			</li>
			<li li-idx="二、">
				適用範圍
				<p>
					本制度適用於單位全體員工福利管理的全過程。
				</p>
			</li>
			<li li-idx="三、">
				名詞術語解釋
				<ul class="numberUL">
					<li>
						法定福利—是指單位為員工提供國家或地方政府規定的各項福利。
					</li>
					<li>
						統一福利—是指單位全體員工都有權利享受的共有福利。
					</li>
					<li>
						專項福利—是指單位為特殊條件職位的員工提供的專門福利。
					</li>
				</ul>
			</li>
			<li li-idx="四、">
				制度執行者
				<ul class="numberUL">
					<li>
						福利委員會——負責本制度的具體執行和統一福利的發放。
					</li>
					<li>
						會計——負責對單位福利進行綜合預算。
					</li>
					<li>
						主任——負責福利費用的審批與核定。
					</li>
				</ul>
			</li>
			<li li-idx="五、">
				法定福利
				<ul class="numberUL">
					<li>
						社會保險
						<ul >
							<li>
								①社會保險的定義：社會保險是國家通過立法的形式，由社會集中建立基金，以使勞動者在年老、患病、工傷、失業、生育等喪失勞動能力的情況下能夠獲得國家和社會補償和幫助的一種社會保障制度。
							</li>
							<li>
								②社會保險的組成：社會保險包括養老保險、醫療保險、失業保險、工傷保險、生育保險五種保險。
							</li>
							<li>
								③單位按政府規定為員工辦理基本社會保險與雇主商業保險，並承擔單位應繳納部分，個人應繳納部分由單位代繳並從員工薪資中扣除。
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li li-idx="六、">
				專項福利
				<ul class="numberUL">
					<li>
						工作獎勵
						<ul>
							<li>
								①分紅獎勵:單位工作滿一年的員工可獲得前一年年終結算盈餘分紅，與6月份薪資一併發放。
								<table class="mainTable mainTable--textCenter">
									<thead>
										<tr>
											<th>級職</th>
											<th>主任職以上者<br>理事長各中心主任</th>
											<th>中級幹部<br>督導、個管人員</th>
											<th>基層正職人員<br>活動、照護、司機員</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>分紅</td>
											<td>單位年度盈餘之80%均分</td>
											<td>單位年度盈餘之10%均分</td>
											<td>單位年度盈餘之10%均分</td>
										</tr>
									</tbody>
								</table>
							</li>
							<li>
								②年晉升獎勵:單位工作滿一年的員工可獲得年晉升獎勵，每級200元，無上限。
								<table class="mainTable mainTable--textCenter">
									<thead>
										<tr>
											<th>考績優等</th>
											<th>考績甲等</th>
											<th>考績乙等</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>年晉升 2 級</td>
											<td>年晉升 1 級</td>
											<td>不予晉級</td>
										</tr>
									</tbody>
								</table>
							</li>
							<li>
								③工作優秀獎勵:單位員工在平日工作有優秀表現或自動自發為單位無私付出者，主管舉報經品質會議通過，發放獎金500元並將事跡公布於員工榮譽榜。
							</li>
						</ul>
					</li>
					<li>
						生日福利：生日福利以員工法定身份證為準
						<p>逢員工生日時，單位將員工發放禮金 500 元，或以等額生日蛋糕、禮品方式發放。</p>
					</li>
					<li>佳節福利：中秋、端午節等二大節日，員工享有節日禮金 10000 元</li>
					<li>
						年終獎懲：年終進行員工考核，依考核結果敘獎
						<table class="mainTable mainTable--textCenter">
							<thead>
								<tr>
									<th>考核結果</th>
									<th>獎懲</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>優等</td>
									<td>一個月薪資獎勵</td>
								</tr>
								<tr>
									<td>甲等</td>
									<td>一萬元獎勵</td>
								</tr>
								<tr>
									<td>乙等</td>
									<td>考核弱項再加強</td>
								</tr>
								<tr>
									<td>丙等</td>
									<td>年終之後不續約</td>
								</tr>
							</tbody>
						</table>
					</li>
					<li>
						健康保障
						<ul >
							<li>
								①健康體檢：單位工作滿一年的員工可享受單位每年提供的常規體檢。
							</li>
							<li>
								②健康醫藥箱：單位為員工提供基本常用藥品，滿足突發疾病需求。
							</li>
						</ul>
					</li>
					<li>
						員工休閒活動
						<ul >
							<li>
								①部門自強活動：單位定期利用非工作時間組織各類活動增進交流。
							</li>
							<li>
								②單位組織各種郊遊踏青、集體文娛活動、歲末家庭聚餐聯誼年會等，促進員工身心健康。
							</li>
							<li>
								③培訓進修：為提高員工的知識技能及發揮其潛在智能，單位將組織各種培訓進修活動。
							</li>
						</ul>
					</li>
					<li>
						休假福利
						<ul>
							<li>
								①婚假：入職一年以上員工可享有婚假待遇。法定婚齡（男年滿22歲，女滿20周歲）員工，憑合法結婚證，婚假7天。婚假期間發放基本工資無其它福利。
							</li>
							<li>
								②產假：入職一年以上女員工可享有90天產假待遇，產假期間停發工資，假后另行安排工作。
							</li>
							<li>
								③護理假：正常生產享受3天帶薪假，剖腹產享受7天帶薪假。
							</li>
							<li>
								④喪假：員工直系親屬去世可以享受三天帶薪喪假，直系親屬指父母、配偶、子女；員工祖父、祖母、外祖父、外祖母去世，可以享受兩天帶薪喪假。
							</li>
						</ul>
					</li>
					<li>
						員工婚喪福利
						<table class="mainTable mainTable--textCenter">
							<thead>
								<tr>
									<th>特殊金<br>貼標準</th>
									<th>津貼類別享有對象</th>
									<th>津貼標準</th>
									<th>發放時間</th>
									<th>發放方式</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>結婚禮金</td>
									<td>單位工作滿兩年<br>且婚假獲批准的員工（首次結婚）</td>
									<td>元/人</td>
									<td>申請婚假時</td>
									<td>會計準備紅包，<br>員工親自簽收</td>
								</tr>
								<tr>
									<td>慰唁金</td>
									<td>父母、子女及配偶去世的員工</td>
									<td>元/人</td>
									<td>申請喪假時</td>
									<td>會計準備信封，<br>員工親自簽收</td>
								</tr>
							</tbody>
						</table>
					</li>
				</ul>
			</li>
		</ul>
	</main>


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-148420718-4"></script>
	<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148420718-4');
	</script>

	<div id="wait" style="display:none">
		<p><img src="/images/loading.gif" width="150" height="150"></p>
	</div>
	<div id="wait_content" style="display:none">
		<p>請稍後，系統正在處理中...</p>
	</div>
	<iframe name="actFrame" src="about:blank" style="DISPLAY: none; Z-INDEX: 10; WIDTH: 148px; POSITION: absolute; HEIGHT: 194px; left: 105px; top: 5px" marginwidth="0" marginheight="0" frameborder="0" noresize="" scrolling="no"></iframe>


</body>
</html>