<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>員工工作手冊(2) | 台灣柏佐克智慧型日間照顧管理系統</title>
	<link href="~/images/favicon.ico" type="image/x-icon" rel="Shortcut Icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/page2-8-1.css">
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="/js/jquery-1.10.2.min.js"></script>
	<script>
		$(function () {
			$('#homepageBtn').click(function () {
				location.href = "/Home/Director";
			});

			$('#lastPage').click(function () {
				history.back();
			});
		});
	</script>
</head>




<body style="zoom: 1;">
	<div class="fixedBtns"><button id="lastPage">上一頁</button><button id="homepageBtn">回首頁</button></div>

	<main class="main wrapper">
		<section>
			<h2 class="chapterTitle">
				參、組織架構
			</h2>
			<img src="/images/img-book2.png" alt="">
			<!--        <img src="/images/img-book2.png" class="small" alt="" />-->
			<p><br></p>
		</section>
		<section>
			<h2 class="chapterTitle">肆、人員工作職掌</h2>
			<table class="mainTable">
				<thead>
					<tr>
						<th>職稱</th>
						<th colspan="2">工作內容</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th rowspan="4">主任</th>
						<th>決策</th>
						<td>
							<ul class="numberUL">
								<li>
									配合上級單位之緊急業務和實際需求。
								</li>
								<li>家屬、個案或服務員的申訴處理。</li>
								<li>審核新進員工職前訓練成效與試用結果。</li>
								<li>審核物品請購，財產添購與報銷。</li>
								<li>訂定年度工作計畫與監督執行。</li>
								<li>服務流程及協助治療性活動的規劃。</li>
								<li>機構危機預防與管理。</li>
								<li>緊急狀況處理與呈報上級主管單位。</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>督考</th>
						<td>
							<ul class="numberUL">
								<li>工作人員排班與內部協調和管理。</li>
								<li>擬定各項照顧工作流程、辦法、表單與作業規範。</li>
								<li>稽核工作人員服務成效，協助解決問題與困難。</li>
								<li>規劃員工職前及在職訓練並定期工作查核。</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>行政</th>
						<td>
							<ul class="numberUL">
								<li>年度預算編列、執行和公文書處理。</li>
								<li>擬定員工在職訓練計畫與內容。</li>
								<li>負責監督環境安全與整潔。</li>
								<li>機構器材、物品、設備管理與控制。</li>
								<li>人事出勤管理與製作薪資冊。</li>
								<li>各項器材維修、消防管理、車輛維修管理、公共安檢管理。</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>會議</th>
						<td>
							<ul class="numberUL">
								<li>對外參加各項會議並聯絡相關單位及業務推展。</li>
								<li>定期召開內部會議。</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th rowspan="6">督導</th>
						<th>行政業務</th>
						<td>
							<ul class="numberUL">
								<li>對外單位公文書往返、補助申請與核銷作業。</li>
								<li>單位團體與家屬參訪接待。</li>
								<li>規劃製作對外文宣。</li>
								<li>交通接送調配與管理。</li>
								<li>受託收費與結案結算。</li>
								<li>個案交通接送路線安排與規劃。</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>問題行<br>為處理</th>
						<td>
							<ul class="numberUL">
								<li>每週紀錄個案異常情緒及問題行為發生次數，分析引發原因與處理對策。</li>
								<li>教導服務員正確的處理方法與技巧。</li>
								<li>每週詳實紀錄，每季統計分析作為提升照顧品質參考。</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>安全<br>監測<br>與<br>維護</th>
						<td>
							<ul class="numberUL">
								<li>環境安全設施設備維護與報修。</li>
								<li>個案安全評估與意外事件預防。</li>
								<li>意外事件發生過程、處理技術與紀錄。</li>
								<li>定期意外事件統計、原因分析及改善成效。</li>
								<li>每月電訪、每季家訪聯繫家屬，每週五統整家屬聯絡簿記錄。</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>間接<br>服務</th>
						<td>
							<ul class="numberUL">
								<li>個案社會福利身份別期限管理。</li>
								<li>個案社會資源整合並建立資源手冊。</li>
								<li>辦理服務滿意度調查與分析。</li>
								<li>辦理個案研討會與紀錄。</li>
								<li>召開家屬座談會、圖書會、支持團體等。</li>
								<li>服務相關資料統計分析。</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>外展<br>服務</th>
						<td>
							<ul class="numberUL">
								<li>辦理社區關懷服務。</li>
								<li>結合相關團體辦理社會福利宣導。</li>
								<li>配合政府政策發展日間照顧服務模式。</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>其他</th>
						<td>
							<ul class="numberUL">
								<li>網站維護管理與資訊更新。</li>
								<li>機構佈置規劃。</li>
								<li>服務照片存擋。</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th rowspan="5">居家照顧員</th>
						<th>日常<br>照顧</th>
						<td>
							<ul class="numberUL">
								<li>備餐、餵食、洗臉、刷牙、洗澡、如廁、植髮、更衣等例行日常照顧工作。</li>
								<li>每月依排定日期量測體重並記錄。</li>
								<li>協助行走和肢體運動。</li>
								<li>定時如廁和更換紙尿褲。</li>
								<li>促進個案生活自理能力。</li>
								<li>必要時協助個案洗澡及換衣物。</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>環境<br>清潔</th>
						<td>
							<ul class="numberUL">
								<li>依機構規定工作內容和時間流程執行每日地板、桌面、廁所、廚房...等清潔與消毒。</li>
								<li>隨時維持機構各項設施設備清潔、各櫃保持整潔並定期整理過期或損壞物品保修或報廢。</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>安全<br />維護</th>
						<td>
							<ul class="numberUL">
								<li>注意個案異常情緒與問題行為，應加強處理技巧及預防意外措施。</li>
								<li>發現個案任何異常狀況時，應立即通報主管並協助處理。</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>會議</th>
						<td>
							<ul class="numberUL">
								<li>照顧經驗分享與對每個照顧個案狀況報告並提出改善措施，等每周定期召開會議。</li>
								<li>輪流撰寫會議紀錄。</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>撰寫紀錄</th>
						<td>
							<ul class="numberUL">
								<li>詳細填寫各項工作紀錄表單，簽名處清晰完整。</li>
								<li>當日紀錄當天完成，不可拖延及遺失。</li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
	</main>


	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-148420718-4"></script>
	<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148420718-4');
	</script>

	<div id="wait" style="display:none">
		<p><img src="/images/loading.gif" width="150" height="150"></p>
	</div>
	<div id="wait_content" style="display:none">
		<p>請稍後，系統正在處理中...</p>
	</div>
	<iframe name="actFrame" src="about:blank" style="DISPLAY: none; Z-INDEX: 10; WIDTH: 148px; POSITION: absolute; HEIGHT: 194px; left: 105px; top: 5px" marginwidth="0" marginheight="0" frameborder="0" noresize="" scrolling="no"></iframe>


</body>
</html>