<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>員工工作手冊 | 台灣柏佐克智慧型居家照顧管理系統</title>
	<link href="~/images/favicon.ico" type="image/x-icon" rel="Shortcut Icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/page2-8-1.css">
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="~/Scripts/jquery-3.2.1.min.js"></script>
	<script>
		$(function () {
			$('#homepageBtn').click(function () {
				location.href = "/Home/Director";
			});

			$('#lastPage').click(function () {
				history.back();
			});
		});
	</script>
</head>



<body style="zoom: 1;">

	<div class="fixedBtns"><button id="lastPage">上一頁</button><button id="homepageBtn">回首頁</button></div>
	<header class="header wrapper">
		<h1>員工工作手冊</h1>
	</header>
	<main class="main wrapper">
		<section>
			壹、	使用須知
			一、本單位為使全體夥伴了解單位的管理規定，以便共同遵守，維護單位紀律，特依 其中主要精神原則編訂員工手冊，供全體同仁參閱，若有未盡明瞭之處，請參照原訂章則辦法。&nbsp;
			二、本手冊內容若有修訂或增添時，以新修訂或公佈者為準，同時本手冊為單位內部，重要文件，請勿轉借外人。&nbsp;
			三、本手冊僅就正式員工有關部分刊載，定期契約聘僱人員之權利、義務，請參閱所訂契約書之內容。   &nbsp;
			貳、	紀律與守則
			第一條　指揮、服從 員工應誠實遵守及服從照顧機構之方針、規章，並服從各級主管之合理指揮，如有意見得隨時隨地反應，各級主管應本分層負責之精神，按人 事核准權責 表指揮監督，紀律與守則如以下之規定：
			一、員工應專注於自己之業務保持工作秩序，努力提高工作效率。
			二、各級主管應尊重員工之人格，親切指導指揮員工完成工作。
			三、凡有足以影響照顧機構聲譽之事實均應隨時向主管報告，不得有任何隱瞞。 　　　　
			四、員工於工作中應主動、積極，並隨時保持機動性，遇有工作相關性時，亦應充分與其他同事協調、互助，共同發揮團隊精神。 　　　　
			五、應有禮貌及良好之服務態度，並須時時保持服裝儀容整潔。 　　　　
			六、尊重案主的生命、人性尊嚴及其價值觀。 　　　　
			七、提供案主各項服務照顧時要先解釋工作目的，且動作須輕柔。 　　　　
			八、對案主及其家屬應親切常保笑容，說話不可音量過大。 　　　　
			九、員工應依照顧機構規定時間上、下班，並親自簽到。 　　　　
			十、員工應誠實遵守照顧機構訂定之規章及服從主管之指揮與調度。 　　　　
			十一、未經照顧機構許可，不得私自攜帶違禁品或公務無關之物品、出入照顧機構辦公室及工作場所。 　　　　
			十二、不得與案主或其家屬、同事發生金錢借貸往來。 　　　　
			十三、不得利用職務上之關係，私下接受案主或家屬之餽贈、金錢、佣金或 其他不當利益。 　　　　
			十四、員工不得直接或間接從事與照顧機構業務有關之事業，或兼任其他機構之顧問等。 　　　　
			十五、員工對於有關照顧機構之機密事項，不得對外洩漏，並不得借閱或調用本職以外之文件與帳冊。 　　　　
			十六、員工對公物應加以保護，不得浪費；使用公物，如無故損壞致不堪使用或遺失時，應負賠償之責。 　　　　
			十七、注意儀容整潔。 　　　　
			十八、員工要有敬業的態度與職業道德。 　　　　
			十九、隨時保持和藹可親的笑容。 　　　　
			二十、確實執行交辦事項，不得藉故拖延或草率了事。 　　　　
			二十一、應愛惜公物，做事負責並以愛心耐心隨時注意案主安全。 　　　　
			二十二、同事之間應和諧相處，不可挑撥離間影響團隊士氣。 　　　　
			二十三、隨時注意言行舉止，以維護形象且不得有過度情緒反應及破壞公物。 　　　　
			二十四、上班時間內不得喝酒、吃檳榔。&nbsp;
			第七條　職務調動         &nbsp;
			照顧機構為業務需要，增進員工工作歷練，得依下列調動原則實施定期或不定期職務或工作輪調：        &nbsp;
			一、基於照顧機構經營所必須。        &nbsp;
			二、不得違反勞動契約。        &nbsp;
			三、對員工工資及其他勞動條件未做不利之變更。        &nbsp;
			四、調動後工作之性質為員工體能、技術所能勝任者。        &nbsp;
			五、調動工作地點過遠，照顧機構給予必要之協助。&nbsp;
			第八條　門禁管理 　　　　
			員工應遵守照顧機構下列進出之管理規定： 　　　　
			一、員工應依規定時間上班、下班，並依規定親自簽到、簽退。 　　　　
			二、未經照顧機構許可，不得攜帶危險物品、違禁品（如槍、刀械、彈藥、毒品）或與公務無關之物品進入工作場所或將公物攜出照顧機構。 　　　　
			三、其他經照顧機構公告之管理規章。
			&nbsp;第九條　員工活動之管理
			為維持照顧機構工作秩序及效率，員工應遵守下列規定： 　　　　
			一、不得自為或煽惑他人為不合法之罷工、怠工。 　　　　
			二、工作中非於指定時間、地點內，禁止員工吸煙、喝酒。&nbsp;
			第十條　設備、物料管理 　　　　
			員工應妥善使用照顧機構內設備，節約能源及其他消耗品。員工非經許可，不得以私人目的使用照顧機構之公物。&nbsp;
			第十一條　　　　　　
			執行業務之管理為維持照顧機構正常之營運及業務推展，使工作有所遵循，員工應遵守下列規定： 　　　　　
			一、對經管之文件、財物應妥為保管，不得攜外、毀損或散失；如遇非常事故時，應盡力做適當之處置。 　　　　　
			二、非法令規定或經告知且經照顧機構核准，不得擔任照顧機構指定工作以外之職務。 　　　　　
			三、行使採購、稽核職務時，必須公正無私，不得有任何偏袒行為。 　　　　　
			四、不可將私人電話號碼留給案主或其家屬，亦不可向案主或其家屬索取私人電話號碼，有任何事應與照顧機構報告或協商。 　　　　　
			五、不得利用職務機會向照顧機構請求或關說對其有關的機構、家屬或個人給予任何好處。 　　　　　
			六、不得以不正當方法執行業務，而使照顧機構遭受損失。
			&nbsp;第十二條　
			誠實義務為維持勞資關係之信賴、和諧及照顧機構之形象、信譽，員工應履行下列誠實義務：                  &nbsp;
			&nbsp;一、對照顧機構業務、客戶情形及其商業秘密應保持高度機密，不得對不相干之人員洩漏，離、退職後亦同，員工若有違反受損致照顧機構遭失，須負賠償及法律上之責任。                                      &nbsp;
			二、務須養成廉潔之操守，注意維護照顧機構聲譽，不得利用職務上之關係要求或接受客戶招待、餽贈及其他不當利益。                   &nbsp;
			三、不可對外散播任何對照顧機構不利或不實之言語，倘有其事，將依法處理。                    &nbsp;
			四、不得吸食毒品、賭博財物及其他違法或妨害照顧機構聲譽之行為。&nbsp;
			&nbsp;
		</section>
	</main>


	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-148420718-4"></script>
	<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148420718-4');
	</script>

	<div id="wait" style="display:none">
		<p><img src="/images/loading.gif" width="150" height="150"></p>
	</div>
	<div id="wait_content" style="display:none">
		<p>請稍後，系統正在處理中...</p>
	</div>
	<iframe name="actFrame" src="about:blank" style="DISPLAY: none; Z-INDEX: 10; WIDTH: 148px; POSITION: absolute; HEIGHT: 194px; left: 105px; top: 5px" marginwidth="0" marginheight="0" frameborder="0" noresize="" scrolling="no"></iframe>


</body>
</html>