<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>員工工作手冊(5) | 台灣柏佐克智慧型居家照顧管理系統</title>
	<link href="~/images/favicon.ico" type="image/x-icon" rel="Shortcut Icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
	<link rel="stylesheet" href="~/css/layout.css">
	<link rel="stylesheet" href="~/css/page2-8-1.css">
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="~/Scripts/jquery-3.2.1.min.js"></script>
	<script>
		$(function () {
			$('#homepageBtn').click(function () {
				location.href = "/Home/Director";
			});

			$('#lastPage').click(function () {
				history.back();
			});
		});
	</script>
</head>




<body style="zoom: 1;">
	<div class="fixedBtns"><button id="lastPage">上一頁</button><button id="homepageBtn">回首頁</button></div>
	<header class="header wrapper">
		<h1>人事規章</h1>
	</header>
	<main class="main wrapper">
		<section>
			<h2 class="chapterTitle">第一章 總則</h2>
			<h3>第一條（訂立目的）</h3>
			<p>
				本單位之照顧機構（以下簡稱照顧機構）為明確規定勞資雙方之權利義務，健全現代經營管理制度，促使勞雇雙方同心協力，並謀事業發展，特依勞動基準法及相關法令訂定本規則。
			</p>
			<h3>第二條（適用範圍）</h3>
			<p>
				本規則所稱「員工」，係指依勞動契約受僱於照顧機構從事工作獲致工資之不定期契約專職員工。兼職、特約與定期契約人員除工資、退休、資遣等勞動條件外，準用本規則之規定。
			</p>
			<h3>第三條（排除對象）</h3>
			<p>
				本規則所稱「排除對象」，係指依勞動基準法第八十四條之一之規定，得由勞雇雙方另行約定工作時間、延長工時、例假、休假、女性夜間工作人員。
			</p>
			<h3>第四條（疑義解釋）</h3>
			<p>
				本規則適用如發生疑義時，應本勞資和諧之精神由照顧機構管理單位斟酌員工之意見加以解釋，但不得違反法令之強制及禁止規定。
			</p>
		</section>

		<section>
			<h2 class="chapterTitle">第二章 受僱與解僱</h2>
			<h3>第五條（報到手續）</h3>
			<p>
				新進員工於接到通知後，應依規定之到職日至照顧機構辦理報到手續，逾期視為自動放棄，該通知因而失其效力，報到時應繳驗下列文件：
			</p>
			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					照顧機構所定人事資料卡（需貼一張照片）。
				</li>
				<li li-idx="二、">
					繳驗有關證件及國民身分證（影印後發還）。
				</li>
				<li li-idx="三、">
					其他照顧機構要求之文件。
				</li>
				<li li-idx="四、">
					畢業證書影本。
				</li>
				<li li-idx="五、">
					專業證書影本或相關受訓證明書影本(照顧服務員結訓證書要正反面)。
				</li>
				<li li-idx="六、">
					近三個月內體檢證明，必檢項目含胸部X光（結核菌）、血液(梅毒、愛滋、B肝抗原）、糞便（阿米巴痢疾、桿菌性痢疾、寄生蟲）。
				</li>
			</ul>
			<h3>第 六 條 （新進試用）</h3>
			<p>
				新進員工進用必須經由訓練試用，訓練試用期間為三個月，但具特殊技能、專長、經歷，經專案簽准者，不在此限。試用期限中之婚、喪、公假均應補足試用期限。試用合格者依規定正式僱用之，必要時專案簽准者得延長試用期。試用考核不合格者停止僱用，並依第七條第五款規定辦理，工資發放至停止僱用日為止。
			</p>
			<h3>第 七 條 （經預告終止勞動契約）</h3>
			<p>
				非有下列情事之一者，照顧機構不得預告員工終止勞動契約：
			</p>
			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					歇業或轉讓時。
				</li>
				<li li-idx="二、">
					虧損或業務緊縮時。
				</li>
				<li li-idx="三、">
					不可抗力暫停工作在一個月以上時。
				</li>
				<li li-idx="四、">
					業務性質變更，有減少員工之必要，又無適當工作可供安置時。
				</li>
				<li li-idx="五、">
					員工對於所擔任之工作確不能勝任時。
				</li>
			</ul>
			<h3>第 八 條 （終止契約限制期間之例外）</h3>
			<p>
				員工在產假期間或職業災害醫療期間，照顧機構不得終止契約。但若照顧機構遭天災、事變或其他不可抗力致事業不能繼續者，得報主管機關核定後終止勞動契約。
			</p>
			<h3>第 九 條 （資遣預告）  </h3>
			<p>
				依資遣規定終止勞動契約時，預告期間如下：
			</p>
			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					繼續工作三個月以上一年未滿者，於十日前預告之。
				</li>
				<li li-idx="二、">
					繼續工作一年以上三年未滿者，於二十日前預告之。
				</li>
				<li li-idx="三、">
					繼續工作三年以上者，於三十日前預告之。<br />
					員工於接到前項預告後，為另謀工作，得於工作時間請假外出。其請假時數，每星期不得超過二日之工作時間，請假期間之工資照給。照顧機構未依第一項規定期間預告而終止契約時，應發給預告期間之工資。照顧機構員工離職時，應依第一項規定期間提出預告。
				</li>
			</ul>
			<h3>第 十 條 （發放資遣費）  </h3>
			<p>
				凡依規定終止勞動契約之員工，除依規定予以預告或未及預告，而依規定發給預告期間之工資外，應於離職日起三十日內依下列規定發給資遣費：適用勞工退休金條例（勞退新制）退休金制度之工作年資，其資遣費給與標準，照顧機構按其工作年資，每滿一年發給二分之一個月之平均工資，未滿一年者，以比例計給；最高以發給六個月平均工資為限。本條資遣費之發給，不適用於自動辭職核准或定期勞動契約期滿離職之員工。
			</p>
			<h3>第十一條 （不經預告終止勞動契約，解僱原因）  </h3>
			<p>
				凡照顧機構員工有下列情形之一者，照顧機構得不經預告終止契約：
			</p>
			<dl>
				<dt>
					ㄧ、於訂立勞動契約時為虛偽意思表示，使照顧機構誤信而有受損害之虞。
				</dt>
				<dt>
					二、對於照顧機構雇主，雇主家屬、雇主代理人或其他共同工作之員工，實施暴行或有重大侮辱之行為。
				</dt>
				<dt>
					三、受有期徒刑以上刑之宣告確定，而未諭知緩刑或未准易科罰金。
				</dt>
				<dt>
					四、故意損耗機器、工具或其他照顧機構所有之物品，或故意洩漏照顧機構技術上、營業上之秘密致照顧機構受有損害。
				</dt>
				<dt>
					五、無正當理由繼續曠工三日，或一個月內曠工達六日。
				</dt>
				<dt>
					六、違反勞動契約或工作紀律與守則，情節重大。
				</dt>
				<dt>
					七、未依規定執行照顧工作或怠忽職務照顧機構依前項第一款、第二款、第四款至第六款規定終止契約者，於自知悉其情形之日起，三十日內為之。員工有下列情形之一者，視為違反本規則情節重大：
				</dt>
					<dd>
						一、無正當理由拒絕業務指揮，情節重大者。（拒絕上級主官管依照本工作規則規定業務事 項進行業務指揮且態度傲慢無正當理由者。
					</dd>
					<dd>
						二、違反本規則關於員工活動管理之規定，情節重大者。
					</dd>
					<dd>
						三、違反工作規則第執行業務之管理規定，情節重大者。
					</dd>
					<dd>
						四、私自向老人收取回扣，有圖利他人之行為者。
					</dd>
					<dd>
						五、有舞弊行為或教唆他人舞弊。
					</dd>
					<dd>
						六、利用單位名義在外招搖撞騙，有嚴重敗壞善良風俗之行為。
					</dd>
					<dd>
						七、散播不利單位之謠言，破壞單位名譽或勞資關係者。
					</dd>
					<dd>
						八、竊取公物、侵占公款或竊取、侵占案主財物，有具體事證，情節重大者。
					</dd>
					<dd>
						九、聚賭酗酒，施打毒品（例如：海洛英或安非他命等），有傷風化之行為。
					</dd>
					<dd>
						十、偽造、變造或盜用單位印信者。
					</dd>

					<dd>
						十一、煽動怠工或藉故聚眾要脅妨害單位秩序者。
					</dd>
					<dd>
						十二、私自將單位內部文件轉交他人，致損及單位權益者。
					</dd>
					<dd>
						十三、偽造文件（如生命徵象紀錄），造成案主傷害者。
					</dd>
					<dd>
						十四、對案主進行體罰，經查屬實者。
					</dd>
					
					<dd>
						十五、一年內違反單位紀律受懲戒規定，累積滿一大過而無獎勵可抵銷者。
						功過相抵規定如下：
						<ul class="numberUL">
							<li li-idx="*">
								申誡得以嘉獎抵銷。
							</li>
							<li li-idx="*">
								小過得以小功抵銷。
							</li>
							<li li-idx="*">
								大過得以大功抵銷。
							</li>
							功過相抵以當年度所發生者為限，前功不能抵銷後過；後功才可以抵銷前過為原則。

						</ul>
					</dd>
			</dl>	
					<h3>  第十二條 （離職手續）  </h3>
					<p>
						員工離職者，應依照顧機構規定辦妥離職及移交手續。
					</p>
					<h3>第十三條 （服務證明書）  </h3>
					<p>
						勞動契約終止時，經員工之請求，照顧機構應發給服務證明書。
					</p>
					<h3>第十四條 （調動）     </h3>
					<p>
						在不違背勞動契約之約定下，照顧機構因經營上所必需，且對員工薪資及其他勞動條件不作不利之變更，調動後工作與原有工作性質為員工體能及技術可勝任，並考量勞工及其家庭之生活利益後，得依員工之體能及技術調整員工之職務或工作地點，其年資合併計算；員工有正當理由時，得申請覆議。員工之調動工作地點過遠，照顧機構應予以必要之協助。
					</p>
					<h3>第十五條 （調職移交手續）      </h3>
					<p>
						員工接到調任之「人事通知單」，應於三日內辦妥調職移交手續（經另行指定移交日期者除外），就任新職。
					</p>
</section>
		<section>
			<h2 class="chapterTitle">第 三 章 工資、津貼及獎金</h2>
			<h3>第十六條 （工資之議定）   </h3>
			<p>
				員工之工資由照顧機構與員工議定之。但員工在正常工作時間內所得之報酬，不得低於基本工資。
			</p>
			<h3>第十七條 （工資定義）    </h3>
			<p>
				工資項目包括職級本薪(內含全勤津貼、伙食津貼、專業津貼)、季績效獎金等經常性給與及其他名義之非經常性給與。
			</p>
			<h3>第十八條 （工資計算及發放時間） </h3>
			<p>
				照顧機構之工資計算方法，依需要得採計時制、計日制、計月制。
				員工工資之給付，除法令另有規定或與員工另有約定外，全額直接給付員工。 <br />
				員工工資，經員工同意發放時間如下，如遇例假或休假則延後一日發放： <br />
				每月一次：於每月10日發放前月之工資。
			</p>
			<h3>第十九條 （延長工時工作） </h3>
			<p>
				正常工作日或假日延長工時，可申請補休，依勞基法辦理。
			</p>
			<h3>第二十條 （津貼及獎金）   </h3>
			<p>
				薪資調整:照顧機構每年依據物價指數與機構營運情況，並參考同業狀況與本會營運情況及員工個人年度績效，參酌調整薪資，照顧機構並保留調整薪資與否的權利。<br />
				全勤津貼：在經常性給與工資中包含二千元全勤，員工遲到一次減去50元，病假一次減去250 元，事假一次減去500元。<br />
				分配紅利:照顧機構依年終營運績效情況，提撥每季盈餘之10%按員工工作績效發放之、發放日於次月15日，遇假日延後一日。<br />
				久任獎勵：員工服務本會滿三年以上，成績優良者得依下列辦法予以獎勵：
				<ul class="numberUL">
					<li>
						服務滿五年頒發獎牌一面，並給予該月本薪獎勵金。
					</li>
					<li>
						服務滿十年頒發獎牌一面，並給予該月本薪1.5倍獎勵金。
					</li>
					<li>
						服務滿十五年頒發獎牌一面，並給予該月本薪2倍獎勵金。
					</li>
					<li>
						服務滿二十年頒發獎牌一面，並給予一個月本薪2.5倍獎勵金。
					</li>
				</ul>
			</p>
			<h3>第二十條之一 （天然災害發生） </h3>
			<p>
				照顧機構不得再天然災害發生時要求員工工作。
			</p>
		</section>
		<section>
			<h2 class="chapterTitle">第 四 章 工作時間、休息、休假、請假</h2>
			<h3> 第二十一條 （工作時間）</h3>
			<p>
				員工正常工作時間每日不超過八小時，每週不得超過四十小時。照顧機構得視實際需要，依勞動基準法第三十條第二項、第三項及第三十條之一等規定實施彈性工時。<br />
				照顧機構得視勞工照顧家庭成員需要，允許勞工於不變更每日正常工作時數下，在一小時範圍內，彈性調整工作開始及終止之時間。<br />
				依職業安全衛生法第二十一條、第二十九條及第三十一條規定，經醫師建議應縮短工作時間者，照顧機構將參採醫師之建議，調整員工之工作時間；其他法規另有規定者，照顧機構亦將遵守法令規定調整工時。<br />
				子女未滿一歲須員工親自哺乳者，除規定之休息時間外，照顧機構將每日另給哺乳時間二次，每次以三十分鐘為度，哺乳時間，視為工作時間。 <br />
				員工為撫育未滿三歲子女，得請求下列所定事項之一：
				<ul class="cjkUL">
					<li li-idx="一、">
						每天減少工作時間一小時；減少之工作時間，不得請求報酬。
					</li>
					<li li-idx="二、">
						調整工作時間。員工為前二項哺乳時間、減少或調整工時之請求時，照顧機構不得拒絕或視為缺勤而影響其全勤、考績或為其他不利之處分。
					</li>
				</ul>
			</p>
			<h3>第二十二條 （延長工作時間）</h3>
			<p>
				照顧機構有使員工在正常工作時間以外工作之必要者，經本人同意後，得將工作時間延長之。前項延長員工之工作時間連同正常工作時間，一日不得超過十二小時。延長之工作時間，一個月不得超過四十六小時。員工得因健康或其他正當理由，不接受正常工作時間以外之工作。
			</p>
			<h3>第二十三條 （加班指派）</h3>
			<p>
				照顧機構依第二十二條辦理後，因工作需要加班時，加班人員應填寫「加班單」，經權責主管核准後交加班人員憑以加班。
			</p>
			<h3>第二十四條 （休息時間）</h3>
			<p>
				員工繼續工作四小時，應有六十分鐘之休息。但實行輪班制或其工作有連續性或緊急性者，照顧機構得在工作時間內，另行調配其休息時間。
			</p>
			<h3>第二十五條 （例假日）</h3>
			<p>
				員工每七日中至少應有二日之休息，工資照給。
			</p>
			<h3>第二十六條 （休假日）</h3>
			<p>
				員工於紀念日、勞動節日及其他中央主管機關規定應放假之日，均予休假，工資照給。前開休假日經勞雇雙方協商同意後，得酌作調移。
			</p>
			<h3>第二十七條 （特別休假）</h3>
			<p>
				員工於照顧機構繼續工作滿一定期間者，每年均依下列規定給予特別休假：
				<ul class="cjkUL">
					<li li-idx="一、">
						半年尚未滿一年者三日。
					</li>
					<li li-idx="二、">
						一年以上兩年未滿者七日。
					</li>
					<li li-idx="三、">
						兩年以上三年未滿者十日。
					</li>
					<li li-idx="四、">
						兩年以上三年未滿者十日。
					</li>
					<li li-idx="五、">
						五年以上未滿十年者十五天。
					</li>
					<li>
						十年以上者，每一年加給一日，加至三十日為止。前項員工之工作年資自受僱當日起算；特別休假日期應由照顧機構與員工協商排定之；因年度終結或終止契約而未休，且可歸責於照顧機構者，其應休未休之日數，由照顧機構發給工資。
					</li>
				</ul>
			</p>
			<h3>二十八條 （休假日工作） </h3>
			<p>
				第二十五條所定之例假，第二十六條所定之休假及第二十七條所定之特別休假，工資照給。因照顧機構主辦活動經徵得員工同意於第二十六條及 第二十七條之休假日工作者，可於事後申請補休假。
			</p>
			<h3>第二十九條 （停止假期） </h3>
			<p>
				因天災、事變或突發事件，照顧機構認為有繼續工作之必要時，得停止第二十五條至第二十七條所定員工之假期。但停止假期之工資，加倍發給，並應於事後補假休息。
			</p>

			<h3>第三十條 （給假及育嬰留職停薪規定） </h3>
			<p>
				<ul class="cjkUL">
					員工因婚、喪、疾病或其他正當理由得請假，假別分為婚假、事假、家庭照顧假、普通傷病假、生理假、喪假、公傷病假、產假、公假、產檢假、陪產假及安胎休養請假等十二種。准假日數及工資給付如下：
					<li li-idx="一、">
						婚假：員工結婚者給予婚假八日，可自結婚之日前十日起三個月內請畢。但經照顧機構同意者，得於一年內請畢。婚假期間，工資照給。
					</li>
					<li li-idx="二、">
						事假：員工因事必須親自處理者，得請事假；一年內合計不得超過十四日。事假期間不給工資。
					</li>
					<li li-idx="三、">
						普通傷病假：員工因普通傷害、疾病或生理原因必須治療或休養者，得依下列規定請普通傷病假，請假連續1日（含）以上者，須附繳醫療證明（普通傷病假一年內合計未超過三十日部分，工資折半發給，其領有勞工保險普通傷病給付未達工資半數者，由照顧機構補足之）。

						<ul class="numberUL">

							<li li-idx="(一)">
								未住院者，一年內合計不得超過三十日。
							</li>
							<li li-idx="(二)">
								住院者，二年內合計不得超過一年。
							</li>
							<li li-idx="(三)">
								未住院傷病假與住院傷病假，二年內合計不得超過一年。經醫師診斷，罹患癌症（含原位癌）採門診方式治療或懷孕期間需安胎休養者，其治療或休養期間，併入住院傷病假計算。普通傷病假超過前款規定之期限，經以事假或特別休假抵充後仍未痊癒者，經照顧機構同意得予留職停薪。逾期未癒者得予資遣，惟如適用勞動基準法退休金制度且符合退休要件者，應發給退休金。
							</li>
						</ul>
					</li>
					<li li-idx="四、">
						生理假：女性員工因生理日致工作有困難者，每月得請生理假一日，全年請假日數未逾三日，不併入病假計算，其餘日數併入病假計算。
					</li>
					<li li-idx="五、">
						喪假：工資照給。員工喪假得依習俗於百日內分次申請。

						<ul class="numberUL">

							<li li-idx="(一)">
								父母、養父母、繼父母、配偶喪亡者，給予喪假八日。
							</li>
							<li li-idx="(二)">
								（外）曾祖父母、兄弟姊妹、配偶之（外）祖父母喪亡者，給予喪假三日。
							</li>
						</ul>
					</li>
					<li li-idx="六、">
						公傷病假：員工因職業災害而致殘廢、傷害或疾病者，其治療、休養期間，給予公傷病假。
					</li>
					<li li-idx="七、">
						產假：
						<ul class="numberUL">

							<li li-idx="(一)">
								女性員工分娩前後，應停止工作，給予產假八星期。
							</li>
							<li li-idx="(二)">
								妊娠三個月以上流產者，應停止工作，給予產假四星期。
							</li>
							<li li-idx="(三)">
								第一目、第二目規定之女性員工受僱工作在六個月以上者，停止工作期間工資照給，滿六個月者減半發給。
							</li>
							<li li-idx="(四)">
								妊娠二個月以上未滿三個月流產者，應停止工作，給予產假一星期。
							</li>
							<li li-idx="(五)">
								妊娠未滿二個月流產者，應停止工作，給予產假五日。
							</li>
							<li li-idx="(六)">
								女性員工請產假須提出證明文件。
							</li>
						</ul>
					</li>

					<li li-idx="八、">
						安胎休養請假：員工懷孕期間需安胎休養者，其治療或休養期間，併入住院傷病假計算。安胎休養請假薪資之計算，依病假規定辦理。
					</li>

					<li li-idx="九、">
						陪產假：員工於其配偶分娩時，得於配偶分娩之當日及其前後合計十五日期間內，擇其中之五日請陪產假。陪產假期間，薪資照給。
					</li>

					<li li-idx="十、">
						產檢假：員工妊娠期間，給予產檢假五日。產檢假期間，薪資照給。
					</li>

					<li li-idx="十一、">
						家庭照顧假：員工於其家庭成員預防接種、發生嚴重之疾病或其他重大事故須親自照顧時，得請家庭照顧假；其請假日數併入事假計算，全年以七日為限。家庭照顧假薪資之計算，依事假規定辦理
					</li>

					<li li-idx="十二、">
						公假：員工有依法令規定應給公假情事者，依實際需要天數給予公假，工資照給。員工請特別休假、婚假、喪假、公傷病假、公假、產假者，仍發給全勤。              員工任職滿六個月後，於每一子女滿三歲前，得申請育嬰留職停薪，期間至該子女滿三歲止，但不得逾二年。同時撫育子女二人以上者，其育嬰留職停薪期間應合併計算，最長以最幼子女受撫育二年為限。員工申請生理假、育嬰留職停薪、家庭照顧假、陪產假、安胎休養請假、產假、產檢假時，照顧機構不得拒絕或視為缺勤而影響其全勤、考績或為其他不利之處分。
					</li>

				</ul>
			</p>

			<h3>第三十一條 （請假手續） </h3>
			<p>
				由於照顧機構皆屬小規模之單位，工作人員少，故員工請假者工作日請假以1位為原則。請假手續應事先填寫請假單或口頭敘明理由經核定後方可離開工作崗位或不出勤；如遇急病或臨時重大事故，立即委託同事、家屬、親友代辦請假手續填具文書報告單位主管。如需補述理由或提供證明，當事人應於一日內提送，其工作單位按權責核定之。
			</p>

			<h3>第三十二條 （請假日數計算） </h3>
			<p>
				員工事假及普通傷病假全年總日數的計算，均自每年一月一日起至同年十二月三十一日止。
			</p>
			<h3>第三十三條 （請假計算單位） </h3>
			<p>
				請假之最小單位，半日計。一次連續請普通傷病假超過三十日以上之期間，如遇例假日、紀念日、勞動節日及由中央主管機關規定應放假之日，併計於請假期間內。
			</p>
		</section>
		<section>
			<h2 class="chapterTitle">第 五 章 退 休</h2>
			<h3>第三十四條 （自請退休）</h3>
			<p>
				員工有下列情形之一者，得自請退休：
				<ul class="cjkUL">
					<li li-idx="一、">
						工作十五年以上年滿五十五歲者。
					</li>
					<li li-idx="二、">
						工作二十五年以上者。
					</li>
					<li li-idx="三、">
						工作十年以上年滿六十歲者。
					</li>
				</ul>
			</p>
			<h3>第三十五條 （強制退休）</h3>
			<p>
				員工非有下列情形之一者，照顧機構不得強制其退休：
				<ul class="cjkUL">
					<li li-idx="一、">
						年滿六十五歲者。
					</li>
					<li li-idx="二、">
						心神喪失或身體殘廢不堪勝任工作者。<br />
						前項第一款所規定之年齡，對於擔任具有危險、堅強體力等特殊性質之工作者，照顧機構得報請中央主管機關核准調整，但不得少於五十五歲。
					</li>
				</ul>
			</p>
			<h3>第三十六條 （退休金給與標準）</h3>
			<p>
				員工退休金給與標準如下：
				<ul class="cjkUL">
					<li li-idx="一、">
						適用勞動基準法前、後之工作年資及依勞工退休金條例選擇繼續適用「勞動基準法」退休金規定或保留適用勞工退休金條例前之工作年資，其退休金給與標準依勞動基準法第八十四條之二及第五十五條計給。
					</li>
					<li li-idx="二、">
						具有前款之工作年資且依第三十五條第一項第二款規定強制退休之員工，其心神喪失或身體殘廢係因執行職務所致者，依勞動基準法第五十五條第一項第二款規定加給百分之二十。
					</li>
					<li li-idx="三、">
						適用勞工退休金條例退休金規定之員工，照顧機構按月提繳其工資6%（不得低於6%）之金額至勞工個人之退休金專戶。
					</li>
				</ul>
			</p>
			<h3>第三十七條 （退休金給付） </h3>
			<p>
				照顧機構應給付員工適用勞動基準法退休金規定之退休金，自員工退休之日起三十日內給付之。
			</p>
			<h3>第三十八條 （退休金請求時效）  </h3>
			<p>
				退休金請求權之時效如下：員工適用勞動基準法退休金規定者，其請領退休金權利，自退休之次月起，因五年間不行使而消滅。請領退休金權利不得讓與、抵銷、扣押或供擔保。員工依勞動基準法規定請領退休金者，得檢具證明文件，於金融機構開立專戶，專供存入勞工退休金之用。專戶內之存款，不得作為抵銷、扣              押、供擔保或強制執行之標的。
			</p>
		</section>
		<section>
			<h2 class="chapterTitle">第 六 章 女工</h2>
			<h3>第三十九條 （女工夜間工作保護） </h3>
			<p>
				照顧機構不得使女性員工於午後十時至翌晨六時之時間內工作。但經本人同意後，且符合下列各款規定者，不在此限：
				<ul class="cjkUL">
					<li li-idx="一、">
						提供必要之安全衛生設施。
					</li>
					<li li-idx="二、">
						無大眾運輸工具可資運用時，提供交通工具或安排女工宿舍。<br />
						女性員工因健康或其他正當理由，不能於午後十時至翌晨六時之時間內工作者，照顧機構不得強制其工作。<br />
						第一項規定，於因天災、事變或突發事件，照顧機構必須使女性員工於午後十時至翌晨六時之時間內工作時，不適用之。<br />
						第一項但書及前項規定，於妊娠或哺乳期間之女性員工，不適用之。<br />
					</li>
				</ul>
			</p>
		</section>
		<section>
			<h2 class="chapterTitle">第 七 章 考勤、考核、獎懲、升遷</h2>
			<h3>第四十一條 （遲到早退）  </h3>
			<p>
				員工應準時上、下班，並依規定按時打卡（簽到）。有關遲到、早退、曠職規定如下：
				<ul class="cjkUL">
					<li li-idx="一、">
						員工逾規定上班時間出勤者，視為遲到。但偶發事件經單位主管核准當日補請假者，視為請假。
					</li>
					<li li-idx="二、">
						於規定下班時間前無故擅離工作場所者，視為早退。
					</li>
					<li li-idx="三、">
						未經辦理請假手續或假滿未經續假，而無故擅不出勤者，以曠職論。
					</li>

					<li li-idx="四、">
						在工作時間內未經准許或辦理請假手續，無故擅離工作場所或外出者，該缺勤期間以曠職論。
					</li>
				</ul>
			</p>
			<h3>第四十二條 （考核對象）   </h3>
			<p>
				照顧機構為激勵士氣，確保工作精進，得視需要辦理每季員第四十三條 （獎懲及升遷）工考核。<br />
				照顧機構為激勵士氣，確保工作精進，得視員工表現辦理員工獎懲及升遷。<br />
				員工獎勵區分為嘉獎、小功、大功等三種；懲戒區分為申誡、小過、大過等三種，員工之獎懲得酌發（扣）獎金。<br />
				<ul class="cjkUL">
					<li li-idx="一、">
						嘉獎
						有下列事蹟之一者，得予記嘉獎：
						<ul class="numberUL">
							<li li-idx="*">
								工作勤奮、服務態度良好、績效優良，有具體事實者。
							</li>
							<li li-idx="*">
								拾物不昧（價值在新台幣壹仟元（含）以上）。
							</li>
							<li li-idx="*">
								熱心服務，有具體事蹟者。
							</li>
							<li li-idx="*">
								著有其他足以嘉獎之功績者。
							</li>
							<li li-idx="*">
								半年（滿）內無遲到早退或請假者。
							</li>
							<li li-idx="*">
								不私下接受家屬餽贈，有具體事實者。
							</li>
						</ul>
					</li>
					<li li-idx="二、">
						小功
						有下列事蹟之一者，得予記小功：
						<ul class="numberUL">
							<li li-idx="*">
								對於管理制度或業務改進積極建議，經採納施行，有具體成效者。
							</li>
							<li li-idx="*">
								對主辦業務積極推進，績效卓越或領導有方，有具體成效者。
							</li>
							<li li-idx="*">
								遇有災變或緊急事故（如病人危急．．．），勇於負責，積極處理並處置得宜者。
							</li>
							<li li-idx="*">
								熱誠負責，使業務發展有相當績效者。
							</li>
							<li li-idx="*">
								堅守個人工作崗位，不為威脅利誘，有具體事實者。
							</li>
							<li li-idx="*">
								計劃周詳，執法得當，節省大量公帑或人力，有具體實證者。
							</li>
							<li li-idx="*">
								對舞弊或有損於單位利益之事件，於事前舉發或防止，使單位免受或減少損害者。
							</li>

							<li li-idx="*">
								著有其他足以記功之功績者。
							</li>
						</ul>
					</li>

					<li li-idx="三'">
						大功
						有下列事蹟之一者，得予記大功：
						<ul class="numberUL">
							<li li-idx="*">
								主辦業務有重大革新，提出具體方案，經採行有卓越貢獻者。
							</li>
							<li li-idx="*">
								辦理重要業務，成效特優或有特殊功績者。
							</li>
							<li li-idx="*">
								檢舉或協助破獲違法、瀆職案件，使單位免受重大損失者。
							</li>
							<li li-idx="*">
								遇有意外事件或災變，奮不顧身，因而使單位減免損害者。
							</li>
							<li li-idx="*">
								維護員工安全，冒險執行任務，確有功績者。
							</li>
							<li li-idx="*">
								維護單位重大利益，能消弭嚴重損害單位或公益之意外或重大變故，避免重大損失者。
							</li>
							<li li-idx="*">
								著有其他足以記大功之功績者。
							</li>
						</ul>
					</li>
					<li li-idx="四、">
						申誡<br />
						有下列情事之一經查證確實者，得予記申誡：
						<ul class="numberUL">
							<li li-idx="*">
								工作不力、廢弛職務者。
							</li>
							<li li-idx="*">
								工作疏失，造成單位與案主或其家屬糾紛，情節輕微者。
							</li>
							<li li-idx="*">
								發現其他人員對案主有不適當之行為，知情不報者。
							</li>
							<li li-idx="*">
								辦事疏忽，發生錯誤，致單位遭受影響者。
							</li>
							<li li-idx="*">
								每月遲到、早退次數累積達2次以上或曠職達半日以上者，該段時間並依規定不給薪。
							</li>
							<li li-idx="*">
								未做好案主與單位之溝通橋樑者（如：案主之意見未轉達給單位或單位實施之活動未告知案主．．．等）。
							</li>
							<li li-idx="*">
								在工作時間內擅離職位者。
							</li>

							<li li-idx="*">
								因過失致發生工作錯誤，情節輕微者。
							</li>
							<li li-idx="*">
								妨害秩序，影響單位內安寧者。
							</li>
							<li li-idx="*">
								初次不遵從主管人員合理指揮者。
							</li>
							<li li-idx="*">
								浪費公物或浮報費用，情節輕微者。
							</li>
							<li li-idx="*">
								上班時間處理私人事務（如撥私人電話．．．）。
							</li>
						</ul>

					<li li-idx="五、">
						小過<br />
						有下列情事之一經查證確實者，得予記小過：
						<ul class="numberUL">
							<li li-idx="*">
								故意忽視工作安全守則因而發生事故者。
							</li>
							<li li-idx="*">
								品行失檢足以損害單位信譽者。
							</li>
							<li li-idx="*">
								對上級工作指示或有期限性之要求，未申報正當理由而怠忽延誤，或處理不當造成損害者。
							</li>
							<li li-idx="*">
								於工作場所內抽煙者。
							</li>
							<li li-idx="*">
								每月遲到、早退次數累積達五次以上或無故曠職達一天以上者，該段時間並依規定不給薪。
							</li>
							<li li-idx="*">
								主管人員因管理不當，有失職守者。
							</li>
							<li li-idx="*">
								因照顧不週，致案主發生輕微受傷者。
							</li>

							<li li-idx="*">
								偽造工作報表或其他文件搪塞者。
							</li>
							<li li-idx="*">
								破壞公物者。
							</li>
							<li li-idx="*">
								洩漏營業機密情節輕微者。
							</li>
							<li li-idx="*">
								對同仁惡意攻訐、誣告、偽證而製造事端者。
							</li>
							<li li-idx="*">
								投機取巧、隱瞞矇蔽，謀取非份利益者。
							</li>
						</ul>

					</li>
					<li li-idx="六、">
						大過<br />
						有下列情事之一經查證確實者，得予記大過處分：
						<ul class="numberUL">
							<li li-idx="*">
								利用個人職務上之關係，謀取個人利益，致發生重大弊端者。
							</li>
							<li li-idx="*">
								利用個人職務上之關係，從事股票、期貨等投機性買賣行為者。
							</li>
							<li li-idx="*">
								私下接受案主或其家屬之餽贈，或與案主及其家屬有金錢往來或糾紛。
							</li>
							<li li-idx="*">
								私下推銷產品給案主或其家屬者。
							</li>
							<li li-idx="*">
								利用單位名義在外招搖撞騙，至單位蒙受損害者。
							</li>
							<li li-idx="*">
								浪費或破壞公務設備或公用物品，而使單位蒙受損害者。
							</li>
							<li li-idx="*">
								洩漏營業上機密，致單位蒙受重大損失或嚴重影響單位商譽者。
							</li>

							<li li-idx="*">
								因照顧不週，致案主發生重大傷害者。
							</li>
							<li li-idx="*">
								無故曠職二日，該段時間並依規定不給薪。
							</li>
							<li li-idx="*">
								虛報加班、旅費等領受不當金錢者。
							</li>
							<li li-idx="*">
								在單位內酗酒、滋事、賭博者。
							</li>
							<li li-idx="*">
								工作時間與人爭吵因而影響正常工作者。
							</li>
							<li li-idx="*">
								擅離工作場所致發生變故，使單位蒙受重大損失者。
							</li>
							<li li-idx="*">
								毀壞公文或公共文件者。
							</li>
							<li li-idx="*">
								拒絕聽從主管人員合理指揮監督，屢勸不聽者。
							</li>
							<li li-idx="*">
								以誣告或威脅手段陷害同仁，其事證確鑿者。
							</li>
							<li li-idx="*">
								遺失經管之重要公務用品（包括文件、印信、電腦軟體、鑰匙等）。
							</li>
							<li li-idx="*">
								私下要求或接受客戶基本資料或提供個人基本資料給客戶者（如通訊資料．．．）。
							</li>
							<li li-idx="*">
								故意忽視作業守則，影響服務品質，致使單位蒙受損失者。
							</li>
						</ul>
					</li>
				</ul>
			</p>
		</section>
		<section>
			<h2 class="chapterTitle">第 八 章 職業災害補償及撫卹</h2>
			<h3>第四十四條 （職業災害補償） </h3>
			<p>
				員工因遭遇職業災害而致死亡、殘廢、傷害或疾病時，照顧機構應依下列規定予以補償。但如同一事故，依勞工保險條例或其他法令規定，已由照顧機構支付費用補償者，照顧機構得予以抵充之：
				<ul class="cjkUL">
					<li li-idx="一、">
						員工受傷或罹患職業病時，照顧機構應補償其必需之醫療費用。職業病之種類及其醫療範圍，依勞工保險條例有關之規定。
					</li>
					<li li-idx="二、">
						員工在醫療中不能工作時，照顧機構應按其原領工資數額予以補償。但醫療期間屆滿二年仍未能痊癒，經指定之醫院診斷，審定為喪失原有工作能力，且不合本條第三款之殘廢給付標準者，照顧機構得一次給付四十個月之平均工資後，免除此項工資補償責任。
					</li>
					<li li-idx="三、">
						員工經治療終止後，經指定之醫院診斷，審定其身體遺存殘廢者，照顧機構應按其平均工資及其殘廢程度，一次給予殘廢補償。殘廢補償標準，依勞工保險條例有關失能給付標準之規定。
					</li>
					<li li-idx="四、">
						員工遭遇職業傷害或罹患職業病而死亡時，照顧機構除給與五個月平均工資之喪葬費外，並應一次給與其遺屬四十個月平均工資之死亡補償。其遺屬受領死亡補償之順位如下：
						<ul class="numberUL">
							<li li-idx="(一)">
								配偶及子女。
							</li>
							<li li-idx="(二)">
								父母。
							</li>
							<li li-idx="(三)">
								祖父母。
							</li>
							<li li-idx="(四)">
								孫子女。
							</li>
							<li li-idx="(五)">
								兄弟、姐妹。
							</li>
						</ul>
					<li li-idx="五、">
						員工如有符合勞工保險被保險人因執行職務而致傷病審查準則第四條、第九條、第十條、第十六條及第十七條之規定而有下列情事之一 者，不得視為職業傷害：
						<ul class="numberUL">
							<li li-idx="(一)">
								非工作需求之私人行為。
							</li>
							<li li-idx="(二)">
								未按照工作標準程序工作或未按照主管指示，私自錯誤動作行為。
							</li>
							<li li-idx="(三)">
								未領有駕駛車種之駕駛執照駕車者。
							</li>
							<li li-idx="(四)">
								受吊扣期間或吊銷駕駛執照處分駕車者。
							</li>
							<li li-idx="(五)">
								經有燈光號誌管制之交岔路口違規闖紅燈者。
							</li>
							<li li-idx="(六)">
								闖越鐵路平交道者。
							</li>
							<li li-idx="(七)">
								酒精濃度超過規定標準、吸食毒品、迷幻藥或管制藥品駕駛車輛者。
							</li>
							<li li-idx="(八)">
								駕駛車輛違規行駛高速公路路肩者。
							</li>
							<li li-idx="(九)">
								駕駛車輛不按遵行之方向行駛或在道路上競駛、競技、蛇行或以其他危險方式駕駛車輛者。
							</li>
							<li li-idx="(十)">
								駕駛車輛不依規定駛入來車道者。<br />
								上述情況若造成機構損害，照顧機構依法求償。<br />
								員工對機構內之公物若有損壞應負損壞賠償責任。
							</li>
						</ul>
					</li>
				</ul>
			</p>
			<h3>第四十五條 （職業災害補償抵充）  </h3>
			<p>
				照顧機構依前條規定給付之補償金額，得抵充就同一事故所生損害之賠償金額。
			</p>
			<h3>第四十六條 （職業災害補償請求時效）</h3>
			<p>
				第四十四條之受領補償權，自得受領之日起，因二年間不行使而消滅。<br />
				受領補償之權利，不因員工離職而受影響，且不得讓與、抵銷、扣押或擔保。
			</p>
			<h3>第四十七條 （撫卹）</h3>
			<p>
				以雇主意外保險理賠金抵充之。
			</p>
		</section>
		<section>
			<h2 class="chapterTitle">第 九 章 福利措施與安全衛生</h2>
			<h3>第四十八條 （勞工保險、就業保險及全民健康保險）  </h3>
			<p>
				員工均由照顧機構依法令規定辦理參加勞工保險、就業保險及全民健康保險，並享有相關保險給付權利。對於同仁發生各該保險之保險事故時，由照顧機構依法為其辦理請領保險給付手續。
			</p>
			<h3>第四十九條 （員工福利） </h3>
			<p>
				為辦理員工福利事項，照顧機構依「職工福利金條例」規定提撥福利金。照顧機構在每季營運績效良好，每季盈餘之5% 提撥之，由主任負責                 不定時辦理職工福利事項。
			</p>
			<h3>第五十條 （安全衛生）</h3>
			<p>
				照顧機構依據勞工安全衛生法，辦理勞工安全衛生工作，防止職業災害發生；每年定期提供員工體檢一次，以保障員工安全與健康。
			</p>
		</section>
		<section>
			<h2 class="chapterTitle">第 十 章 其 他</h2>
			<h3>第五十一條 (意見溝通)  </h3>
			<p>
				照顧機構設置員工意見信箱，博採員工建議，建立制度化的溝通與申訴管道，並對員工的疑惑及期望作合理的答覆與處理。
			</p>
			<h3>第五十二條 （補充規定） </h3>
			<p>
				本規則若有法令修改、未盡事宜或涉及員工其他權利義務事項，照顧機構得視實際需要，按照有關法令規定辦理之。
			</p>
			<h3>第五十三條 （實施） </h3>
			<p>
				本規則報請主管機關核備後公告施行，修正時亦同。
			</p>
		</section>





	</main>


	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-148420718-4"></script>
	<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148420718-4');
	</script>

	<div id="wait" style="display:none">
		<p><img src="/images/loading.gif" width="150" height="150"></p>
	</div>
	<div id="wait_content" style="display:none">
		<p>請稍後，系統正在處理中...</p>
	</div>
	<iframe name="actFrame" src="about:blank" style="DISPLAY: none; Z-INDEX: 10; WIDTH: 148px; POSITION: absolute; HEIGHT: 194px; left: 105px; top: 5px" marginwidth="0" marginheight="0" frameborder="0" noresize="" scrolling="no"></iframe>


</body>
</html>