<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>員工工作手冊(4) | 台灣柏佐克智慧型居家照顧管理系統</title>
	<link href="~/images/favicon.ico" type="image/x-icon" rel="Shortcut Icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
	<link rel="stylesheet" href="~/css/layout.css">
	<link rel="stylesheet" href="~/css/page2-8-1.css">
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="~/Scripts/jquery-3.2.1.min.js"></script>
	<script>
		$(function () {
			$('#homepageBtn').click(function () {
				location.href = "/Home/Director";
			});

			$('#lastPage').click(function () {
				history.back();
			});
		});
	</script>
</head>




<body style="zoom: 1;">
	<div class="fixedBtns"><button id="lastPage">上一頁</button><button id="homepageBtn">回首頁</button></div>
	<header class="header wrapper">
		<h1>緊急意外事件處理辦法</h1>
	</header>
	<main class="main wrapper">
		<ul class="cjkUL">
			<li li-idx="ㄧ、">
				設有申訴、求助與通報專線(日間)、                  (夜間)、
			</li>
			<li li-idx="二、">
				機構簡介及督導名片方便聯絡,如果有任何問題或狀況可立刻通報立即處理。
			</li>
			<li li-idx="三、">
				機構設有申訴、求助與通報表,填具表以方便後續的追蹤處理。
			</li>
			<li li-idx="四、">
				申訴處理流程
				<ul class="numberUL">
					<li>
						針對服務狀況進行滿意度調查,以適度瞭解服務概況及需改進之處。
					</li>
					<li>
						立申訴處理流程及原則,設立申訴專線與管道,並明確告知案主及案家屬,以維持服務品質。申訴案件標準化的作業流程,以求達到公平公正、迅速處理等原則,流程如下:
					</li>
				</ul>
				<img src="~/images/img-book4-1.png" alt="">
			</li>
			<li li-idx="五、">
				緊急事件,包括下列事件:
				<ul class="cjkQuoteUL">
					<li li-idx="（ㄧ）">
						天然災害:風災、水災、震災、土石流等天然災害。
					</li>
					<li li-idx="（二）">
						意外事件:毒性化學物質災害、動物性傷害、傳染病、食(藥)物中毒、交通事故及其他意外性傷亡事件。
					</li>
					<li li-idx="（三）">
						公共安全事件：火災、爆炸災、公用氣體與油料管線、輸電線路災害及其他因公共設施產生之傷害。
					</li>
					<li li-idx="（四）">
						暴力衝突事件：各機構內外之衝突、暴力或攻擊事件。
					</li>
					<li li-idx="（五）">
						其他緊急事件。
					</li>
				</ul>
			</li>
			<li li-idx="六、">
				機構應針對可能發生之危機事件，加強防範，採取下列預防措施：
				<ul class="cjkQuoteUL">
					<li li-idx="（ㄧ）">
						成立危機管理小組，明確劃分工作權責，並由主任擔任召集人。
					</li>
					<li li-idx="（二）">
						針對各種危機事件，訂定應變計畫及處理流程（如附件）。
					</li>
					<li li-idx="（三）">
						隨時偵測發掘可能之危機，加強防範措施。
					</li>
					<li li-idx="（四）">
						定期辦理住民與員工防災之安全演練。
					</li>
					<li li-idx="（五）">
						貫徹工作流程：機構訂定工作正確流程，提供員工遵循執行，減少危機事件發生。
					</li>
					<li li-idx="（六）">
						建立緊急通報系統，並隨時更新資料。
					</li>
					<li li-idx="（七）">
						加強特殊個案及員工（如：曾有暴力衝突、酗酒等）之輔導。
					</li>
					<li li-idx="（八）">
						定期辦理特殊個案研討，並製作紀錄。
					</li>
					<li li-idx="（九）">
						建立住民互助及通報機制。
					</li>
					<li li-idx="（十）">
						強化安全防護措施，各項救援、防護及逃生設備應定期維修及更新。
					</li>
				</ul>
			</li>
			<!-- <li li-idx="七、">
				Magni sint voluptate id voluptatum expedita minus eligendi incidunt fugiat sit eos at, quidem
				nostrum eveniet, ea, consequuntur aperiam? Hic voluptatibus adipisci mollitia in laboriosam,
				voluptates incidunt magnam quasi quaerat!
			</li> -->
			<li li-idx="八、">
				機構針對可能發生之危機事件，應依下列原則訂定標準處理程序：
				<ul class="cjkQuoteUL">
					<li li-idx="（ㄧ）">
						現場緊急處理並通知主任。
					</li>
					<li li-idx="（二）">
						依危機處理小組分工權責辦理：
						<ul class="numberUL">
							<li>
								報案：視事件性質轄區派出所報案並配合採證。
							</li>
							<li>
								緊急送醫救護。
							</li>
							<li>
								通報：通報家屬及主管單位。
							</li>
						</ul>
					</li>
					<li li-idx="（三）">
						召開危機處理小組會議。
					</li>
					<li li-idx="（四）">
						確定後續處理工作，並研擬善後計畫。
					</li>
					<li li-idx="（五）">
						檢討及善後處理。
					</li>
				</ul>
			</li>
			<li li-idx="九、">
				為適時掌握機構危機事件，加速處理應變，依各級危機事件之輕重程度區分如下：
				<ul class="cjkQuoteUL">
					<li li-idx="（ㄧ）">
						甲級事件：
						<ul class="numberUL">
							<li>
								住民、員工因危機事件導致人員死亡。
							</li>
							<li>
								住民、員工經醫師診斷罹患傳染病或疑似罹患傳染病致死。
							</li>
							<li>
								住民、員工疑似群聚感染傳染病。
							</li>
						</ul>
					</li>
					<li li-idx="（二）">
						乙級事件：
						<ul class="numberUL">
							<li>
								住民、員工因危機事件導致重傷或有死亡之虞。
							</li>
							<li>
								住民、員工疑似罹患傳染病。
							</li>
							<li>
								其他未達甲級事件程度，且機構無法即時處理之事件。
							</li>
						</ul>
					</li>
					<li li-idx="（三）">
						丙級事件：
						<ul class="numberUL">
							<li>
								住民、員工因危機事件受傷。
							</li>
							<li>
								其他未達乙級事件程度，且各機構無法即時處理之事件。
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li li-idx="十、">
				機構發生危機事件時，應依下列時限通報：
				<ul class="cjkQuoteUL">
					<li li-idx="（ㄧ）">
						甲級事件：應於獲知事件10分鐘內先以口頭通報主管單位。
					</li>
					<li li-idx="（二）">
						乙級事件：應於獲知事件1小時內先以口頭通報主管單位。
					</li>
					<li li-idx="（三）">
						丙級事件：應於獲知事件24小時內，通報主管單位。
					</li>
				</ul>
				<img src="~/images/img-book4-2.jpg" alt="">
			</li>
		</ul>
	</main>


	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-148420718-4"></script>
	<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148420718-4');
	</script>

	<div id="wait" style="display:none">
		<p><img src="/images/loading.gif" width="150" height="150"></p>
	</div>
	<div id="wait_content" style="display:none">
		<p>請稍後，系統正在處理中...</p>
	</div>
	<iframe name="actFrame" src="about:blank" style="DISPLAY: none; Z-INDEX: 10; WIDTH: 148px; POSITION: absolute; HEIGHT: 194px; left: 105px; top: 5px" marginwidth="0" marginheight="0" frameborder="0" noresize="" scrolling="no"></iframe>


</body>
</html>