<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>申訴處理表 - 第一步驟 | 台灣柏佐克智慧型居服照顧管理系統</title>
	<link href="~/images/favicon.ico" type="image/x-icon" rel="Shortcut Icon">
	<link rel="stylesheet" href="~/css/font-awesome/all.css">
	<script src="https://kit.fontawesome.com/2594af17cb.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="~/css/font-awesome/all.css">
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/layout.css">
	<link rel="stylesheet" href="~/css/page2-2.css">
	<link rel="stylesheet" href="~/css/page2-3-3.css">
	<link rel="stylesheet" href="~/css/wait.css">
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="~/Scripts/jquery-3.2.1.min.js"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<!--Get your own code at fontawesome.com-->
	<script>
		$(function () {
			$('#homepageBtn').click(function () {
				location.href = "/Home/Director";
			});

			$('#lastPage').click(function () {
				history.back();
			});
		});
	</script>
	<style type="text/css">
		.auto-style1 {
			text-align: right;
		}

		.auto-style4 {
			text-align: left;
			font-size: x-large;
		}
	</style>
</head>


<body>
			<div class="auto-style1">
			<div>
					<button id="lastPage">上一頁</button><button id="homepageBtn">回首頁</button>
			</div>
	<div class="auto-style1">
		<div class="auto-style4">
				<strong>申請紀錄表&nbsp; </strong>
			</div>

	<center>
		<table width="400" height="150">
			<tr>
				<td width="200" align="left">
					<font size="4">申訴者姓名:</font>
				</td>
				<td></td>
			</tr>
			<tr>
				<td width="200" align="left">
					<font size="4">申訴者身分:</font>
				</td>
				<td></td>
			</tr>
			<tr>
				<td width="200" align="left">
					<font size="4">申訴者連絡電話:</font>
				</td>
				<td></td>
			</tr>
			<tr>
				<td width="200" align="left">
					<font size="4">申訴者日期:</font>
				</td>
				<td></td>
			</tr>
			<tr>
				<td width="200" align="left">
					<font size="4">申訴者類別:</font>
				</td>
				<td></td>
			</tr>
		</table>
		<p></p>
		<p></p>
		<table width="800" height="150">
			<tr>
				<td>
					<font size="4">事件原由:</font>
				</td>
			</tr>
		</table>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
		<table width="800" height="75">
			<tr>
				<td>
					<font size="4">跨專業會診:&nbsp;&nbsp;&nbsp;<input type="checkbox" />護理&nbsp;&nbsp;<input type="checkbox" />營養&nbsp;&nbsp;<input type="checkbox" />復能&nbsp;&nbsp;<input type="checkbox" />職能&nbsp;&nbsp;<input type="checkbox" />藥事&nbsp;&nbsp;<input type="checkbox" />社工&nbsp;&nbsp;<input type="checkbox" />主任&nbsp;&nbsp;<input type="checkbox" />法律顧問&nbsp;&nbsp;<input type="checkbox" />經營顧問</font>
				</td>
		</table>
		<table width="600">
			<tr>
				<td align="right">
					<Font size="3">
						關鍵字&nbsp;&nbsp;&nbsp;<input type="text" />&nbsp;&nbsp;&nbsp;
						<div class="btn btn-primary">查詢</div>
					</Font>
				</td>
			</tr>
		</table>
		<table width="800" height="75">
			<tr>
				<td width="100">
					<font size="4">事件處遇:</font>
				</td>
				<td></td>
			</tr>

		</table>
		<br />
		<br />
		<br />
		<br />
		追蹤期間設定:<select class="form-control" name="condition.State" id="" style="width:170px;display:inline">
			<option value="ALL">十分鐘</option>
			<option value="AP">二十分鐘</option>
			<option value="APP">三十分鐘</option>
		</select><br />
		<br />
		<font size="4"><div class="btn btn-success">存檔</div></font>
	</center>
	</div>
			</div>
</body>
</html>

