<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>職務代理要點 | 台灣柏佐克智慧型日間照顧管理系統</title>
	<link href="~/images/favicon.ico" type="image/x-icon" rel="Shortcut Icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/page2-8-1.css">
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="/js/jquery-1.10.2.min.js"></script>
	<script>
		$(function () {
			$('#homepageBtn').click(function () {
				location.href = "/Home/Director";
			});

			$('#lastPage').click(function () {
				history.back();
			});
		});
	</script>
</head>




<body style="zoom: 1;">
	<div class="fixedBtns"><button id="lastPage">上一頁</button><button id="homepageBtn">回首頁</button></div>
	<section class="wrapper">
		<header class="header">
			<h1>職務代理要點</h1>
		</header>
		<div class="main">
			<ul class="cjkUL cjkUL--2digit">
				<li li-idx="ㄧ、">
					各單位職務代理，除專案核定者外，悉依本要點規定辦理。
				</li>
				<li li-idx="二、">
					各單位應建立職務代理人名冊。
				</li>
				<li li-idx="三、">
					各單位人員請假、休假、公差（出）或其他原因不克出勤時，應按排定之職務代理人名冊，由第一代理人代行其職務，第一代理人因故無法代理時，由第二代理人代理之。
				</li>
				<li li-idx="四、">
					主管職務代理人，由該主管指派所屬下一級主管擔任之，若無下一級主管，以職務較高之人員擔任之。二級行政單位主管職務代理人，如該單位無適當人選者，由同一單位其他二級主管代理之。
				</li>
				<li li-idx="五、">
					員工之職務代理人，由同一單位之員工相互代理之，同一單位無其他員工者，得由主管兼代之。
				</li>
				<li li-idx="六、">
					代理人於代理期間內應確實負責辦理所代理職務之工作，其因未盡職務代理人應盡之責致耽誤公務者，其責任由代理人負擔。代理人代理期間負責盡職，工作繁重且時間較長，其成績優良者，得酌予適當獎勵。
				</li>
				<li li-idx="七、">
					代理主管職務之人員，對其所批示或簽陳之重要公文或文件，應於主管到公時，補陳核閱。
				</li>
				<li li-idx="八、">
					各單位應重視各級屬員平時工作調配、相互支援與職務輪換，使排定之職務代理人熟悉被代理人之工作。
				</li>
				<li li-idx="九、">
					被代理人除特殊情形外，應於差假前將其工作及持有之資料交代清楚，其因交代不清以致耽誤者，應自負其責。
				</li>
				<li li-idx="十、">
					各單位應指定專人負責職務代理人制度之執行，於人員異動一週以內以換頁方式將異動後之代理人名冊抽換。
				</li>
				<li li-idx="十一、">
					本要點經理事會議通過後公布實施，修正時亦同。
				</li>
			</ul>
		</div>
	</section>
	<section class="wrapper">
		<header class="header">
			<h1>職務代理人名冊</h1>
		</header>
		<div class="main">
			<table class="mainTable mainTable--textCenter">
				<thead>
					<tr>
						<th>本職姓名</th>
						<th>職級</th>
						<th>第一順位職代</th>
						<th>第二順位職代</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>aaaaa</td>
						<td>主任</td>
						<td>aaaaa</td>
						<td>aaaaa</td>
					</tr>
					<tr>
						<td>aaaaa</td>
						<td>督導</td>
						<td>aaaaa</td>
						<td>aaaaa</td>
					</tr>
					<tr>
						<td>aaaaa</td>
						<td>居家服務員</td>
						<td>aaaaa</td>
						<td>aaaaa</td>
					</tr>
					<tr>
						<td>aaaaa</td>
						<td>居家服務員</td>
						<td>aaaaa</td>
						<td>aaaaa</td>
					</tr>
					<tr>
						<td>aaaaa</td>
						<td>居家服務員</td>
						<td>aaaaa</td>
						<td>aaaaa</td>
					</tr>
					<tr>
						<td>aaaaa</td>
						<td>居家服務員</td>
						<td>aaaaa</td>
						<td>aaaaa</td>
					</tr>
					<tr>
						<td>aaaaa</td>
						<td>居家服務員</td>
						<td>aaaaa</td>
						<td>aaaaa</td>
					</tr>
					<tr>
						<td>aaaaa</td>
						<td>居家服務員</td>
						<td>aaaaa</td>
						<td>aaaaa</td>
					</tr>
					<tr>
						<td>aaaaa</td>
						<td>居家服務員</td>
						<td>aaaaa</td>
						<td>aaaaa</td>
					</tr>
					<tr>
						<td>aaaaa</td>
						<td>居家服務員</td>
						<td>aaaaa</td>
						<td>aaaaa</td>
					</tr>
					<tr>
						<td>aaaaa</td>
						<td>居家服務員</td>
						<td>aaaaa</td>
						<td>aaaaa</td>
					</tr>
					<tr>
						<td>aaaaa</td>
						<td>居家服務員</td>
						<td>aaaaa</td>
						<td>aaaaa</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-148420718-4"></script>
	<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148420718-4');
	</script>

	<div id="wait" style="display:none">
		<p><img src="/images/loading.gif" width="150" height="150"></p>
	</div>
	<div id="wait_content" style="display:none">
		<p>請稍後，系統正在處理中...</p>
	</div>
	<iframe name="actFrame" src="about:blank" style="DISPLAY: none; Z-INDEX: 10; WIDTH: 148px; POSITION: absolute; HEIGHT: 194px; left: 105px; top: 5px" marginwidth="0" marginheight="0" frameborder="0" noresize="" scrolling="no"></iframe>


</body>
</html>