<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>財產管理辦法 | 台灣柏佐克智慧型居家照顧管理系統</title>
	<link href="~/images/favicon.ico" type="image/x-icon" rel="Shortcut Icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
	<link rel="stylesheet" href="~/css/layout.css">
	<link rel="stylesheet" href="~/css/page2-8-1.css">
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="~/js/jquery-1.10.2.min.js"></script>
	<script>
		$(function () {
			$('#homepageBtn').click(function () {
				location.href = "/Home/Director";
			});

			$('#lastPage').click(function () {
				history.back();
			});
		});
	</script>
</head>




<body style="zoom: 1;">
	<div class="fixedBtns"><button id="lastPage">上一頁</button><button id="homepageBtn">回首頁</button></div>
	<header class="header wrapper">
		<h1>財產管理辦法</h1>
	</header>
	<main class="main wrapper">
		<ul class="cjkUL">
			<li li-idx="ㄧ、">
				目的：
				<ul class="cjkQuoteUL">
					<li li-idx="（ㄧ）">
						為加強財產管理，強化財產保管人責任，建立財產管理制度，達成財產充分有效之應用。
					</li>
					<li li-idx="（二）">
						另為有效及妥慎管理消耗性物品，統合資源運用，避免浪費，以節省公帑。
					</li>
				</ul>
			</li>
			<li li-idx="二、">
				主要依據:事務管理規則、財務標準分類。
			</li>
			<li li-idx="三、">
				消耗性物品管理作業流程及說明

				<ul class="cjkQuoteUL">
					<li li-idx="（ㄧ）">作業流程<img src="~/images/img-book7-2.png" class="small" alt=""></li>
					<li li-idx="（二）">作業流程說明：</li>
					<table class="mainTable">
						<thead>
							<tr>
								<th>作業階段</th>
								<th>作業流程</th>
								<th>流程說明</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td rowspan="2">財產增加</td>
								<td>1. 財產增置</td>
								<td>
									<ul class="cjkUL">
										<li li-idx="一、">
											由購置而增加:<br />

											請購部門填寫請購單或簽准案後，移行政組辦理採購。
											<ul class="numberUL">
												<li li-idx="(一)">
													財產採購完成，採購人員應通知廠商依採購項目交或，經請購部門點交無誤並簽收後，請購部門即應負保管責任。
												</li>
												<li li-idx="(二)">
													財產驗收完畢，採購人員應將貼妥發票或收據之粘貼憑證明用紙等相關文件，移行政組財產管理人員辦理財產登記作業。
												</li>
											</ul>
										</li>
										<li li-idx="二、">
											由他機關撥入或捐贈而增加:<br />
											凡財產由其他機關撥入或因接收、捐贈而取得時，應列明財產之價格；
											如原價無法查考或根本無原價者，得由行政組會同有關部門予以估列。
										</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>2. 財產登記</td>
								<td>
									財管人員、依購置、撥入或捐贈而增加之財產資料，劃分財產類別、編號後辦理財產增加登記。<br />
									財產登記後，應列印財產標籤並黏貼於財產適當位置，標示使用部門、財產名稱及使用年限等。
								</td>
							</tr>
							<tr>
								<td >財產保管維護</td>
								<td>3. 財產保管維護</td>
								<td>
									<ul class="cjkUL">
										<li li-idx="一、">
											平時維護保養:<br />
											平日應簡易清潔及保養，並避免受損、遺失；各種財產及設備，訂有維護規定者，從其規定。
										</li>
										<li li-idx="二、">
											定期維護保養:
											<ul class="numberUL">
												<li li-idx="(一)">
													事務機具、資訊設備、通訊設備等精密儀器等，於購置時，應訂定售後保固契約。使用部門應依契約書載列內容，督責廠商保養；保養時使用部門應派員全程參與；如有更換零件，應請廠商於維修紀錄表上註明原因，並會同確認簽章。
												</li>
												<li li-idx="(二)">
													已逾保固期限者，使用部門應覓妥經費簽會行政組辦理招商維護事宜，經完成議比價及訂約手續後，移回使用部門依契約內容，督責廠商履約維護。
												</li>
												<li  li-idx="(三)">
													無訂定維護保養契約之財產，如需維護者，使用部門應填寫請購單或將簽准案，移行政組辦理。
												</li>
											</ul>
										<li li-idx="三、">
											防範災害毀損:
											<ul class="numberUL">
												<li li-idx="(一)">
													可預知天災之來襲:<br />
													1.貴重精密財產，應集中保管。<br />
													2.重型機械設備，須再施以牢固設施。<br />
													3.動力設備，應遷移至地勢較高地點。
												</li>
												<li li-idx="(二)">
													不可預知災害發生時，首重本身生命安全，如有餘力再搶救貴重物品等。
												</li>
												<li li-idx="(三)">
													強烈颱風侵襲、急劇地震發生、豪雨洪水爆發、水災、空襲或其他重大災害發生後，行政組應通報各部門，將災後財產受損情形回報；行政組彙整後統一函報行政組審核，經核可報損之財產，依報廢程序辦理；未核可者，退回各部門依行政組未准原因補正後再次送核。
												</li>
											</ul>
										</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>財產異動</td>
								<td>4. 財產異動減損</td>
								<td>
									<ul class="cjkUL">
										<li li-idx="一、">
											財產異動：
											<ul class="numberUL">
												<li li-idx="(一)">
													財產撥入:由他機關撥入或捐贈本校之財產，應依規定辦理財產登記作業。
												</li>
												<li li-idx="(二)">
													財產撥出:由本校撥出或捐贈其他機關之財產，應依規定辦理財產減帳作業。<br />
													1.撥出部門於簽辦財產撥出時，應敘明撥入機關、財產名稱、數量、金額等，加會行政組查核無誤後陳核；如資料不正確，則退請補正。<br />
													2.核可撥出之財產，移由行政組依據撥出項目，填妥財產移撥報告單用印後，函請撥入機關逕行依規定辦理列帳管理及點交，財管人員應即同時辦理財產減帳作業。
												</li>
											</ul>
										</li>
										<li li-idx="二、">
											財產移轉:<br />
											財產擬辦理移轉時，應由移出部門(或人員)逐項填寫財產移轉單，經移出(入)部門(或人員)逐級核章後，移行政組核對財產項目是否正確。如正確，即告知雙方清點財產時間、地點，辦理點交；如不正確，則退請補正。點交完成，財管人員即依財產移轉單所列項目，辦理財產移轉作業。
										</li>
										<li li-idx="三、">
											財產減損:
											<ul class="numberUL">
											<li li-idx="(一)">
												財產減損之原因:<br />
												1.因災害不可抗力因素。<br />
												2.因財產借用人本身(或第三人)之故意或過失，造成財產毀損或遺失。<br />
												3.財產撥出。<br />
												4.財產報廢。
											</li>
											<li li-idx="(二)">
												財產減損辦理方式:<br />
												1.因災害不可抗力因素:<br />
													(1)行政組應於災後，通報各部門調查財產受損情形。<br />
													(2)各部門接獲通報後，應檢視所保管財產毀損情形，就現地現況拍照存證後，填造財產減損單，詳記財產編號、名稱、數量，彙送行政組。<br />
													(3)行政組根據各部門填造之財產減損單，派員清點核對毀損情形，彙整後統一函報行政組審核。<br />
													(4)經核准者，依報廢程序辦理財產減帳；未核准者，退回部門依行政組未准原因補正後再送核。
											</li>
											<li li-idx="(三)">
												因財產借用人本身(或第三人)之故意或過失，造成財產毀損或遺失:財產借用人本身(或第三人)應舉證非故意或過失之詳細資料，如火災、交通事故、失竊等之現場照片、報案證明等，簽奉核可後，
												移行政組函轉行政組審核。經核准解除責任者，依財產報廢程序辦理財產減帳作業；未核可者，退請部門依行政組未准原因補正後再次送核，若仍未獲核准，則應辦理賠償或修復。
											</li>
											<li li-idx="(四)">
												財產撥出:由本社撥出或噘贈其他機關之財產，應依規定辦理財產撥出及財產減帳作業。
												<ul class="numberUL">
													<li li-idx="(三)">
														財產報廢:<br />
														1.已達最低耐用年限:<br />
															(1)財管人員填寫財產報廢單。<br />
															(2)財管人員依財產報廢清單所列項目，確認已達最低耐用年限且該項財產已不堪使用後，加匯台中市政府社會局。經核准報廢，行政組應請保管人繳交舊品。<br />
															(3)繳回之舊品集中分類儲存並同時辦理財產減帳作業。<br />
														2.未達最低耐用年限:部門應專案簽准後，移行政組函轉台中市政府社會局審核。核准者，依報廢程序辦理財產減帳作業；未准核，則退請部門依未准核原因補正後再送核。若仍未獲核准，則由部門繼續保管使用。
													</li>
												</ul>
											</li>
											<li li-idx="三、">
												財產賠償或修復:
												<ul class="numberUL">
													<li li-idx="(一)">
														財產遺失或毀損，未經行政組核可免除責任者，應辦理賠償或修復。<br />
														1、同等品賠償:<br />
														(1) 財產保管人待同等品之證明文件，簽經部門主管核可後，加會行政組審查證明文件內容(如廠牌、型號、規格、年分等)是否相符。「不符」則退請原借用人補正；「相符」則函轉行政組審核。<br />
														經核准，則辦理財產財產減帳及財產登記；未經核准，則退請原部門依據行政組織之退回未准原因補正後再送核。<br />
														(2)遺失或毀損之財產以相同財產賠償為原則，如無相同財產可抵賠時，再以折價方式辦理賠償。<br />
														2、折價賠償:<br />
														(1)財產借用人將簽准案移財管人員核算賠償金額，通知借用人繳交款項；借用人應於收到通知後10日內至出納組繳交款項，收據移回行政組辦理財產減損作業。<br />
														(2)折價賠償計算:<br />
														A、未達耐用年限:<br />
														公式 : <u>賠償金額-(原價-已折舊數)*市價/原價</u><br />
														折舊 : <u>原購買價格(或市價)*已使用年數/(財務標準分費規定耐用年限+1)</u><br />
														B、已超過耐用年限，尚未奉准報廢:<br />
														公式: <u>賠償金額=市價/(實際使用年數+1)</u><br />
														C、財產經奉准報廢，尚未拍賣:<br />
														公式:<u>賠償金額-報廢時估定之殘值*遺失時市價/報廢時之市價</u><br />
													<link li-idx="二、" />
														修護:毀損之財產可修護使用者，應負一切修護費用。
														
													</li>
												</ul>
											</li>
											</ul>
												
										</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>財產盤點</td>
								<td>5. 財產盤點</td>
								<td>
									<ul class="cjkUL">
										<li li-idx="一、">
											定期盤點:
											<ul class="numberUL">
												<li>
													行政組於每年十二月底前排定時程，依各部門盤點清冊，會同會計人員至各部門確實盤點。「 相符」則於財產盤點紀錄表相符欄加註相符標記；「不符」則於盤點差異欄內說明原因。盤點紀錄表應由盤點人簽章。
												</li>
												<li>
													財管人員於盤點結束後，彙整盤點結果及應行改善事項簽奉首長核閱。
												</li>
												<li>
													財產盤點時發現狀況之處置:<br />
													(1)閒置財產:由行政組通報各部門，如有需求者，則依財產移轉程序辦理移轉。<br />
													(2)財產標籤如有脫落或模糊不清，於盤點紀錄表上註明，並由財管人員重新補貼。<br />
													(3)若發現財產有毀損或遺失等情形，應查明原因後，依財產減損程序辦理賠償、修復及追究行政責任。<br />
													(4)經盤點發現因財產借用人更迭，而未辦理財產移轉時，應請期依財產移轉程序辦理財產移轉，以落實財產借用人責任與財產管理之正確性。
												</li>
											</ul>
										</li>
										<li li-idx="二、">
											不定期盤點：有必要時，行政組得隨時派員做不定期盤點；若有大量增置財產或報廢、重大災害發生或奉上級指示時，則應再加強盤點。
										</li>
									</ul>
								</td>
							</tr>
							<tr>
								<td>財產報告</td>
								<td>6. 製作表報</td>
								<td>
									<ul class="cjkUL">
										<li li-idx="(二)">
											財產減結存表:<br />
											每年於元月十五日前，依據前一年之財產分類量值統計報表，統計該年之財產增減結存量值，併同當年財產增減年報表填報。
										</li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</ul>
			</li>
		</ul>
	</main>


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-148420718-4"></script>
	<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148420718-4');
	</script>

	<div id="wait" style="display:none">
		<p><img src="/images/loading.gif" width="150" height="150"></p>
	</div>
	<div id="wait_content" style="display:none">
		<p>請稍後，系統正在處理中...</p>
	</div>
	<iframe name="actFrame" src="about:blank" style="DISPLAY: none; Z-INDEX: 10; WIDTH: 148px; POSITION: absolute; HEIGHT: 194px; left: 105px; top: 5px" marginwidth="0" marginheight="0" frameborder="0" noresize="" scrolling="no"></iframe>


</body>
</html>