<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>評鑑專區 第三大項 | 台灣柏佐克智慧型居服照顧管理系統</title>
	<link href="~/images/favicon.ico" type="image/x-icon" rel="Shortcut Icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="~/css/layout.css">
	<link rel="stylesheet" href="~/css/page2-9-2.css">
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="~/Scripts/jquery-3.2.1.min.js"></script>
	<script>
		$(function () {
			$('#homepageBtn').click(function () {
				location.href = "/Home/Director";
			});

			$('#lastPage').click(function () {
				history.back();
			});
		});
	</script>
	<style>
		.itemBlock__itemTitle {
			background-color: #259b24;
			color: #ffffff;
		}

		.itemBlock__functionBtn {
			color: #ffffff;
		}

		.itemBlock__itemTitle {
			padding: 1rem 2rem;
		}
	</style>
</head>




<body style="zoom: 1;">
	<div class="fixedBtns"><button id="lastPage">上一頁</button><button id="homepageBtn">回首頁</button></div>
	<header class="header wrapper">
		<h1>評鑑專區 第三大項</h1>
	</header>
	<main class="main wrapper">
		<div class="itemBlock">
			<div class="itemBlock__itemCol"><div class="itemBlock__itemTitle">第一項 規範與安全</div></div>
			<div class="itemBlock__functionCol">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 col-sm-6 col-lg-3">
							<header class="itemBlock__functionHeader">3-1-1</header>
							<button class="itemBlock__functionBtn">記錄表匯出轉檔</button>
							<button class="itemBlock__functionBtn">統計表圖轉檔</button>
						</div>
						<div class="col-12 col-sm-6 col-lg-3">
							<header class="itemBlock__functionHeader">3-1-2</header>
							<button class="itemBlock__functionBtn">記錄表匯出轉檔</button>
							<button class="itemBlock__functionBtn">統計表圖轉檔</button>
						</div>
						<div class="col-12 col-sm-6 col-lg-3">
							<header class="itemBlock__functionHeader">3-1-3</header>
							<button class="itemBlock__functionBtn">記錄表匯出轉檔</button>
							<button class="itemBlock__functionBtn">統計表圖轉檔</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="itemBlock">
			<div class="itemBlock__itemCol"><div class="itemBlock__itemTitle">第二項 人管與教育</div></div>
			<div class="itemBlock__functionCol">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 col-sm-6 col-lg-3">
							<header class="itemBlock__functionHeader">3-2-1</header>
							<button class="itemBlock__functionBtn">記錄表匯出轉檔</button>
							<button class="itemBlock__functionBtn">統計表圖轉檔</button>
						</div>
						<div class="col-12 col-sm-6 col-lg-3">
							<header class="itemBlock__functionHeader">3-2-2</header>
							<button class="itemBlock__functionBtn">記錄表匯出轉檔</button>
							<button class="itemBlock__functionBtn">統計表圖轉檔</button>
						</div>
						<div class="col-12 col-sm-6 col-lg-3">
							<header class="itemBlock__functionHeader">3-2-3</header>
							<button class="itemBlock__functionBtn">記錄表匯出轉檔</button>
							<button class="itemBlock__functionBtn">統計表圖轉檔</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="itemBlock">
			<div class="itemBlock__itemCol"><div class="itemBlock__itemTitle">第三項 維權與獎勵</div></div>
			<div class="itemBlock__functionCol">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 col-sm-6 col-lg-3">
							<header class="itemBlock__functionHeader">3-3-1</header>
							<button class="itemBlock__functionBtn">記錄表匯出轉檔</button>
							<button class="itemBlock__functionBtn">統計表圖轉檔</button>
						</div>
						<div class="col-12 col-sm-6 col-lg-3">
							<header class="itemBlock__functionHeader">3-3-2</header>
							<button class="itemBlock__functionBtn">記錄表匯出轉檔</button>
							<button class="itemBlock__functionBtn">統計表圖轉檔</button>
						</div>
						<div class="col-12 col-sm-6 col-lg-3">
							<header class="itemBlock__functionHeader">3-3-3</header>
							<button class="itemBlock__functionBtn">記錄表匯出轉檔</button>
							<button class="itemBlock__functionBtn">統計表圖轉檔</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>


	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-148420718-4"></script>
	<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148420718-4');
	</script>

	<div id="wait" style="display:none">
		<p><img src="/images/loading.gif" width="150" height="150"></p>
	</div>
	<div id="wait_content" style="display:none">
		<p>請稍後，系統正在處理中...</p>
	</div>
	<iframe name="actFrame" src="about:blank" style="DISPLAY: none; Z-INDEX: 10; WIDTH: 148px; POSITION: absolute; HEIGHT: 194px; left: 105px; top: 5px" marginwidth="0" marginheight="0" frameborder="0" noresize="" scrolling="no"></iframe>


</body>
</html>