<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>員工工作安全辦法 | 台灣柏佐克智慧型居服照顧管理系統</title>
	<link href="~/images/favicon.ico" type="image/x-icon" rel="Shortcut Icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
	<link rel="stylesheet" href="~/css/layout.css">
	<link rel="stylesheet" href="~/css/page2-8-1.css">
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="~/Scripts/jquery-3.2.1.min.js"></script>
	<script>
		$(function () {
			$('#homepageBtn').click(function () {
				location.href = "/Home/Director";
			});

			$('#lastPage').click(function () {
				history.back();
			});
		});
	</script>
</head>




<body style="zoom: 1;">
	<div class="fixedBtns"><button id="lastPage">上一頁</button><button id="homepageBtn">回首頁</button></div>
	<section class="wrapper">
		<header class="header">
			<h1>員工工作安全辦法</h1>
		</header>
		<div class="main">
			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					目的
					<p>
						執行職務遭受不法侵害指的是工作人員在與工作相關的環境中遭受虐待、威脅或攻擊，以致於明顯或隱含地對其安全福祉或健康構成挑戰的事件。本辦法依職業安全衛生法第六條辦理。
					</p>
				</li>
				<li li-idx="二、">
					範圍
					<ul class="numberUL">
						<li>
							定義：當職場評估可能或已經出現下列四種類型之職場暴力，即應啟動執行職務遭受不法侵害預防計畫：
							<ul class="alphaUL">
								<li>
									肢體暴力（如：毆打、抓傷、拳打、腳踢等）。
								</li>
								<li>
									心理暴力（如：威脅、欺凌、騷擾、辱罵等）。
								</li>
								<li>語言暴力（如：霸凌、恐嚇、干擾、歧視等）。</li>
								<li>
									性騷擾（如：不當性暗示與行為等）。
								</li>
							</ul>
						</li>
						<li>
							適用對象：職場內所有工作者均可能是職場暴力風險族群。
						</li>
						<li>
							職場暴力來源：
							<ul class="alphaUL">
								<li>
									內部暴力：發生在同事或上司及下屬之間，包括管理者及指導者。
								</li>
								<li>
									外部暴力：發生在工作者及其他第三方之間，包括工作場所出現的陌生人、個案家屬及照顧對象。
								</li>
							</ul>
						</li>
						<li>
							職場霸凌（work place bullying）與職場暴力
							<ul class="alphaUL">
								<li>
									職場霸凌發生於權力不對等的社會關係，即加害人與被害人處於上對下的關係。
								</li>
								<li>
									職場暴力除了上司對下屬的欺凌之外，也可能來自權力對等的同事，或來自家屬、照顧對象及陌生人。
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li li-idx="三、">
					職責
					<ul class="numberUL">
						<li>
							雇主：負責監督本計劃是否依規定執行。
						</li>
						<li>
							專業護理人員：
							<ul class="alphaUL">
								<li>
									擔任職場暴力預防及處置小組的成員。
								</li>
								<li>
									負責擔任相關教育訓練課程講師（如心理諮商及情緒管理）。
								</li>
								<li>
									輔導受害者心理健康並給予輔導。
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</section>
	<section class="wrapper">
		<header class="header">
			<h1>聲明書</h1>
		</header>
		<div class="main">
			<p class="text-center subtitle">禁止公共場所職場暴力之書面聲明</p>
			<p>本單位為保障所有員工在執行職務過程中，免於遭受身體或精神不法侵害而致身心理疾病，特以書面加以聲明，絕不容忍任何本單位之管理階層主管有職場霸凌之行為，亦絕不容忍本單位員工同仁間或顧客、客戶、照顧對象及陌生人對本單位員工有職場霸凌之行為。</p>

			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					職場暴力的定義：工作人員在與工作相關的環境中(包含通勤)遭受虐待、威脅或攻擊，以至於明顯或隱含地對其安全、福祉或與健康構成挑戰的事件。
				</li>
				<li li-idx="二、">
					職場暴力行為的樣態：
					<ul class="cjkQuoteUL">
						<li li-idx="（ㄧ）">肢體暴力（如：毆打、抓傷、拳打、腳踢等）。</li>
						<li li-idx="（二）">心理暴力（如：威脅、欺凌、騷擾、辱罵等）。</li>
						<li li-idx="（三）">語言暴力（如：霸凌、恐嚇、干擾、歧視等）。</li>
						<li li-idx="（四）">性騷擾（如：不當性暗示與行為等）。</li>
					</ul>
				</li>
				<li li-idx="三、">
					員工遇到職場暴力怎麼辦：
					<ul class="cjkQuoteUL">
						<li li-idx="（ㄧ）">向同事尋求建議與支持。</li>
						<li li-idx="（二）">與加害者理性溝通，表達自身感受。</li>
						<li li-idx="（三）">思考自身有無缺失，請同事誠實的評估你的為人與工作表現，找出問題點。</li>
						<li li-idx="（四）">盡可能以錄音或任何方式紀錄加害者行為作為證據。</li>
						<li li-idx="（五）">向單位提出申訴。</li>
					</ul>
				</li>
				<li li-idx="四、">
					本單位所有員工均有責任協助確保免於職場暴力之工作環境，任何人目睹及聽聞職場暴力事件發生，都應立即通知本單位人事部門或撥打員工申訴專線，本單位接獲申訴後會採取保密的方式進行調查，若被調查屬實者，將會進行懲處。
				</li>
				<li li-idx="五、">
					本單位不會對申訴者或通報者有任何報復之行為，若有，將會進行懲處。
				</li>
				<li li-idx="六、">
					本單位鼓勵同仁均能利用所設置之內部申訴處理機制處理此類糾紛，但如員工需要額外協助本單位亦將盡力協助提供。
				</li>
				<li li-idx="七、">
					本單位職場暴力諮詢、申訴管道：
					<ul>
						<li>申訴專線電話：</li>
						<li>申訴專用傳真：</li>
						<li>申訴專用信箱設置於：</li>
						<li>申訴專用電子信箱：</li>
					</ul>
				</li>
			</ul>
		</div>
	</section>
	<section class="wrapper">
		<header class="header">
			<h1>預防措施</h1>
		</header>
		<div class="main">
			<p class="text-center subtitle">強化工作場所的預防措施</p>


			<table class="mainTable">
				<thead>
					<tr>
						<th>加強位置</th>
						<th>加強措施</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>通道</th>
						<td>加設密碼鎖、員工證、訪客登記等措施，可避免未獲授權之人士擅自進出工作地點。</td>
					</tr>
					<tr>
						<th>高危險位置</th>
						<td>安裝安全設備，如警鈴系統、緊急按鈕、24 小時閉路監視器或無線電話通訊等裝置，務必定期維護。</td>
					</tr>
					<tr>
						<th>工作場所</th>
						<td>應設置安全區域或緊急疏散程序。</td>
					</tr>
					<tr>
						<th>工作場所</th>
						<td>確保工作空間內有兩個出口。</td>
					</tr>
					<tr>
						<th>工作場所</th>
						<td>請將沒有使用的門鎖住，防止加害人進入及藏匿。</td>
					</tr>
					<tr>
						<th>工作場所</th>
						<td>減少工作空間內出現可以作為武器的尖銳物品，如花瓶、煙灰缸等。</td>
					</tr>
					<tr>
						<th>工作場所</th>
						<td>保全人員定時巡邏或安裝透明玻璃鏡，加強工作場所之監視。</td>
					</tr>
					<tr>
						<th>工作場所</th>
						<td>工作場所內所有損壞物品，如燒壞的燈具或破窗，應即時修理。</td>
					</tr>
					<tr>
						<th>服務櫃檯</th>
						<td>有金錢交易之服務櫃檯裝設防彈或防碎玻璃。</td>
					</tr>
					<tr>
						<th>室內、室外及停車場</th>
						<td>安裝明亮的照明設備。</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	<section class="wrapper">
		<header class="header">
			<h1>通報申訴單</h1>
		</header>
		<form class="main">
			<table class="mainTable complainTable">
				<tbody>
					<tr>
						<th class="complainTable__number">1.</th>
						<th class="complainTable__item">發生日期</th>
						<td class="complainTable__answer"><input type="text" class="input--floid"></td>
					</tr>
					<tr>
						<th class="complainTable__number">2.</th>
						<th class="complainTable__item">發生時間</th>
						<td class="complainTable__answer"><input type="text" class="input--floid"></td>
					</tr>
					<tr>
						<th class="complainTable__number">3.</th>
						<th class="complainTable__item">具體位置</th>
						<td class="complainTable__answer"><input type="text" class="input--floid"></td>
					</tr>
					<tr>
						<th class="complainTable__number">4.</th>
						<th class="complainTable__item">
							目擊者
						</th>
						<td class="complainTable__answer"><input type="text" class="input--floid"></td>
					</tr>
					<tr>
						<th class="complainTable__number">5.</th>
						<th class="complainTable__item">受害者</th>
						<td class="complainTable__answer"><input type="text" class="input--floid"></td>
					</tr>
					<tr>
						<th class="complainTable__number">6.</th>
						<th class="complainTable__item">暴力指向</th>
						<td class="complainTable__answer">
							<label for="q6-1">
								<input type="radio" name="q6" id="q6-1">
								勞工
							</label>
							<label for="q6-2">
								<input type="radio" name="q6" id="q6-2">
								顧客
							</label>
							<label for="q6-3">
								<input type="radio" name="q6" id="q6-3">
								其他 <input type="text">
							</label>
						</td>
					</tr>
					<tr>
						<th class="complainTable__number">7.</th>
						<th class="complainTable__item">加害者性別</th>
						<td class="complainTable__answer">
							<label for="q7-1">
								<input type="radio" name="q7" id="q7-1">
								男
							</label>
							<label for="q7-2">
								<input type="radio" name="q7" id="q7-2">
								女
							</label>
						</td>
					</tr>
					<tr>
						<th class="complainTable__number">8.</th>
						<th class="complainTable__item">加害者姓名或特徵</th>
						<td class="complainTable__answer"><input type="text" class="input--floid"></td>
					</tr>
					<tr>
						<th class="complainTable__number">9.</th>
						<th class="complainTable__item">所屬機關</th>
						<td class="complainTable__answer"><input type="text" class="input--floid"></td>
					</tr>
					<tr>
						<th class="complainTable__number">10.</th>
						<th class="complainTable__item">雙方關係</th>
						<td class="complainTable__answer"><input type="text" class="input--floid"></td>
					</tr>
					<tr>
						<th class="complainTable__number">11.</th>
						<th class="complainTable__item">暴力類型</th>
						<td class="complainTable__answer">
							<ul>
								<li>
									<label for="q11-1"><input type="checkbox" name="q11" id="q11-1">肢體暴力（如：毆打、抓傷、拳打、腳踢等）</label>
								</li>
								<li>
									<label for="q11-2"><input type="checkbox" name="q11" id="q11-2">心理暴力（如：威脅、欺凌、騷擾、辱罵等）</label>
								</li>
								<li>
									<label for="q11-3"><input type="checkbox" name="q11" id="q11-3">語言暴力（如：霸凌、恐嚇、干擾、歧視等）</label>
								</li>
								<li>
									<label for="q11-4"><input type="checkbox" name="q11" id="q11-4">性騷擾（如：不當性暗示與行為等）</label>
								</li>
								<li>
									<label for="q11-5"><input type="checkbox" name="q11" id="q11-5">其他 <input type="text"></label>
								</li>
							</ul>
						</td>


					</tr>
					<tr>
						<th class="complainTable__number">12.</th>
						<th class="complainTable__item">發生原因</th>
						<td class="complainTable__answer"><input type="text" class="input--floid"></td>
					</tr>
					<tr>
						<th class="complainTable__number">13.</th>
						<th class="complainTable__item">詳細說明</th>
						<td class="complainTable__answer"><textarea name="" id="" rows="5" class="textarea--floid"></textarea></td>
					</tr>
					<tr>
						<th class="complainTable__number">14.</th>
						<th class="complainTable__item">
							照成傷害

						</th>
						<td class="complainTable__answer">
							<label for="q14-1"><input type="radio" name="q14" id="q14-1">有</label>
							<label for="q14-2"><input type="radio" name="q14" id="q14-2">無</label>
						</td>
					</tr>
					<tr>
						<th class="complainTable__number">15.</th>
						<th class="complainTable__item">受傷人員</th>
						<td class="complainTable__answer">
							<label for="q15-1"><input type="checkbox" name="q15" id="q15-1">無</label>

							<label for="q15-2"><input type="checkbox" name="q15" id="q15-2">施暴者</label>

							<label for="q15-3"><input type="checkbox" name="q15" id="q15-3">受害者</label>

							<label for="q15-4"><input type="checkbox" name="q15" id="q15-4">其他 <input type="text"></label>
						</td>
					</tr>
					<tr>
						<th class="complainTable__number">16.</th>
						<th class="complainTable__item">事件處理</th>
						<td class="complainTable__answer">
							<label for="q16-1"><input type="checkbox" name="q16" id="q16-1">警察部門</label>

							<label for="q16-2"><input type="checkbox" name="q16" id="q16-2">保安人員</label>

							<label for="q16-3"><input type="checkbox" name="q16" id="q16-3">醫療人員</label>

							<label for="q16-4"><input type="checkbox" name="q16" id="q16-4">自行協調</label>

							<label for="q16-5"><input type="checkbox" name="q16" id="q16-5">其他 <input type="text"></label>
						</td>
					</tr>
					<tr>
						<th class="complainTable__number">17.</th>
						<th class="complainTable__item">施暴者處理</th>
						<td class="complainTable__answer">
							<label for="q17-1"><input type="radio" name="q17" id="q17-1">無</label>

							<label for="q17-2"><input type="radio" name="q17" id="q17-2">自行離開</label>

							<label for="q17-3"><input type="radio" name="q17" id="q17-3">警察逮補</label>

							<label for="q17-4"><input type="radio" name="q17" id="q17-4">其他 <input type="text"></label>
						</td>
					</tr>
				</tbody>
			</table>
			<table class="mainTable">
				<tbody>
					<tr>
						<th>報告人</th>
						<td><input type="text" class="input--floid"></td>
						<th>報告日期</th>
						<td><input type="text" class="input--floid"></td>
					</tr>
					<tr>
						<th>調查人員</th>
						<td><input type="text" class="input--floid"></td>
						<th>審核日期</th>
						<td><input type="text" class="input--floid"></td>
					</tr>
				</tbody>
			</table>
		</form>
	</section>
	<section class="wrapper">
		<header class="header">
			<h1>處理流程</h1>
		</header>
		<div class="main">
			<img src="~/images/img-book9.png" class="main" alt="">
		</div>
	</section>


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-148420718-4"></script>
	<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148420718-4');
	</script>

	<div id="wait" style="display:none">
		<p><img src="/images/loading.gif" width="150" height="150"></p>
	</div>
	<div id="wait_content" style="display:none">
		<p>請稍後，系統正在處理中...</p>
	</div>
	<iframe name="actFrame" src="about:blank" style="DISPLAY: none; Z-INDEX: 10; WIDTH: 148px; POSITION: absolute; HEIGHT: 194px; left: 105px; top: 5px" marginwidth="0" marginheight="0" frameborder="0" noresize="" scrolling="no"></iframe>


</body>
</html>