<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>異常處理 | 台灣長照大聯盟居服管理系統</title>
	<link href="~/images/favicon.ico" type="image/x-icon" rel="Shortcut Icon">
	<link rel="stylesheet" href="~/css/font-awesome/css/all.css">
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/layout.css">
	<link rel="stylesheet" href="~/css/page3-1-2-2.css">
	<link rel="stylesheet" href="~/css/wait.css">
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="~/Scripts/jquery-3.2.1.min.js"></script>
	<script src="~/popper.js/popper.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script>
		var total = 0;

		$(function () {

			$('#homepageBtn').click(function () {
				location.href = "/Home/Supervise";
			});

			$('#lastPage').click(function () {
				history.back();
			});

			// $("input:radio").removeAttr("checked");
			// $("input:radio").attr("disabled", true);

			$("input[name=category][value='12']").prop("checked", true);

			$("input[name=indicator][value='3']").prop("checked", true);


			$('input[type=checkbox]').click(function () {
				var ret = $(this).prop("checked");

				if (ret) total++;
				else total--;

				if (total > 2) {
					alert('跨專業會診不能選超過2項！');
					total--;
					return false;
				}
			})
		});

		function doSubmit(step) {
			var thisform = $('#form1');
			var prof_consult_str = $('input[name="prof_consult[]"]:checkbox:checked').map(function () {
				return $(this).val();
			}).get().join(',');

			// if(typeof prof_consult_str == "undefined")
			// {
			//     alert('請選擇跨專業會診項目！');
			//     $('#prof1').focus();
			//     return false;
			// }

			if (step == 1) {
				if ($('#description').val() == '') {
					alert('請輸入事件描述！');
					$('#description').focus();
					return false;
				}
				else if (total == 0) {
					alert('請選擇跨專業會診！');
					$('#prof1').focus();
					return false;
				}
				else {
					$('#step').val(1);
					$('#wait_content').show();
					$('#wait').show();

					$('#form1').submit();
				}
			}
			else if (step == 2) {
				if ($('#event_handling').val() == '') {
					alert('請輸入事件處理內容！');
					$('#event_handling').focus();
					return false;
				}
				else if ($('#handler').val() == '') {
					alert('請選擇處理人員！');
					$('#handler').focus();
					return false;
				}
				else if ($('#period').val() == '') {
					alert('請選擇追蹤期間！');
					$('#period').focus();
					return false;
				}

				$('#step').val(2);
				$('#wait_content').show();
				$('#wait').show();

				$('#form2').submit();
			}
		}

		function doSearch() {
			var _keywords = $('#keywords');
			var _f = $('#searchModal');
			var _url_tag = "exception_handling/step1";
			var _sn_key = 4;

			if (_keywords.val() == "") {
				alert('請輸入關鍵字！');
				_keywords.focus();
				return false;
			}
			else {
				$.ajax({
					url: "/search/advance",
					type: "POST",
					dataType: 'json',
					data: {
						url_tag: _url_tag,
						sn_key: _sn_key,
						keywords: _keywords.val()
					},
					success: function (data, status, xhr) {
						console.log(data, status, xhr);
						if (data.code == 200) {
							if (data.result == 0) {
								$('.modal-body').html('<span style="font-size:1.5rem;color:red">查無紀錄！</span>');
							}
							else if (data.result.length > 0) {
								_f.find('.modal-body').html('');

								for (var i = 0; i < data.result.length; i++) {
									var innerHtml = '<div class="form-group"><div class="d-inline-block" style="vertical-align:top">(' + (i + 1) +
										').</div> <div class="d-inline-block" style="width:90%;"><a href="javascript:void(0);" onclick="copyTo(\'' +
										data.result[i] + '\');">' + data.desc[i] + '</a></div></div>';

									_f.find('.modal-body').append(innerHtml);
								}
							}
						}
						else {
							alert('無此資料!');
							return false;
						}
					},
					error: function (xhr, ajaxOptions, thrownError) {
						console.log(xhr, ajaxOptions, thrownError);
						alert('發生錯誤!');
						return false;
					}
				});

				_f.modal('show');
			}
		}

		function copyTo(keyword) {
			var enterStr = keyword + '\r\n';

			$('#event_handling').append(enterStr);
		}
	</script>
	<style>
		.mainForm__searchBar {
			width: 40%;
		}

		#keyword {
			margin-left: 10px;
		}
		/*.mainForm__inputGroup {*/
		/*white-space: initial;*/
		/*position: relative;*/
		/*top: -20px;*/
		/*}*/
		input[type=radio] {
			width: 30px;
			height: 30px;
			position: relative;
			top: 5px;
		}
		/*input[type=radio]{
			transform:scale(1.5);
		}*/
		.modal-header {
			padding: 10px 10px;
		}

		.modal-body {
			padding: 0.5rem;
		}

		.form-group {
			margin-bottom: 0.5rem;
		}

		.modal-dialog {
			width: 60%;
			max-width: 60%;
			margin: 30px auto;
		}

		.modal-footer {
			padding: 10px 10px;
		}

		.modal-title {
			font-size: 1.3rem;
		}
	</style>
</head>



<!--<script src="/js/jquery-1.10.2.min.js"></script>-->



<body>
	<div class="fixedBtns"><button id="lastPage">上一頁</button><button id="homepageBtn">回首頁</button></div>

	<main class="main">
		<form id="form2" name="form2" method="post" action="/exception_handling/add_step1" target="actFrame" enctype="multipart/form-data">
			<input type="hidden" id="step" name="step" value="">
			<div class="container">

				<input type="hidden" id="id" name="id" value="89">
				<div class="row">
					<div class="col-12 col-lg-6"><i class="fas fa-user-alt"></i> 服務人員：黃忠達</div>
					<div class="col-12 col-lg-6">
						紀錄時間：2020.12.30
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<header>事件描述：<span style="font-size:1.2rem;color:red">了解後可修正</span></header>
						<textarea name="description" id="description" rows="5" class="mainForm__textarea form-control">132</textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-lg-2 mainForm__itemCol">異常類別</div>
					<div class="col-12 col-lg-10">
						<span class="mainForm__inputGroup">
							<input type="radio" id="category-1" name="category" value="1"><label for="category-1">個案進步</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="category-2" name="category" value="2"><label for="category-2">情緒改善</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="category-3" name="category" value="3"><label for="category-3">正向反饋</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="category-4" name="category" value="4"><label for="category-4">負向反饋</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="category-5" name="category" value="5"><label for="category-5">日照適應</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="category-6" name="category" value="6"><label for="category-6">情緒異常</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="category-7" name="category" value="7"><label for="category-7">行為異常</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="category-8" name="category" value="8"><label for="category-8">服藥異常</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="category-9" name="category" value="9"><label for="category-9">不明傷口</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="category-10" name="category" value="10"><label for="category-10">意外事件</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="category-11" name="category" value="11"><label for="category-11">不明疼痛</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="category-12" name="category" value="12"><label for="category-12">設備損壞</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="category-13" name="category" value="13"><label for="category-13">設施損壞</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="category-14" name="category" value="14"><label for="category-14">心理疾病</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="category-16" name="category" value="16"><label for="category-16">生命徵象異常</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="category-15" name="category" value="15"><label for="category-15">更好建議</label>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-lg-2 mainForm__itemCol">
						十大指標
						<p class="mainForm__ps">（不是就不用選）</p>
					</div>
					<div class="col-12 col-lg-10">
						<span class="mainForm__inputGroup">
							<input type="radio" id="indicator-1" name="indicator" value="1"><label for="indicator-1">跌倒</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="indicator-2" name="indicator" value="2"><label for="indicator-2">感染</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="indicator-3" name="indicator" value="3"><label for="indicator-3">約束</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="indicator-4" name="indicator" value="4"><label for="indicator-4">非計畫重改</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="indicator-5" name="indicator" value="5"><label for="indicator-5">壓瘡</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="indicator-6" name="indicator" value="6"><label for="indicator-6">疼痛</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="indicator-7" name="indicator" value="7"><label for="indicator-7">非計畫住院</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="indicator-8" name="indicator" value="8"><label for="indicator-8">多重用藥</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="indicator-9" name="indicator" value="9"><label for="indicator-9">憂鬱</label>
						</span>
						<span class="mainForm__inputGroup">
							<input type="radio" id="indicator-10" name="indicator" value="10"><label for="indicator-10">管路移除</label>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-lg-2 mainForm__itemCol">
						跨專業會診
					</div>
					<div class="col-12 col-lg-10">
						<label for="">
							<div class="custom-control custom-checkbox checkbox-lg2">
								<input type="checkbox" class="custom-control-input" id="prof1" name="prof_consult[]" value="1">
								<label class="custom-control-label" for="prof1">護理</label>
							</div>
						</label>
						<label for="">
							<div class="custom-control custom-checkbox checkbox-lg2">
								<input type="checkbox" class="custom-control-input" id="prof2" name="prof_consult[]" value="2">
								<label class="custom-control-label" for="prof2">營養</label>
							</div>
						</label>
						<label for="">
							<div class="custom-control custom-checkbox checkbox-lg2">
								<input type="checkbox" class="custom-control-input" id="prof3" name="prof_consult[]" value="3">
								<label class="custom-control-label" for="prof3">復能</label>
							</div>
						</label>
						<label for="">
							<div class="custom-control custom-checkbox checkbox-lg2">
								<input type="checkbox" class="custom-control-input" id="prof4" name="prof_consult[]" value="4">
								<label class="custom-control-label" for="prof4">職能</label>
							</div>
						</label>
						<label for="">
							<div class="custom-control custom-checkbox checkbox-lg2">
								<input type="checkbox" class="custom-control-input" id="prof5" name="prof_consult[]" value="5">
								<label class="custom-control-label" for="prof5">藥事</label>
							</div>
						</label>
						<label for="">
							<div class="custom-control custom-checkbox checkbox-lg2">
								<input type="checkbox" class="custom-control-input" id="prof6" name="prof_consult[]" value="6">
								<label class="custom-control-label" for="prof6">社工</label>
							</div>
						</label>
						<label for="">
							<div class="custom-control custom-checkbox checkbox-lg2">
								<input type="checkbox" class="custom-control-input" id="prof7" name="prof_consult[]" value="7">
								<label class="custom-control-label" for="prof7">主任</label>
							</div>
						</label>
						<label for="">
							<div class="custom-control custom-checkbox checkbox-lg2">
								<input type="checkbox" class="custom-control-input" id="prof8" name="prof_consult[]" value="8">
								<label class="custom-control-label" for="prof8">法律顧問</label>
							</div>
						</label>
						<label for="">
							<div class="custom-control custom-checkbox checkbox-lg2">
								<input type="checkbox" class="custom-control-input" id="prof9" name="prof_consult[]" value="9">
								<label class="custom-control-label" for="prof9">經營顧問</label>
							</div>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<header>
							顧問意見：
							<textarea name="advice1" id="advice1" rows="3" class="mainForm__textarea form-control"></textarea>
						</header>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<header>
							顧問意見：
							<textarea name="advice2" id="advice2" rows="3" class="mainForm__textarea form-control"></textarea>
						</header>
					</div>
				</div>

				<div class="row">
					<div class="col-12 text-center">
						<button class="btn btn-big btn-info" onclick="return doSubmit(1);">暫存上述資料</button>
					</div>
				</div>
				<br><br>
				<div class="row">
					<div class="col-12">
						<header class="mainForm__specialColHeader">
							<p class="mainForm__specialColHeaderP">事件處理</p>
							<div class="mainForm__searchBar">
								關鍵字 <input id="keywords" name="keywords" type="text" class="col-md-7 form-control d-inline-block">
								<button class="btn btn-blue btnCss" onclick="doSearch(); return false;">
									<i class="fas fa-search"></i>查詢
								</button>
							</div>
						</header>
						<textarea name="event_handling" id="event_handling" rows="7" class="mainForm__textarea form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<header class="mainForm__specialColHeader">
							<p class="mainForm__specialColHeaderP">處理人員</p>
							<select id="handler" name="handler" class="form-control col-md-12">
								<option value="">--- 請選擇 ---</option>
								<option value="16">余5a</option>
								<option value="28">黃忠達</option>
							</select>
						</header>
					</div>
				</div>
				<div class="row">
					<div class="col-12 text-center">
						追蹤期間設定
						<select name="period" id="period" class="form-control col-md-2 d-inline-block">
							<option value="">--- 請選擇 ---</option>
							<option value="+10 mins">十分鐘</option>
							<option value="+0.5 hours">半小時</option>
							<option value="+1 hours">一小時</option>
							<option value="+3 hours">三小時</option>
							<option value="+1 days">一天</option>
							<option value="+1 week">一周</option>
							<option value="+0.5 months">半月</option>
							<option value="+1 months">一月</option>
							<option value="+3 months">三月</option>
							<option value="+6 months">半年</option>
							<option value="+1 years">一年</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-12 text-center">
						<button class="btn btn-big btn-info" onclick="return doSubmit(2);">存檔</button>
					</div>
				</div>
			</div>
		</form>

	</main>

	<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
		<input type="hidden" id="id" name="id" value="">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="searchModalLabel">查詢結果</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<img src="/images/loading2.gif" style="width: 200px;">
				</div>
				<div class="modal-footer">
					<span style="color:red; float: left;">※ 點擊文字會複製到「事件處理」欄位內。</span>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
				</div>
			</div>
		</div>
	</div>

	<div id="wait" style="display:none">
		<p><img src="/images/loading.gif" width="150" height="150"></p>
	</div>
	<div id="wait_content" style="display:none">
		<p>請稍後，系統正在處理中...</p>
	</div>
	<iframe name="actFrame" src="about:blank" style="DISPLAY: none; Z-INDEX: 10; WIDTH: 148px; POSITION: absolute; HEIGHT: 194px; left: 105px; top: 5px" marginwidth="0" marginheight="0" frameborder="0" noresize="" scrolling="no"></iframe>



	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-148420718-4"></script>
	<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148420718-4');
	</script>

	<div id="wait" style="display:none">
		<p><img src="/images/loading.gif" width="150" height="150"></p>
	</div>
	<div id="wait_content" style="display:none">
		<p>請稍後，系統正在處理中...</p>
	</div>
	<iframe name="actFrame" src="about:blank" style="DISPLAY: none; Z-INDEX: 10; WIDTH: 148px; POSITION: absolute; HEIGHT: 194px; left: 105px; top: 5px" marginwidth="0" marginheight="0" frameborder="0" noresize="" scrolling="no"></iframe>


</body>
</html>