<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="~/images/favicon.ico" type="image/x-icon" rel="Shortcut Icon">
	<title>主任主頁面 | 台灣柏佐克智慧型居服管理系統</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/page2-1.css">
	<link rel="stylesheet" href="/css/wait.css">
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- iCheck for checkboxes and radio inputs -->
	<link rel="stylesheet" href="~/css/plugins/iCheck/all.css">
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script> -->
	<style>
		.nameDisplay {
			position: absolute;
			left: 10px;
			top: 0;
		}

		.custom-control-input:disabled ~ .custom-control-label {
			color: #000;
		}

		.alertCss {
			height: 300px;
			overflow-y: auto;
			/*color: #007bff;*/
		}

		.table th, .table td {
			padding-top: 8px;
			padding-bottom: 8px;
		}

		.table {
			border-collapse: collapse;
		}

		.chk {
			position: relative;
			bottom: 5px;
			display: none;
		}

		#saveBtn {
			display: none;
		}

		.alertfont {
			font-size: 1.2rem;
		}

		#problem {
			border: none;
			border-bottom: 1px solid #bbbbbb;
			background-color: transparent;
			font-size: 1rem;
			cursor: pointer;
		}

		.modal-header {
			padding: 0.5rem 0.5rem;
		}

		.modal-body {
			padding: 0.5rem;
		}

		.modal-dialog {
			width: 800px;
			max-width: 800px;
			margin: 30px auto;
		}

		.col-md-6 {
			max-width: 49%;
		}

		.form-group {
			margin-bottom: 0px;
		}

		.redfont {
			color: red;
		}
	</style>
</head>


<body>
	<div class="nameDisplay">
		@ViewBag.name 您好！
		您可切換至 職務代理-<a href="javascript:void(0)" onclick="choosePos(22, 4)">個管督導</a>
	</div>
	<div class="fixedBtns">
		<button id="problem" data-toggle="modal" data-target="#addModal1" data-notetitle="系統異常反映" data-whatever="">系統異常反映</button>
		<button id="problem" data-toggle="modal" data-target="#addModal2" data-notetitle="操作問題反映">操作問題反映</button>
		<button id="problem" data-toggle="modal" data-target="#addModal3" data-notetitle="輔導反映">輔導反映</button>
		<button id="Logout">登出</button>
	</div>
	<header>
		<p class="slogan">你的臉是為了呈現上天賜給人類最貴重的禮物--微笑 必定要成為你工作最大的助力</p>
	</header>
	<main>
		<div class="wrapper">
			<h1>主任首頁</h1>
			<table class="table">
				<tbody>
					<form method="post" action="/Home/Director">
						<tr>
							<th class="table_thBorder table_thBorder--orange table_thBlock table_thBlock--orange">
								打卡欄
							</th>

							<td class="table_tdBorder table_tdBorder--orange">

								<label for="">
									<div class="custom-control custom-checkbox checkbox-lg2">
										<input type="checkbox" class="custom-control-input" id="workButton" name="workButton">
										<label class="custom-control-label" for="workButton">上班打卡</label>
										
									</div>
								</label>
								<label for="">
									<div class="custom-control custom-checkbox checkbox-lg2">
										<input type="checkbox" class="custom-control-input" id="offworkButton" name="offworkButton">
										<label class="custom-control-label" for="offworkButton">下班打卡</label>
									</div>
								</label>
							</td>
							
							<td class="table_tdBtn"></td>
						</tr>
						
						<tr>
							<th class="table_thBorder table_thBorder--orange table_thBlock table_thBlock--red">自我感控</th>
							<td class="table_tdBorder table_tdBorder--orange">
								<label for="">
									<div class="custom-control custom-checkbox checkbox-lg2">
										<input type="checkbox" class="custom-control-input" id="check1" name="temperature" value="1">
										<label class="custom-control-label" for="check1">量體溫OK</label>
									</div>
								</label>
								<label for="">
									<div class="custom-control custom-checkbox checkbox-lg2">
										<input type="checkbox" class="custom-control-input" id="check2" name="Hand" value="2">
										<label class="custom-control-label" for="check2">手部清潔OK</label>
									</div>
								</label>
								<span class="span_spacer"></span>必要時
								<label for="">
									<div class="custom-control custom-checkbox checkbox-lg2">
										<input type="checkbox" class="custom-control-input" id="check3" name="Mask" value="3">
										<label class="custom-control-label" for="check3">戴口罩OK</label>
									</div>
								</label>
								<label for="">
									<div class="custom-control custom-checkbox checkbox-lg2">
										<input type="checkbox" class="custom-control-input" id="check4" name="Gloves" value="4">
										<label class="custom-control-label" for="check4">戴手套OK</label>
									</div>
								</label>
							</td>
							<td class="table_tdBtn">
								<input id="checkAll" type="submit" class="btn btn-info" value="存檔" />
							</td>
						</tr>
					</form>
	<tr>
		<th class="table_thBorder table_thBorder--red table_thBlock table_thBlock--red">警示欄</th>
		<td class="table_tdBorder table_tdBorder--red">
			<form id="form1" name="form1" method="post" action="/home/alert_save" target="actFrame" enctype="multipart/form-data">
				<div class="alertCss">
					<input type="checkbox" id="alert_913" name="alert[]" class="chk" value="913">

					<a class="alertfont" href="/exception_handling/index" target="_blank">1. 余5a 有異常通報產生，請進行處理！(109-12-11)  </a>
					<br>
					<input type="checkbox" id="alert_912" name="alert[]" class="chk" value="912">

					<a class="alertfont" href="/exception_handling/index" target="_blank">2. 余5a 有異常通報產生，請進行處理！(109-12-11)  </a>
					<br>
					<input type="checkbox" id="alert_39" name="alert[]" class="chk" value="39">
					3. 余002「照會日期」已過期了，該追蹤了！(109-05-14 20:20)                                                                 <br>
					<input type="checkbox" id="alert_36" name="alert[]" class="chk" value="36">
					4. 黃大達01「照會日期」已過期了，該追蹤了！(109-05-14 18:58)                                                                 <br>
					<input type="checkbox" id="alert_35" name="alert[]" class="chk" value="35">
					5. 林某1A「照會日期」已過期了，該追蹤了！(109-05-14 16:33)                                                                 <br>
					<input type="checkbox" id="alert_34" name="alert[]" class="chk" value="34">
					6. 陳某1「照會日期」已過期了，該追蹤了！(109-05-14 16:32)                                                                 <br>
					<input type="checkbox" id="alert_28" name="alert[]" class="chk" value="28">
					7. 個案2「照會日期」已過期了，該追蹤了！(109-05-08 21:10)                                                                 <br>
					<input type="checkbox" id="alert_27" name="alert[]" class="chk" value="27">
					8. 個案2「照會日期」已過期了，該追蹤了！(109-05-08 21:09)                                                                 <br>
					<input type="checkbox" id="alert_26" name="alert[]" class="chk" value="26">
					9. 陳某1「照會日期」已過期了，該追蹤了！(109-05-08 21:07)                                                                 <br>
					<input type="checkbox" id="alert_383" name="alert[]" class="chk" value="383">

					<a class="alertfont" href="/exception_handling/index" target="_blank">10. 黃忠達 有異常通報產生，請進行處理！(109-09-24)  </a>
					<br>
					<input type="checkbox" id="alert_382" name="alert[]" class="chk" value="382">

					<a class="alertfont" href="/exception_handling/index" target="_blank">11. 黃忠達 有異常通報產生，請進行處理！(109-09-24)  </a>
					<br>
					<input type="checkbox" id="alert_353" name="alert[]" class="chk" value="353">
					12. 「張某某」該做適應輔導了！(109-08-30 17:22)                                                                 <br>
					<input type="checkbox" id="alert_362" name="alert[]" class="chk" value="362">
					13. 個案 張某某 有吃飯不正常、飲食不正常 等家屬照顧紀錄，請追蹤處理！(109-08-30 19:45)                                                                 <br>
					<input type="checkbox" id="alert_361" name="alert[]" class="chk" value="361">
					14. Hnak 有申訴紀錄產生，請進行處理！(109-08-30 19:25)                                                                 <br>
					<input type="checkbox" id="alert_345" name="alert[]" class="chk" value="345">
					15. 有人該針對「異常事件-處理措施」做追蹤了！(109-08-21 14:43)                                                                 <br>
					<input type="checkbox" id="alert_196" name="alert[]" class="chk" value="196">
					16. 交通日誌有發生 交通安全 等不正常紀錄，請追蹤處理！(109-07-09 10:56)                                                                 <br>
					<input type="checkbox" id="alert_189" name="alert[]" class="chk" value="189">

					<a class="alertfont" href="/exception_handling/index" target="_blank">17. 黃忠達 有異常通報產生，請進行處理！(109-07-03)  </a>
					<br>
					<input type="checkbox" id="alert_107" name="alert[]" class="chk" value="107">
					18. 有人該針對「異常事件-處理措施」做追蹤了！(109-06-30 16:59)                                                                 <br>
					<input type="checkbox" id="alert_109" name="alert[]" class="chk" value="109">
					19. 陳陳某1 該做初評了！(109-06-30 17:11)                                                                 <br>
					<input type="checkbox" id="alert_112" name="alert[]" class="chk" value="112">
					20. 交通日誌有發生 人員安全 等不正常紀錄，請追蹤處理！(109-06-30 18:34)                                                                 <br>
					<input type="checkbox" id="alert_111" name="alert[]" class="chk" value="111">

					<a class="alertfont" href="/exception_handling/index" target="_blank">21. 黃中達 有異常通報產生，請進行處理！(109-06-30)  </a>
					<br>
					<input type="checkbox" id="alert_85" name="alert[]" class="chk" value="85">
					22. 有人該針對「異常事件-處理措施」做追蹤了！(109-06-25 16:11)                                                                 <br>
					<input type="checkbox" id="alert_80" name="alert[]" class="chk" value="80">
					23. 有人該針對「異常事件-處理措施」做追蹤了！(109-06-25 14:59)                                                                 <br>
					<input type="checkbox" id="alert_82" name="alert[]" class="chk" value="82">
					24. 有人該針對「異常事件-處理措施」做追蹤了！(109-06-25 15:37)                                                                 <br>
					<input type="checkbox" id="alert_77" name="alert[]" class="chk" value="77">
					25. 黃一達 該做初評了！(109-06-25 14:51)                                                                 <br>
					<input type="checkbox" id="alert_81" name="alert[]" class="chk" value="81">

					<a class="alertfont" href="/exception_handling/index" target="_blank">26. 余5a 有異常通報產生，請進行處理！(109-06-25)  </a>
					<br>
					<input type="checkbox" id="alert_79" name="alert[]" class="chk" value="79">

					<a class="alertfont" href="/exception_handling/index" target="_blank">27. 黃忠達 有異常通報產生，請進行處理！(109-06-25)  </a>
					<br>
					<input type="checkbox" id="alert_57" name="alert[]" class="chk" value="57">
					28. 余001 該做複評了！(109-06-25 12:39)                                                                 <br>
					<input type="checkbox" id="alert_53" name="alert[]" class="chk" value="53">
					29. 黃國達 有申訴紀錄產生，請進行處理！(109-06-04 17:15)                                                                 <br>
					<input type="checkbox" id="alert_46" name="alert[]" class="chk" value="46">

					<a class="alertfont" href="/exception_handling/index" target="_blank">30. 黃忠達 有異常通報產生，請進行處理！(109-06-02)  </a>
					<br>
					<input type="checkbox" id="alert_44" name="alert[]" class="chk" value="44">
					31. 交通日誌有發生 準時與否 等不正常紀錄，請追蹤處理！(109-05-28 15:03)                                                                 <br>
					<input type="checkbox" id="alert_43" name="alert[]" class="chk" value="43">
					32. 交通日誌有發生 準時與否 等不正常紀錄，請追蹤處理！(109-05-28 14:03)                                                                 <br>
					<input type="checkbox" id="alert_41" name="alert[]" class="chk" value="41">

					<a class="alertfont" href="/records/family_careness" target="_blank">33. 個案 黃一達 有有去就醫 等家屬照顧紀錄，請追蹤處理！(109-05-22)  </a>
					<br>
					<input type="checkbox" id="alert_40" name="alert[]" class="chk" value="40">

					<a class="alertfont" href="/records/family_careness" target="_blank">34. 個案 余002 有睡眠不正常、有去就醫 等家屬照顧紀錄，請追蹤處理！(109-05-22)  </a>
					<br>
					<input type="checkbox" id="alert_31" name="alert[]" class="chk" value="31">
					35. 個案 黃一達 有吃飯不正常 等家屬照顧紀錄，請追蹤處理！(109-05-09 20:28)                                                                 <br>
				</div>
			</form>
		</td>
		<td class="table_tdBtn">
			<button type="button" id="editBtn" class="btn btn-info" onclick="toEdit();">編輯</button>
			<button type="button" id="saveBtn" class="btn btn-orange" onclick="toSave();">儲存</button>
		</td>
	</tr>
</tbody>
			</table>
		</div>
	</main>
	<aside id="FuncSection" class="sectionFunc">
		<div class="container">
			<div class="row">
				<div class="col-6 col-sm-4 col-xl-2">
					<div class="sectionFunc__block">
						<h3 class="sectionFunc__header">新進員工</h3>
						<ul class="sectionFunc__list">
							<li class="sectionFunc__item">
								<a href="/Home/HRmanagement" class="sectionFunc__a sectionFunc__a--1"><i class="fab fa-pagelines"></i>人事與資料</a>
							</li>
							<li class="sectionFunc__item">
								<a href="/Home/Pre_employment_training" class="sectionFunc__a sectionFunc__a--1"><i class="fas fa-map"></i>職前訓練</a>

							</li>
							<li class="sectionFunc__item">
								<a href="/Home/training" class="sectionFunc__a sectionFunc__a--1"><i class="fas fa-map"></i>訓練登錄</a>

							</li>
							<li class="sectionFunc__item">
								<a href="/Home/HRmanagement" class="sectionFunc__a sectionFunc__a--1"><i class="fas fa-times"></i>員工離職</a>

							</li>
						</ul>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-xl-2">
					<div class="sectionFunc__block">
						<h3 class="sectionFunc__header">每日例行</h3>
						<ul class="sectionFunc__list">
							<li class="sectionFunc__item">
								<a href="/Home/Grievancemanagement" class="sectionFunc__a sectionFunc__a--2">
									<i class="fas fa-balance-scale"></i>申訴管理
								</a>
							</li>
							<li class="sectionFunc__item">
								<a href="/Home/Expenditureregister" class="sectionFunc__a sectionFunc__a--2">
									<i class="fas fa-book"></i>支出流水帳
								</a>
							</li>
							<li class="sectionFunc__item">
								<a href="/Home/HRmanagement" class="sectionFunc__a sectionFunc__a--2"><i class="fas fa-users"></i>人事管理</a>
							</li>
							<!--	<li class="sectionFunc__item">
							<a href="/Home/main" class="sectionFunc__a sectionFunc__a--2"><i class="fas fa-book"></i>報表檢核</a>
											</li>-->
						</ul>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-xl-2">
					<div class="sectionFunc__block">
						<h3 class="sectionFunc__header">每月初例行</h3>
						<ul class="sectionFunc__list">
							<li class="sectionFunc__item">
								<a href="/Home/Planmanagement" class="sectionFunc__a sectionFunc__a--3"><i class="fas fa-calendar-alt"></i>當月待執行</a>
							</li>
							<li class="sectionFunc__item">
								<a href="/Home/Carecharge" class="sectionFunc__a sectionFunc__a--3"><i class="fas fa-book"></i>照顧收費</a>
							</li>
							<li class="sectionFunc__item">
								<a href="/Home/Link_work" class="sectionFunc__a sectionFunc__a--3"><i class="fas fa-chart-bar"></i>社區連結工作</a>
							</li>
							<li class="sectionFunc__item">
								<a href="/Home/License_verification" class="sectionFunc__a sectionFunc__a--3"><i class="fas fa-bullhorn"></i>核銷工作</a>
							</li>
							<li class="sectionFunc__item">
								<a href="/Home/Financial_Management" class="sectionFunc__a sectionFunc__a--3"><i class="fas fa-money-bill-alt"></i>財務管理</a>
							</li>
							<li class="sectionFunc__item">
								<a href="/Home/Key_points_of_job_agency" class="sectionFunc__a sectionFunc__a--3"><i class="fab fa-reddit-alien"></i>職代檢視</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-xl-2">
					<div class="sectionFunc__block">
						<h3 class="sectionFunc__header">每年例行</h3>
						<ul class="sectionFunc__list">
							<li class="sectionFunc__item">
								<a href="/Home/Taxreturn" class="sectionFunc__a sectionFunc__a--5"><i class="fas fa-dollar-sign"></i>報稅</a>
							</li>
							<li class="sectionFunc__item">
								<a href="/Home/Personnelassessment" class="sectionFunc__a sectionFunc__a--5"><i class="fas fa-user"></i>人事考核</a>
							</li>
							<li class="sectionFunc__item">
								<a href="/Home/Insurance_security_management" class="sectionFunc__a sectionFunc__a--5"><i class="fas fa-briefcase-medical"></i>保險管理</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-6 col-sm-4 col-xl-2">
					<div class="sectionFunc__block">
						<h3 class="sectionFunc__header">法規執行</h3>
						<ul class="sectionFunc__list">
							<li class="sectionFunc__item">
								<a href="/Home/training" class="sectionFunc__a sectionFunc__a--6"><i class="far fa-map"></i>訓練登錄</a>
							</li>
							<li class="sectionFunc__item">
								<a href="/Home/Property_registration" class="sectionFunc__a sectionFunc__a--6"><i class="fas fa-suitcase"></i>財產登錄</a>
							</li>
							<li class="sectionFunc__item">
								<a href="/Home/Evaluation_area" class="sectionFunc__a sectionFunc__a--6"><i class="fas fa-american-sign-language-interpreting"></i>評鑑督考</a>
							</li>
							<li class="sectionFunc__item">
								<a href="/Home/Internal_regulations" class="sectionFunc__a sectionFunc__a--6">
									<i class="far fa-map"></i>內部規定
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</aside>

	<script src="/Scripts/main.js"></script>
	<script src="~/Scripts/jquery-3.2.1.min.js"></script>
	<!-- iCheck 1.0.1 -->
	<script src="/Scripts/iCheck/icheck.min.js"></script>

	<script>
		$(function () {
			//Red color scheme for iCheck
			/*  $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
			  checkboxClass: 'icheckbox_minimal-red',
			  radioClass: 'iradio_minimal-red'
			}); */

			$('#workButton').click(function () {
				var act_type = $('#workButton').prop("checked") ? 1 : 2;

				$.ajax({
					url: "/home/checkin",
					async: true,
					cache: false,
					method: "POST",
					data: {
						user_id: '22',
						type: 1,                               //1: 上班, 2:下班
						act_type: act_type                     //true: 打卡, false: 取消
					},
					success: function (data, status, xhr) {
						console.log(data, status, xhr);
						alert(data.message);
						location.reload();
					},
					error: function (xhr, stauts, err) {
						console.log(xhr, stauts, err);
					}
				});
			});

			$('#offworkButton').click(function () {
				var act_type = $('#offworkButton').prop("checked") ? 1 : 2;

				$.ajax({
					url: "/home/checkin",
					async: true,
					cache: false,
					method: "POST",
					data: {
						user_id: '22',
						type: 2,                               //1: 上班, 2:下班
						act_type: act_type                     //true: 打卡, false: 取消
					},
					success: function (data, status, xhr) {
						console.log(data, status, xhr);
						alert(data.message + '並登出！');
						// location.reload();
						location.href = '/Home/Logout';
					},
					error: function (xhr, stauts, err) {
						console.log(xhr, stauts, err);
					}
				});
			});

			// $('#check1,#check2,#check3,#check4').click(function()
			$('#aaa').click(function () {
				var typeValue = $(this).val();
				var act_type = $(this).prop("checked") ? 1 : 2;

				$.ajax({
					url: "/home/checkitem",
					async: true,
					cache: false,
					method: "POST",
					data: {
						user_id: '22',
						type: typeValue,                       //1:量體溫OK , 2:手部清潔OK, 3:戴口罩OK ,4:戴手套OK
						act_type: act_type                     //true:確認, false: 取消
					},
					success: function (data, status, xhr) {
						console.log(data, status, xhr);
						alert(data.message);
						// location.reload();
					},
					error: function (xhr, stauts, err) {
						console.log(xhr, stauts, err);
					}
				});
			});

			//$('#checkAll').click(function () {
			//	var check1 = $('#check1').prop("checked");
			//	var check2 = $('#check2').prop("checked");
			//	var check3 = $('#check3').prop("checked");
			//	var check4 = $('#check4').prop("checked");

			//	if (!check1 && !check2 && !check3 && !check4) {
			//		alert('請確認勾選自我感控選項再進行存檔！');
			//		$('#check1').focus();
			//		return false;
			//	}
			//	else {
			//		$.ajax({
			//			url: "/home/checkitemAll",
			//			async: true,
			//			cache: false,
			//			method: "POST",
			//			data: {
			//				user_id: '22',
			//				types: { 1: check1, 2: check2, 3: check3, 4: check4 },     //1:量體溫OK , 2:手部清潔OK, 3:戴口罩OK ,4:戴手套OK
			//				theDate: '2020-12-21'
			//			},
			//			success: function (data, status, xhr) {
			//				console.log(data, status, xhr);
			//				alert(data.message);
			//				location.reload();
			//			},
			//			error: function (xhr, stauts, err) {
			//				console.log(xhr, stauts, err);
			//			}
			//		});
			//	}
			//});

			$('#Logout').click(function () {
				if (confirm('確定登出?')) {
					location.href = "/Home/Logout";
				}
			});
		});

		function choosePos(uid, num) {
			$.ajax({
				url: "/home/setPosition",
				type: "POST",
				dataType: 'json',
				data: {
					id: uid,
					num: num
				},
				success: function (data, status, xhr) {
					// console.log(data,status,xhr);
					if (data.code == 200) {
						if (data.result != '')
							location.href = data.result;
					}
					else {
						alert(data.message);
					}
				},
				error: function (xhr, ajaxOptions, thrownError) {
					console.log(xhr, ajaxOptions, thrownError);
					alert('發生錯誤!');
				}
			});
		}

		function toEdit() {
			$('.chk').show();
			$('#saveBtn').show();
			$('#editBtn').hide();
		}

		function toSave() {
			var checked = 0;
			$('.chk:checked').each(function () {
				checked++;
			});

			if (checked > 0) {
				$('#wait').show();
				$('#wait_content').show();

				$('#form1').submit();
			}
			else {
				toClear();
			}
		}

		function toClear() {
			$('.chk').hide();
			$('#saveBtn').hide();
			$('#editBtn').show();
		}

		function sendmessage(pos) {
			var modal = $("#addModal" + pos);
			var nickname = modal.find('#nickname').val();
			var phone = modal.find('#phone').val();
			var description = modal.find('#description').val();

			if (nickname == '') {
				alert('請輸入反映人員姓名！');
				modal.find('#nickname').focus();
				return false;
			}
			else if (phone == '') {
				alert('請輸入反映人員電話！');
				modal.find('#phone').focus();
				return false;
			}
			else if (phone.search(/^[0-9]+$/) < 0) {
				alert("「反映人員電話」欄位僅限數入數字");
				modal.find('#phone').focus();
				return false;
			}
			else {
				event.preventDefault();
				var form = $("#myform" + pos)[0];
				var mydata = new FormData(form);

				$.ajax({
					url: "/user/sendmessage",
					type: "POST",
					dataType: 'json',
					data: mydata,
					contentType: false,
					processData: false,
					success: function (data, status, xhr) {
						console.log(data, status, xhr);
						if (data.code == 200) {
							alert(data.message);
							location.reload();
						}
						else {
							alert(data.message);
						}
					},
					error: function (xhr, ajaxOptions, thrownError) {
						console.log(xhr, ajaxOptions, thrownError);
						alert('發生錯誤!');
					}
				});
			}
		}
	</script>

	<div class="modal fade" id="addModal1" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addModalLabel">系統異常反映</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="myform1" method="post" action="" enctype="multipart/form-data">
						<input type="hidden" id="pos" name="pos" value="1">
						<input type="hidden" id="unitcode" name="unitcode" value="0001">
						<div class="form-group">
							<label for="message-text" class="col-form-label col-md-6">
								<span class="redfont">＊</span>反映人員姓名:<input class="form-control" id="nickname" name="nickname">
							</label>
							<label for="message-text" class="col-form-label col-md-6">
								<span class="redfont">＊</span>反映人員電話:<input class="form-control" id="phone" name="phone">
							</label>
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label col-md-12">
								<span class="redfont">＊</span>反映內容:<textarea class="form-control" id="description" name="description"></textarea>
							</label>
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label col-md-12">
								照片: <input type="file" name="file" id="file" class="form-control"><br>
								<!-- <input type='button' class='btn btn-info' value='上傳' id='upload'> -->
							</label>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
					<button type="button" class="btn btn-primary" onclick="sendmessage(1);">送出</button>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="addModal2" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addModalLabel">操作問題反映</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="myform2" method="post" action="" enctype="multipart/form-data">
						<input type="hidden" id="pos" name="pos" value="2">
						<input type="hidden" id="unitcode" name="unitcode" value="0001">
						<div class="form-group">
							<label for="message-text" class="col-form-label col-md-6">
								<span class="redfont">＊</span>反映人員姓名:<input class="form-control" id="nickname" name="nickname">
							</label>
							<label for="message-text" class="col-form-label col-md-6">
								<span class="redfont">＊</span>反映人員電話:<input class="form-control" id="phone" name="phone">
							</label>
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label col-md-12">
								<span class="redfont">＊</span>反映內容:<textarea class="form-control" id="description" name="description"></textarea>
							</label>
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label col-md-12">
								照片: <input type="file" name="file" id="file" class="form-control"><br>
								<!-- <input type='button' class='btn btn-info' value='上傳' id='upload'> -->
							</label>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
					<button type="button" class="btn btn-primary" onclick="sendmessage(2);">送出</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="addModal3" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="addModalLabel">輔導反映</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="myform3" method="post" action="" enctype="multipart/form-data">
						<input type="hidden" id="pos" name="pos" value="3">
						<input type="hidden" id="unitcode" name="unitcode" value="0001">
						<div class="form-group">
							<label for="message-text" class="col-form-label col-md-6">
								<span class="redfont">＊</span>反映人員姓名:<input class="form-control" id="nickname" name="nickname">
							</label>
							<label for="message-text" class="col-form-label col-md-6">
								<span class="redfont">＊</span>反映人員電話:<input class="form-control" id="phone" name="phone">
							</label>
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label col-md-12">
								<span class="redfont">＊</span>反映內容:<textarea class="form-control" id="description" name="description"></textarea>
							</label>
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label col-md-12">
								照片: <input type="file" name="file" id="file" class="form-control"><br>
								<!-- <input type='button' class='btn btn-info' value='上傳' id='upload'> -->
							</label>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
					<button type="button" class="btn btn-primary" onclick="sendmessage(3);">送出</button>
				</div>
			</div>
		</div>
	</div>

	<div id="wait" style="display:none">
		<p><img src="/images/loading.gif" width="150" height="150"></p>
	</div>
	<div id="wait_content" style="display:none">
		<p>請稍後，系統正在處理中...</p>
	</div>
	<iframe name="actFrame" src="about:blank" style="DISPLAY: none; Z-INDEX: 10; WIDTH: 148px; POSITION: absolute; HEIGHT: 194px; left: 105px; top: 5px" marginwidth="0" marginheight="0" frameborder="0" noresize="" scrolling="no"></iframe>



	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-148420718-4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-148420718-4');
	</script>

	<div id="wait" style="display:none">
		<p><img src="/images/loading.gif" width="150" height="150"></p>
	</div>
	<div id="wait_content" style="display:none">
		<p>請稍後，系統正在處理中...</p>
	</div>
	<iframe name="actFrame" src="about:blank" style="DISPLAY: none; Z-INDEX: 10; WIDTH: 148px; POSITION: absolute; HEIGHT: 194px; left: 105px; top: 5px" marginwidth="0" marginheight="0" frameborder="0" noresize="" scrolling="no"></iframe>


</body>
</html>