<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>財務會計制度 | 台灣柏佐克智慧型居服照顧管理系統</title>
	<link href="~/images/favicon.ico" type="image/x-icon" rel="Shortcut Icon">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
	<link rel="stylesheet" href="~/css/layout.css">
	<link rel="stylesheet" href="~/css/page2-8-1.css">
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="~/Scripts/jquery-3.2.1.min.js"></script>
	<script>
		$(function () {
			$('#homepageBtn').click(function () {
				location.href = "/Home/Director";
			});

			$('#lastPage').click(function () {
				history.back();
			});
		});
	</script>
	<style>
		.cjkUL {
			margin-left: 2rem;
		}
	</style>
</head>





<body style="zoom: 1;">
	<div class="fixedBtns"><button id="lastPage">上一頁</button><button id="homepageBtn">回首頁</button></div>
	<header class="header wrapper">
		<h1>財務會計制度</h1>
	</header>
	<main class="main wrapper">
		<section>
			<h2 class="chapterTitle chapterTitle chapterTitle--center">第一章  總則</h2>
			<p class="chapterDesc">概述會計制度之定義、內容並說明建立會計制度之功能</p>

			<h3>第一節 會計制度之定義</h3>

			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					會計制度係指本單位為處理其會計事務所定之ㄧ套辦法；根據政府法令規定、配合ㄧ般公認會計原則，用有系統有組織之理論與技術，
					使會計事項之辨認 、衡量、紀錄、分類、彙總及報告等工作有所依循，以便能夠定期或隨時提供主管機關、本單位董(理)事會、
					政府及社會大眾等正確之財務資訊，使其明暸本單位之財務狀況與營運活動成果。
				</li>
				<li li-idx="二、">
					社會制度之內容包括：簿記組織系統、快計憑證、會計帳簿、會計科目、會計會報、會計事務處理準則、會計事務處理程序、
					會計制度之職行與會計資料之電腦處理等事項。
				</li>
			</ul>
			<h3>第二節 會計制度之功能</h3>

			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					會計制度中規範簿記組織系統、快計憑證、會計帳簿、會計科目、會計會報、會計事務處理準則、會計事務處理程序、
					會計制度之職行與會計資料之電腦處理等事項，工作日常處理會計事務之依據。
				</li>
				<li li-idx="二、">
					會計制度建立後，可提供正確可靠之會計之訊，以保障本單位之財產安全，使資產運用、財務之收付等，均有合理之監督，
					更可增進本單位營運活動之效率與效果，並協助本單位遵守各項法令即規定。
				</li>
			</ul>
		</section>
		<section>
			<h2 class="chapterTitle chapterTitle--center">第二章  簿記組織系統</h2>
			<p class="chapterDesc">
				會計憑證分為原始憑證及記帳憑證兩種，本單位應根據原始憑證，編制記帳憑證，並根據記帳憑證，登入帳簿。
			</p>
			<img src="~/images/img-book6-1.jpg" class="small" alt="">
		</section>
		<section>
			<h2 class="chapterTitle chapterTitle--center">第三章  會計憑證</h2>
			<p class="chapterDesc">
				會計憑證分為原始憑證及記帳憑證兩種，本單位應根據原始憑證，編制記帳憑證，並根據記帳憑證，登入帳簿。
			</p>
			<h3>第一節 會計憑證之涵義</h3>
			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					會計憑證係指本單位在處理日常會計交易是項過程中，所產生之各種文件，其主要功能係證明會計交易事項之經過、
					表明處理會計交易事項人員之責任。因此本單位對會計交易事項之發生，均應取得或給予足以證明會計交易事項發生之會計憑證，
					以作為帳簿紀錄及事後驗證之依據。
				</li>
				<li li-idx="二、">
					會計憑證依其性質，區分為原始憑證記帳憑證：
				</li>
			</ul>
			<img src="~/images/img-book6-2.jpg" class="mid" alt="">

			<h3>第二節 原始憑證之種類</h3>
			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					原始憑證
					<p>係指為證明會計交易事項發生之經過，並作為編制記帳憑證依據之各種憑證單據。</p>
				</li>
				<li li-idx="二、">
					原始憑證之總類：
					<ul class="cjkQuoteUL">
						<li li-idx="（ㄧ）">
							外來憑證：
							<p>自本單位本身以外隻事業或雞購所取得者。如：統一發票、免用統一發票收據或水、電費之繳款收據等。</p>
						</li>
						<li li-idx="（二）">
							對外憑證：
							<p>係本單位給予本身以外之事業或機構者。如：捐款收據、因銷售貨物或勞務所開立之統一發票等。對外憑證應留副</p>
						</li>
						<li li-idx="（三）">
							內部憑證：
							<p>由本單位本身自行製存者。如：薪資清冊、支出證明單或出差旅費報告單等。</p>
						</li>
					</ul>
				</li>
				<li li-idx="三、">
					原始憑證之格式：
					<ul class="cjkQuoteUL">
						<li li-idx="（ㄧ）">
							原始憑證並無一定規範格式，除法令另有規定者外（如：統一發票之格式係經財政部規定），本單位得依本身實際需求自行設計使用。
						</li>
						<li li-idx="（二）">
							外來憑證及對外憑證應明確記載憑證名稱、日期、交易雙方之名稱、地址、統一編號、交易內容及金額等事項，
							或經承辦之開具人員簽名、蓋章。
						</li>
						<li li-idx="（三）">
							內部憑證由本單位根據交易事實及金額，自行製表留存。
						</li>
					</ul>
				</li>
				<li li-idx="四、">
					原始憑證基本覆核原則：
					<ul class="cjkQuoteUL">
						<li li-idx="（ㄧ）">
							原始憑證上應具備之交易金額、日期及品名、項目等是否已清楚載明。
						</li>
						<li li-idx="（二）">
							交易雙方之名稱是否均已清楚載明。
						</li>
						<li li-idx="（三）">
							應由經手人、製表人或審核主管等簽名蓋章者，是否已完備。
						</li>
						<li li-idx="（四）">
							原始憑證之內容若經塗改，應瞭解原應並是否業經負責人於塗改處簽名蓋章。
						</li>
					</ul>
				</li>
			</ul>
			<h3>第三節 記帳憑證之總類、格式、編制及覆核</h3>
			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					記帳憑證：<br />
					係指為證明處理會計交易事項人員責任，且工作為記帳依據之憑證。記帳憑證於實務上係統稱為「傳票」。
				</li>
				<li li-idx="二、">
					記帳憑證之總類：
					<ul class="cjkQuoteUL">
						<li li-idx="（ㄧ）">
							現金收入傳票：<br />
							凡會計交易事項產生現金收入者，得編制現金收入傳票。（如：收到現金捐款等）。
						</li>
						<li li-idx="（二）">
							現金支出傳票：<br />
							凡會計交易事項產生現金支出者，得編制現金支出傳票。（如：以現金支出水、電費等）。
						</li>
						<li li-idx="（三）">
							轉帳傳票：<br />
							凡與現金收付無關或混合部分現金收付之會計交易事項，應編制轉帳傳票。（如：開立之聘支付薪資等）。
						</li>
					</ul>
				</li>
				<li li-idx="三、">
					記帳憑證之格式應包括：本單位名稱、傳票名稱、日期、傳票號碼、科目名稱、摘要及金額，並經製單、出納、
					會計、覆核（財務主管）、核准（行政主管）等相關人員簽名或蓋章。
				</li>
				<li li-idx="四、">
					記帳憑證之編制：
					<ul class="cjkQuoteUL">
						<li li-idx="（ㄧ）">
							每筆會計交易事項，均應依其交易性質編制傳票。若係部份現金收付之混合會計交易事項得編製轉帳傳票。
						</li>
						<li li-idx="（二）">
							會計交易事項若無法以一張傳票記載完畢，得以另張傳票續接之。
						</li>
						<li li-idx="（三）">
							會計人員應依交易性質，選擇合宜之會計科目予以填製，並於「摘要欄」處將會計交易事項內容做簡單扼要說明。
						</li>
						<li li-idx="（四）">
							傳票日期及號碼應詳加填列，並避免跳號。傳票號碼係依序編號，以日為週期。
						</li>
						<li li-idx="（五）">
							原始憑證應附於傳票之後，隨同傳票裝訂保管，若需另案專卷保管者應加註索引。
						</li>
						<li li-idx="（六）">
							會計人員應將傳票以月為週期，順序打上編號後收存。
						</li>
						<li li-idx="（七）">
							傳票若於登錄帳簿後，始發現錯誤，應盡量製作更正傳票，不要更改原錯誤傳票。
						</li>
						<li li-idx="（八）">
							以新台幣「元」為記帳單位，並取至整數，小數點以下採四捨五入計入傳票。
						</li>
						<li li-idx="（九）">
							外幣交易事項按交易日之即期匯率換算新台幣計入傳票。
						</li>
					</ul>
				</li>
				<li li-idx="五、">
					記帳憑證之基本覆核原則：
					<ul class="cjkQuoteUL">
						<li li-idx="（ㄧ）">
							檢附之原始憑證是否齊全且正確。
						</li>
						<li li-idx="（二）">
							原始憑證金額是否與傳票所載金額相符。
						</li>
						<li li-idx="（三）">
							所用之會計科目及摘要說明是否是當。
						</li>
						<li li-idx="（四）">
							傳票是否經製表者簽名或蓋章，若有科目、金額等更正情形，是否由原編製者於更正處簽名或蓋章。
						</li>
					</ul>
				</li>
			</ul>
			<h3>第四節 會計憑證之保存</h3>
			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					傳票應按日或月彙訂成冊，並製作封面，封面上應詳註冊號、起迄日期等索引資料。裝冊之傳票應妥善保存。
				</li>
				<li li-idx="二、">
					為證明權利義務存在之憑證（如：存出、入保證金收據等），或須永久保存者（如：不動產買賣契約等），或係另行裝訂保管較便利者（如：薪資清冊等），其相關原始憑證得另行裝訂保管，惟需互編索引以便查詢。
				</li>
				<li li-idx="三、">
					各項會計憑證，除應永久保存或係因有關未结會計事項而需留存備查者外，應於年度決算程序辦理終了後，至少保存五年，保管期間屆滿，應經執行長核准後，方得以銷毀。
				</li>
			</ul>
		</section>
		<section>
			<h2 class="chapterTitle chapterTitle chapterTitle--center">第四章　會計帳簿</h2>
			<p class="chapterDesc">會計帳簿分為序時帳簿與分類帳簿二種，本單位基本應設置之帳簿為：日記簿及總分類帳。</p>

			<h3>第一節	會計帳目之設置及使用</h3>

			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					帳簿是保存交易紀錄之工具，本單位可透過帳簿將每天發生之會計交易事項分類紀錄，並於適當時間編製會計報表，提供各相關需求者使用。
				</li>
				<li li-idx="二、">
					會計帳簿記帳單位：本單位應以國幣為記帳本位，以新台幣「元」為單位，並取至整數，小數點以下採四捨五入計入會計憑證及帳簿。
				</li>
				<li li-idx="三、">
					本單位設置之帳簿，同一會計年度內應連續記載。
				</li>
				<li li-idx="四、">
					總分類帳簿之各帳戶目錄應設置索引目錄。
				</li>
				<li li-idx="五、">
					記帳錯誤，應於原錯誤上劃紅線二道，將更正之數字或文字書寫於上，並由更正人於更正處簽名或蓋章，已明責任。
				</li>
				<li li-idx="六、">
					會計事項如利用電子計算基礎裡或採機器記帳，其帳簿得改以電子計算機產出或經機器列印之帳簿代替人工帳簿。　
				</li>
			</ul>
			<h3>第二節	會計帳簿之總類及格式</h3>

			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					會計帳簿可分為序時帳簿及分類帳簿；而本單位基本須設置之帳簿為：序時帳簿中之日記簿及分類帳簿中之總分類帳。
					<ul class="numberUL">
						<li li-idx="(一)">
							序時帳簿：係以會計交易事項發生之時序為主做成紀錄之帳簿。<br />

							可分為二種：<br />

							１、普通序時帳簿：<br />

							只對一切會計交易事項按交易發生之次序，設立序時登載紀錄之帳簿，如：日記簿。<br />

							２、特種序時帳簿，可是需要而設置：<br />

							指對於特種交易事項按交易發生之次序，設立序時登載記錄之帳簿，如現金帳簿，係僅對現金收支之交易事項依序登載。<br />

							（二）	分類帳簿：係以會計交易事項歸屬之會計科目為紀錄主體之帳簿。可分為二種：<br />

							１、總分類帳：指按各會計交易事項歸屬之會計科目，設立之分類紀錄帳簿。<br />

							２、明細分類帳簿，可是需要而設置：<br />

							係按會計交易事項歸屬之會計科目，再就其性質別或事務人名別，做分戶名細記錄之帳簿。其為總分類帳之補助帳，需受總分類帳各相關科目帳戶之控制。<br />

						</li>
					</ul>
				</li>
			</ul>
			<h3>第三節	會計帳簿之保存</h3>
			<ul class="cjkUL">
				各項會計帳簿除因有關未结會計事項而需留存備查者外，應於年度決算程序辦理終了後，至少保存十年，保管期間屆滿，應經執行長核准後，方得予銷毀。
			</ul>
		</section>
		<section>
			<h2 class="chapterTitle chapterTitle chapterTitle--center">第 五章　會計科目</h2>
			<p class="chapterDesc">會計科目分為資產、負債、基金及餘絀、收入、支出等五大類，得視實際需要增減之。</p>

			<h3>第一節　會計科目之意涵</h3>

			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					會計科目係會計制度之骨架，不僅是會計事項中傳票分錄、記帳與編表ㄓ依據，更經由會計科目表達本單位之財務狀況及營運活動成果。
				</li>
				<li li-idx="二、">
					社會制度之內容包括：簿記組織系統、快計憑證、會計帳簿、會計科目、會計會報、會計事務處理準則、會計事務處理程序、
					會計制度之職行與會計資料之電腦處理等事項。
				</li>
			</ul>
			<h3>第二節　會計科目之設置與使用</h3>

			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					會計科目之設置及使用，將因本單位之性質與活動內容不同而有所差異，是故於使用時應考量下列基本原則：<br />
					（一）會計科目名稱，應簡單易懂並能適切彰顯科目性質與功能，同時應盡量採用依班公認名稱或政府法令規定者。<br />

					（二）會計科目排列順序，依各本單位規模大小與營運活動項目繁簡而有所差異，惟一般通則係：<br />

					１、資產科目按流動性大小排列，流動性愈高者，其排列表達將愈前。<br />

					２、負債科目係按到期日之遠近排列，到期償還期間愈遠，其排序表達將愈後。<br />

					３、基金及餘絀科目則按存續之永久性排列，存續期間愈長，其排序表將愈前。<br />

					４、每一會計科目所表達之性質及內容，應明確說明。<br />

					５、會計科目應配合營運內容變動，做訂期修定檢討，以適應本單位需求。

				</li>
				<li li-idx="二、">
					會計科目之分類及編號：<br />

					（一）依其涵蓋範圍，可分為大分類、中分類、小分類及子科目。<br />

					（二）依分類予以編號，原則上採七位整數編號法。<br />

					１、第一碼：代表大分類，包括資產、負債、基金及餘絀、收入、支出。<br />

					２、第二碼：代表中分類，如：流動資產、固定資產或流動負債、長期負債、經常營運收入、非經常營運收入、經常營運成本、非經常營運成本。<br />

					３、第三、四碼：代表小分類。如：現金、銀行存款、應收票據或應付票據、應付費用等。<br />

					４、第五～七碼：代表子科目，如：銀行存款依銀行帳戶分別記載。<br />

					第三節　會計科目之內容<br />

					一、１０００　資產<br />

					所謂資產係本單位透過交易或其他事項所獲得之經濟資源，能以貨幣量衡並預期未來能提供經濟效益者。<br />

					二、１１００　流動資產<br />

					指現金、短期投資及其他預期能於一年內變現或耗用之資產。<br />

					三、１１１１　現金<br />

					凡屬法定貨幣，可自由運用之硬幣、紙幣等，外國貨幣應依入帳日之即期匯率換算成新台幣入帳。<br />

					四、１１１２　銀行存款<br />

					凡存於金融機構中可自由提存、使用之存款均屬之。如支票存款及活期存款。本科目可依銀行存款帳目別另設立子科目。以下因項目、內容繁多，不與列示。<br />
				</li>
			</ul>
		</section>
		<section>
			<h2 class="chapterTitle chapterTitle chapterTitle--center">第六章　會計報表</h2>
			<p class="chapterDesc">
				會計報表包括資產負債表、收支餘絀表、現金流量表等主要報表及各科目名細表或各管理性報表等。<br />
				會計報表應予必要之註釋，並視為各該報表之ㄧ部分。<br />
				本單位基本應編製之會計報表為：資產負債表及收支餘絀表。
			</p>

			<h3>第一節　會計報表之涵義</h3>

			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					會計報表係會計工作之最終成品，為本單位表達財務狀況、營運成果及現金流量等事項之工具。
				</li>
				<li li-idx="二、">
					允當表達之會計報表，不僅可作為過去營運活動得失之檢討依據，更可提供董事會作為未來營運方針或活動推廣之參考。
				</li>
			</ul>
			<h3>第二節  會計報表之種類及格式</h3>

			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					一、本單位之會計報表，可區分為：<br />

					（一）主要報表：<br />

					１、資產負債表。<br />

					２、收支餘絀表。<br />

					３、年度預算書。<br />

					４、年度決算書。<br />

					５、經費收支情形概算表。<br />

					６、財產清冊。<br />

					（二）附屬報表：<br />

					各分類科目之科目名細表。如：應收學費明細表、應收帳款帳齡分析表、應收學生代墊教養補助款明細表。<br />

					（三）管理報表：<br />

					１、管理用週報表，如：銀行往來週報表。<br />

					２、管理用月報表，如：可用基金預估表。<br />

					３、管理用月報表，如：銀行往來月報表、會計收支月報表、捐款統計表。<br />

					４、管理用季報表，如：預算執行狀況表。<br />
				</li>
				<li li-idx="二、">
					主要會計報表之格式：<br />

					（一）資產負債表。<br />

					（二）收支餘絀表。<br />
				</li>
			</ul>

			<h3>第三節　會計報表之編製</h3>

			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					會計報表，應按會計帳簿所載之記錄資料編製。
				</li>
				<li li-idx="二、">
					會計報表，其內容應力求正確，以允當表達財務狀況及營運活動成果。

				</li>
				<li li-idx="三、">
					會計報表之內容應保持一致性，如因需要而必須變更編製之基礎，應明確說明理由。
				</li>

				<li li-idx="四、">
					會計報表應依會計年度予以編製，並得定期或不定期編製各項會計報表，供董事會參考使用。
				</li>

				<li li-idx="五、">
					會計報表得依實際需求，加列附註說明。
				</li>
				<li li-idx="六、">
					本單位編製之主要會計報表，應由執行長、主任及會計主管等三位簽名或蓋章，以示負責。（原則上執行長及主管一定要簽名或蓋章，其餘人員可隨本單位之職級或架構做調整刪增）。
				</li>
				<li li-idx="七、">
					依「內政業務本單位監督準則」第十六條第一項規定：本單位應於年度終了後三個月，檢具年度決算及業務執行書，報請主管機關核唄。因此，本單位之主要會計報表應於會計年度終了後三個月內編製完竣。
				</li>
			</ul>
			<h3>第四節　會計報表之保存</h3>

			<ul class="cjkUL">
				各項會計報表除因有關未结會計事項而需留存備查者外，應於年度決算程序辦理終了後，至少保存十年，保管期間屆滿，應經執行長核准後，方得予銷毀。
			</ul>
		</section>
		<section>
			<h2 class="chapterTitle chapterTitle chapterTitle--center">第七章　會計事務處理準則</h2>
			<p class="chapterDesc">
				會計事務處理準則係指本單位處理其會計事務時所依循之標準及規則，內容包括一般性規定集資產、負債、基金及餘絀、收入、支出等科目規範。
			</p>

			<h3>第一節　會計事務處理準則之涵義</h3>

			<ul class="cjkUL">
				會計事務處理準則係指本單位依據相關法令規定，配合一般公認會計厡則，同時參酌實際營運活動情形，訂定一套標準及規則，以供會計人員共同遵守，俾於處理會計事務時有所依循。
			</ul>
			<h3>第二節　會計事務處理準則之涵義</h3>

			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					會計人員：<br />
					本單位之會計事務應由會計主管或會計人員負責辦理，並應受執行長等上級主管監督指揮。
				</li>
				<li li-idx="二、">
					會計年度：<br />
					採曆年制，以每年一月依日起至十二月三十一日止為會計年度。
				</li>
				<li li-idx="三、">
					會計基礎：<br />
					原則上採用權責基處制，平時則採用現金收付制，於決算時按權責基處制與以調整。
				</li>
				<li li-idx="四、">
					會計一致性原則：<br />
					會計交易事項之入帳基礎與處理方法，應前後一致，如有特殊原因需變更，則應詳加說明理由及變更之影響等。

				</li>
				<li li-idx="五、">
					會計估計：<br />
					會計資訊之提供必須即時，為顧及資訊時效與有用性，必要時得採適宜之估計程序，估計相關數字。
				</li>
				<li li-idx="六、">
					記帳單位：<br />
					應以新台幣「元」為單位，如有外國貨幣交易者，應按交易時之即期匯率折算新台幣入帳。

				</li>
				<li li-idx="七、">
					支付工具：<br />
					本單位得經董事會決議，規定會計交易事項之收、付款若超過一定金額以上者，應採取匯款、支票、劃撥等非縣之收支方式為之，並在明收款人，以作為資金之基本管控。
				</li>
			</ul>
			<h3>第三節　會計事務處理準則之內容</h3>
			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					資產<br />

					（一）總則<br />

					１、各項資產，以取得所有權為原則。<br />

					２、資產之取得以實際成本入帳，包括取得價格及自取得適於營運活動使用之ㄧ切要支出。<br />

					３、支出效益及於以後各期者，列為資產。效益僅及於當期或無效益者，列為支出。<br />

					４、提供作為擔保或質押之資產，應於會計報表中加註說明或做適當表達，以提醒報表閱讀者。<br />

					（二）現金及銀行存款<br />

					現金及銀行存款中，若以受限制無法動用或以提供作擔保質押者，應於會計報表中加註說明或做適當之表達，以提醒報表閱讀者。<br />

					（三）短期投資<br />

					１、成本之計算可採加權平均法、個別認定法等方法。<br />

					２、所配發之股票股利，不作收益處理，僅列示增加隻股數並應重新計算每股單位成本。<br />

					３、期末應採成本與市價孰低法按總額比較法評價，成本低於市價之跌價損失部分，應提列備抵跌價損失，作為短期投資之減並列認為當其損失。<br />

					４、日後若市價回升，僅得予原跌價損失範圍內轉回，並作為當其收入。<br />

					（四）應收票據及款項<br />

					１、依年內到期之應收票據及款項，按票據面值及款項帳載金額入帳。<br />

					２、期末決算，應評估無法收現之票據或款項金額，提列適當備抵呆帳，列為應收票據及款項之減項。<br />

					（五）商品<br />

					１、成本之計算可採加權平均法、個別認定法等方法。<br />

					２、期末應採成本與市價孰低法評價，若有跌價損失應列入當期損益。<br />

					（六）長期投資<br />

					１、持股比率達２０％以上或具有重大影響力者，採權益法評價；反之採成本法評價。<br />

					２、期末應對採成本法評價之上市公司股票，按成本平價熟低法評價。<br />

					（七）固定資產<br />

					固定資產除土地外，應按直線法，按期提列折舊，不得間斷，累計折舊列為固定資產之減項。<br />

					（八）其他資產<br />

					未攤銷費用案契約期間或最常不超過五年予以攤銷。<br />
				</li>
				<li li-idx="二、">
					負債<br />

					（一）總則<br />

					１、各項負債之入帳，以其需清償之金額為標準。應清償之金額，係經債權人同意之數額，若係無法或尚未取得債權人同意者，得暫按事實為精確之計算或估算。<br />

					２、資產與負債應分別列示，不得相互抵銷。除非具有法定之抵銷權。<br />

					３、長期負債若於一年內到期者，應轉列流動負債。<br />

					４、清償債務時所實付之金額，若與帳面所列金額有差異時，應就差異數列為收入或支出。<br />

					５、就已發生之應付債務，僅因金額尚未確定者，應估計相關合理之數額與以入帳。<br />

					（二）長、短期借款<br />

					若有提供資產作為擔保或質押情形，應於會計報表中加註說明或做適當表達，以提醒報表閱讀者。
				</li>
				<li li-idx="三、">
					基金及餘絀<br />

					（一）基金會之最低設立基金，除報准核定機關動用者外，不得隨意動支。<br />

					（二）捐贈資產，按法人登記書上所載財產總額登錄之。<br />

					（三）累積餘絀與本期於觸應分別明列。<br />

					（四）期初累積餘絀應與上期期末累積餘絀數額相同。<br />

					（五）本其餘處數應與收支餘絀表之餘絀數相同。<br />
				</li>
				<li li-idx="四、">
					收入<br />

					（一）各項收入不得以扣除相關支出、費用後之淨額入帳，必須就總額入帳。<br />

					（二）實物捐贈以公平市價為入帳依據，其相對科目為固定資產或捐贈商品等科目。公平市價一般係指捐贈人購入之市價，或係向市場查詢之ㄧ般行情價格。<br />
				</li>
				<li li-idx="五、">
					支出<br />

					費用、支出應配合相關收入，同期認列。
				</li>
		</section>
		<section>
			<h2 class="chapterTitle chapterTitle chapterTitle--center">第八章　會計事務處理程序</h2>
			<p class="chapterDesc">會計事項處理程序係指本單位將其營運活動所產生之結果，運用會計報表傳達給報表使用者之過程，併序明法令規定及應注意事項，以利遵循。</p>

			<h3>第一節　會計事務處理程序之涵義</h3>
			普通會計事務處理程序
			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					普通會計事務處理程序，係指本單位根據原始憑證編製劑帳憑證，再依據計帳憑證登入序時帳簿，過入分類帳，並於一定時間，進行調 整、試算並編製會計報表，且依相關規定遞送會計報表之全部過程。
				</li>
				<li li-idx="二、">
					普通會計事務處理程序，主要係將本單位營運活動所產生之結果，運用會計報表傳達給報表使用者，如：主管機關、董事會或社會大眾等。
				</li>
				<li li-idx="三、">
					普通會計事務處理程序，亦納入預算辦理程序、各類所得扣繳申報、所得稅及營業稅報繳等法令規定及應注意事項，以利遵循。財物、成 本（含薪資）及其他特定會計事務處理程序。
				</li>
			</ul>
			<h3>第二節　普通會計事務處理程序之內容</h3>

			<ul class="cjkUL">
				<li li-idx="ㄧ、">
					原始憑證之取得、給予及審核：<br />

					（一）會計交易事項之發生，均應取得或給予足以證明會計交易事項經過之原始憑證。<br />

					（二）原始憑證之審核：<br />

					１、支出憑證之審核：<br />

					（１）向營利事業購進貨物或支付費用，於支付款項前應取得「統一發票」或「免用統一發票收據」等外來原始

					憑證。<br />
					該憑證應記明下列事項：<br />

					Ａ：本單位之名稱及統一編號。<br />

					Ｂ：購入之貨品名稱、數量或費用性質。<br />

					Ｃ：交易日期及交易單價或總今哦。<br />

					Ｄ：營利事業名稱、統一編號、地址及其統一發票張或免用統一發票之戳記。<br />

					（2）對個人支付費用，應取得「領據」等外來原始憑證。該憑證應記明下列事項：<br />

					A﹒受款人之姓名、戶籍地址、國明身分證統一編號，必要 時應檢附身分證影本供備查。<br />

					B﹒支付款項事由。<br />

					C﹒支付日期、金額。<br />

					D﹒領款人簽收記錄。<br />

					若有需辦理所得稅扣繳者，於支付款向前應確認業已先 行代扣所得稅款。<br />

					（3）應具備原始憑證而事實上無外來原始憑證，或無法取據之 會計事項，應由經手人填具「支出證明單」，具以報銷。<br />

					（4）員工出差旅費應填具「出差旅費報告單」並檢具相關單 據報銷。<br />

					2、收入憑證之審核：<br />

					（1）凡銷售貨物、提供勞務或固定資產之出租，應以經書面規定或租約約定之收費標準為審核之依據。<br />

					（2）本單位所開立之統一發票，應記明下列事項：<br />

					A﹒買受人名稱、地址及統一編號。<br />

					B﹒貨品品名或勞務性質。<br />

					C﹒交易日期及交易單價或總金額。<br />

					D﹒蓋本單位之統一發票章。<br />

					（3）本單位所開立之捐款收入，應記明下列事項：<br />

					A﹒本單位之名稱、地址及統一編號、法人登記證書字號。<br />

					B﹒本單位之法人用印、負責人及經手人之用印。<br />

					C﹒收據之號碼。<br />

					D﹒捐贈者名稱、捐贈日期及金額。<br />

					3、一般常見之支出憑證樣本：<br />

					（1）手開三聯式及手開二聯式統一發票。<br />

					（2）收銀機開立之三聯式統一發票及收銀機開立之統一發票。<br />

					（3）免用統一發票收據。<br />

					（4）支出證明單（或經手人證明）。<br />

					（5）出差旅費報告單。<br />

					（6）領據。<br />
				</li>
				<li li-idx="二、">
					記帳憑證之編製：<br />

					（一）	本單位應根據原始憑證編製記帳憑證,但因辦理決算及決算後轉入帳目等事項，得不檢附原始憑證。<br />

					（二）	記帳憑證內所記載之會計事項及金額，應原始憑證所表示者相符。<br />

					（三）	記帳憑證應記載本單位名稱、傳票名稱、日期、傳票號碼、科目名稱、摘要及金額等事項，並經製票、出納、會計、覆核、核准主管等相關人員簽名或蓋章。<br />

					（四）	記帳憑證繕寫錯誤，而即時發現者，應由製表人員劃線註銷更正，並於更正處蓋章。前項錯誤於記帳後發現者，應另編製傳票更正之。<br />

					（五）	原始憑證上所列之金額為外幣時，應按交易日之即期匯率折算成新台幣記入記帳憑證。<br />
				</li>

				<li li-idx="三、">
					會計帳簿之處理：<br />

					（一）	本單位應根據記帳憑證之發生次序逐日登入序時帳簿，並過入總分類帳簿中，若設有明細分類帳者，應再予以登入。<br />

					（二）	帳簿內所記載之會計科目金額及交易事項，應與記帳憑證所記載者相符。<br />

					（三）	總分類帳（明細分類帳）每月終了時應辦理總結一次。計算各帳戶「本月合計」及「截至本月累計」之金額，以利定期報表之編製。<br />

					（四）	本單位於會計年度終了時，應辦理決算，按權責基礎製作相關調整分錄：<br />

					1.收益及費用應按其歸屬年度作調整分錄，包括：預收、預付、應收、應付之調整。<br />

					2.折舊與呆帳等應屬本年度費用之調整認列。<br />

					（五）	各科目經調整後,應再執行下列步驟：<br />

					1.各收入科目與支出科目，應轉入「本期餘絀」科目，作損益之計算。<br />

					2.資產、負債、基金及餘絀各科目之餘額，應轉入下年度各該科目中。<br />
				</li>
				<li li-idx="四、">
					會計報表之編製：<br />

					（一）	本單位應依會計年度，根據總分類帳各科目經過調整後之餘額編年度會計報表，將屬於該年度之會計交易事項。

					全部列入。定期之報表得就截止該月底辦理完畢而己入帳之會計交易事項予以編製。<br />

					（二）	會計報表所表現之數字，應帳簿所記載之金額相符。<br />

					（三）	會計報表之表達應予必要之註釋，便於閱讀及瞭解，並視為會計報表之一部份。<br />

					（四）	會計人員於編製會計報表時，對於現金、銀行存款等各項實體，應隨時盤點並與帳載記錄相互核對。實體之核對與盤點事項，每年至少應辦理一次。<br />

					（五）	各項會計報表均應留存底稿備查。<br />

					（六）	本單位媥製之會計報表，應由執行長、會計主管及製表人等三位簽名或蓋章，以示負責。（原則上執行長及會計主管一定要簽名或蓋章，其餘人員可隨本單位之職級或架構作調整刪增）。<br />
				</li>
				<li li-idx="五、">
					決算之辦理：<br />

					（一）	本單位設有附屬組織或機構者，應將其本機構與附屬機構組織之帳目合併辦理決算。<br />

					（二）	本單位每屆會計年終了應編製決算書表，提交董（監）事會審核通過後，備置存查。<br />

					（三）	決算書表含：財務報表（含資產負債表、收支餘絀表（基金收支表）、決算表、經費運用情形概況表、財產清冊）及業務報告。<br />

					（四）	依「內政業務本單位監督準則」第十六條第一項規定：本單位應於年度終了後三個月，檢具年度決算及業務報告，報請內政部核備。<br />

					（五）	本單位應循相關法令規定，於年度終了後三個月檢具財務報表及業務報告併同董（監）事會通過之會議記錄等資料，報請內政部核備。<br />
				</li>
				<li li-idx="六、">
					預算之辦理：<br />

					（一）本單位之預算應按年度編製，編製預算前應先衡酌年度主要營運活動計畫，依此作為估列收支之基礎。<br />

					（二）本單位之年度預算分為收入預算及支出預算，其估列依據如下：<br />

					1.捐款收入：<br />

					依前一年度捐贈收入為基礎，參酌當年度至編製日止之收入情形 ，配合預計新增活動計畫經費推估應增加募款之收入。<br />，估列全年度捐款收入。

					2.照顧費收入：<br />

					依前一年度各組平均收入為基礎，乘以各組預估學生人數，估列全年度學雜費收入。<br />

					3.政府補款收入：<br />

					教養機構人事補助依前一年度收入為基礎，參酌當年度機構服務人數依比例增減申請款額予以編製，日間托育補助款依估計可申 請學生人數乘以每人申請額得之，其他補助預計新增活動計畫經費推估應增加之收入，估列全年度政府補助款收入。<br />

					4.利息收入：<br />

					以預計年初與年底之銀行存款餘額均數，參酌銀行平均利率估計之。<br />

					5.租金收入：<br />

					按租賃契約所載租金金額及期間或依前一年度租金收入為基礎估列之。愛心家園醫務室收入性質等同租金收入。<br />

					6.其他收入：

					若為經常性之收入，暫依前一年度發生數估列之。若非經常發生者，暫不估列。<br />

					7.借款收入：<br />

					機構預算年度總收入扣除總支出，其不足額應向基會借款以資調度者，作為全年度基金會借款收入，<br />

					8.銷售貨物或勞務收入（事業部門收入）：<br />

					依前一年度收入為基礎，參酌當年度至編製日止之收入情形，配合各銷售部門年度銷售計，估列全年度銷售貨物或勞務收入<br />

					9.專案計畫收入：<br />

					依各部門年度計畫概算，估列全年度專案計畫收入。<br />

					10.人事費用。
				</li>

			</ul>

		</section>

	</main>


	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-148420718-4"></script>
	<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148420718-4');
	</script>

	<div id="wait" style="display:none">
		<p><img src="/images/loading.gif" width="150" height="150"></p>
	</div>
	<div id="wait_content" style="display:none">
		<p>請稍後，系統正在處理中...</p>
	</div>
	<iframe name="actFrame" src="about:blank" style="DISPLAY: none; Z-INDEX: 10; WIDTH: 148px; POSITION: absolute; HEIGHT: 194px; left: 105px; top: 5px" marginwidth="0" marginheight="0" frameborder="0" noresize="" scrolling="no"></iframe>


</body>
</html>