<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>申訴處理表 - 第四步驟 | 台灣柏佐克智慧型居服照顧管理系統</title>
	<link href="~/images/favicon.ico" type="image/x-icon" rel="Shortcut Icon">
	<link rel="stylesheet" href="~/css/font-awesome/all.css">
	<script src="https://kit.fontawesome.com/2594af17cb.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="~/css/font-awesome/all.css">
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/layout.css">
	<link rel="stylesheet" href="~/css/page2-2.css">
	<link rel="stylesheet" href="~/css/page2-3-3.css">
	<link rel="stylesheet" href="~/css/wait.css">
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="~/Scripts/jquery-3.2.1.min.js"></script>
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<!--Get your own code at fontawesome.com-->

	<script>
		$(function () {
			$('#homepageBtn').click(function () {
				location.href = "/Home/Director";
			});

			$('#lastPage').click(function () {
				history.back();
			});
		});
	</script>

	<style type="text/css">
		.auto-style1 {
			text-align: right;
		}
	</style>

</head>
<body>




		<div class="auto-style1">
			<button id="lastPage">上一頁</button><button id="homepageBtn">回首頁</button>
		</div>

		<div class="auto-style2">
			<strong>申請紀錄表&nbsp; </strong>
		</div>

		<center>
			<table width="400" height="150">
				<tr>
					<td width="200" align="left">
						<font size="4">申訴者姓名:</font>
					</td>
					<td></td>
				</tr>
				<tr>
					<td width="200" align="left">
						<font size="4">申訴者身分:</font>
					</td>
					<td></td>
				</tr>
				<tr>
					<td width="200" align="left">
						<font size="4">申訴者連絡電話:</font>
					</td>
					<td></td>
				</tr>
				<tr>
					<td width="200" align="left">
						<font size="4">申訴者日期:</font>
					</td>
					<td></td>
				</tr>
				<tr>
					<td width="200" align="left">
						<font size="4">申訴者類別:</font>
					</td>
					<td></td>
				</tr>
			</table>
			<p></p>
			<p></p>
			<table width="800" height="250">
				<tr>
					<td valign="top">
						<font size="4">事件原由:</font>
					</td>
				</tr>
			</table>
			<table width="800" height="75">
				<tr>
					<td>
						<font size="4">跨專業會診:</font>
					</td>
			</table>
			<table width="800" height="150">
				<tr>
					<td width="100" valign="top">
						<font size="4">事件處理:</font>
					</td>
					<td></td>
				</tr>
			</table>
			<table width="800" height="150">
				<tr>
					<td width="100" valign="top">
						<font size="4">後續追蹤:</font>
					</td>
					<td></td>
				</tr>
			</table>
			<table width="800" height="150">
				<tr>
					<td width="100" valign="top">
						<font size="4">檢討:</font>
					</td>
					<td></td>
				</tr>
			</table>
			<table width="800" height="30">
				<tr>
					<td width="300" color="#6633cc">
						<font size="4">申訴處理表</font>
					</td>
				</tr>
			</table>
			<br />
			<br />
			<table width="600" height="150">
				<tr>
					<td>
						<font style="line-height:28px">
							<input type="text" />&nbsp;&nbsp;&nbsp;&nbsp;先生/小姐您好:
							<br />
							本人是主任
							<input id="txtName" name="txtName" type="text" />，關於您所反應之事，在此向您說明敝單位調查處置情形，希望您能滿意
							，如果您還有進一步必須表達之意，請您直接與敝單位的居服督導
							<input id="txtName" name="txtName" type="text" />聯絡，電話是<input id="txtName" name="txtName" type="text" placeholder="範例:04-22354840" />，若您對於本單位之回覆不滿意，您可以跟
							<input id="txtName" name="txtName" type="text" placeholder="範例:台中市長期照顧管理中心" />提出申訴，或<input id="txtName" name="txtName" type="text" placeholder="範例:台中市政府衛生局長期照護科" />提出申訴，謝謝您的指教。
							<br />
							敬祝
							<br />
							<br />
							<br />
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;平安&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;健康
							<br />
							<br />
							<br />
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input id="txtName" name="txtName" type="text" placeholder="範例:台中市北區樂齡綜合長照機構" />&nbsp;&nbsp;&nbsp;&nbsp;謹上
						</font>
					</td>
				</tr>
			</table>

			<table width="800" height="150">
				<tr>
					<td>
						<b><font size="4">處置情形經過說明</font></b>
					</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td align="center" width="200" height="50">收案日期</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td align="center" width="200" height="50">案由</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td align="center" width="200" height="50">處理過程</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td align="center" width="200" height="50">處理結果</td>
					<td>&nbsp;</td>
				</tr>
			</table>
			<br />
			<br />
			<br />
			<div class="btn btn-success">存檔&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;列印回覆表</div>
		</center>
		</div>
</body>
</html>

