
<!DOCTYPE html>

<html>
<head>

	<meta name="viewport" content="width=device-width" />
	<SCRIPT>
		function click() { if (event.button == 2) { alert("Stop Stealing The Code! 請勿拷貝本站資料!") } } document.onmousedown = click
	</SCRIPT>

</head>
<body>
	<right>@Html.ActionLink("登出", "Logout", "Home")</right>
	<div>
		<br />
		<br />
		<p>
			<center><img src="~/image/5.png" align=top width=" 70" height=" 70"><font color="#940094" size="30">台灣佐伯克智慧型居家照護管理系統</font><img src="~/image/4.png" align=top width=" 70" height=" 70"></center>
		</p>
		<br />
		<center><img src="~/image/1.png" width="300" height="200" /> </center>
		<br />
		<br />
		<center>
			<b>
				<font color="#940094" size="5">
					歡迎主任!!!!
				</font>
			</b>
		</center>
		<br />
		<p>
			<br />
			
		<p>
			<center>
	<div class="btn btn">@Html.ActionLink("主任首頁", "DirectorHandbook", "Home")</div>
			</center>
		</p>
		
	</div>
</body>

</html>
