<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>居督考核表 | 台灣伯佐克智慧型居服照顧管理系統</title>
	<link href="~/images/favicon.ico" type="image/x-icon" rel="Shortcut Icon">
	<link rel="stylesheet" href="~/css/font-awesome/all.css">
	<script src="https://kit.fontawesome.com/2594af17cb.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/layout.css">
	<link rel="stylesheet" href="~/css/page2-2.css">
	<link rel="stylesheet" href="~/css/page2-3-3.css">
	<link rel="stylesheet" href="~/css/page2-4.css">
	<link rel="stylesheet" href="~/css/wait.css">
	<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
	<script src="~/Scripts/jquery-3.2.1.js"></script>
	<link rel="stylesheet" type="text/css" href="~/libs/datepicker/css/bootstrap-datepicker3.min.css">
	<script src="~/libs/datepicker/js/bootstrap-datepicker.min.js"></script>
	<script src="~/libs/datepicker/locales/bootstrap-datepicker.zh-TW.min.js" charset="UTF-8"></script>
	<script>
		var totalArray = [];

		$(function () {
			$('#homepageBtn').click(function () {
				location.href = "/Home/Director";
			});

			$('#lastPage').click(function () {
				history.back();
			});

			$('.datepicker').datepicker({
				format: "yyyy-mm-dd",
				language: "zh-TW",
				// endDate: new Date(),
				// endDate: '-18y',
				// endDate: '+0d',
				todayHighlight: true
			});

			$('.point').click(function () {
				var info = $(this).attr('info');
				var point = $(this).html();

				$('.chk' + info).remove();
				$(this).append('<i class="chk' + info + ' fas fa-check-circle"></i>');

				totalArray[info] = parseFloat(point);
				// console.log(totalArray);
				countPoint(totalArray);
			})

		});

		function countPoint(totalArray) {
			var total = 0;
			for (var i = 0; i < totalArray.length; i++) {
				if (typeof totalArray[i] != "undefined") {
					total = parseFloat(total) + totalArray[i];
				}
			}

			$('#totalpoint').html(total.toFixed(0));
		}

		function saveGrade() {
			if ($('#name').val() == '') {
				alert('請輸入姓名！');
				$('#name').focus();
				return false;
			}
			else if ($('#occur_date').val() == '') {
				alert('請輸入考核日期！');
				$('#occur_date').focus();
				return false;
			}
			else if (totalArray.length < 21) {
				alert('請完成所有項目的考核！');
				return false;
			}
			else {
				$('#wait,#wait_content').show();

				$.ajax({
					url: "/personnel_assessment/save",
					type: "POST",
					dataType: 'json',
					data: {
						name: $('#name').val(),
						occur_date: $('#occur_date').val(),
						score_detail: totalArray,
						score: $('#totalpoint').html(),
						position: 4
					},
					success: function (data, status, xhr) {
						console.log(data, status, xhr);
						if (data.code == 200) {
							alert(data.message);
							location.href = data.result;
						}
						else {
							alert(data.message);
						}
					},
					error: function (xhr, ajaxOptions, thrownError) {
						console.log(xhr, ajaxOptions, thrownError);
						alert('發生錯誤!');
					}
				});
			}
		}
	</script>
	<style>
		.h1 {
			display: inline-block;
			width: 200px;
			height: 80px;
			line-height: 80px;
			border: none;
			background-color: #5677fc;
			color: white;
		}

		.tableContainer table tbody td {
			font-size: 1rem;
			text-align: left;
		}

		.queryBlock input {
			font-size: initial;
			height: initial;
			width: initial;
		}

		.queryBlock {
			margin-bottom: 1rem;
		}

		.tableContainer table td {
			height: initial;
		}

		.tableContainer table tbody td:first-child {
			text-align: center;
		}

		.text-right {
			text-align: right;
			padding-right: 10px;
		}

		.text-left {
			text-align: left;
			padding-left: 10px;
		}

		.text-center {
			text-align: center;
		}

		table.tableCss tr th {
			font-size: 1.4rem;
			border: 1px solid #000000;
			text-align: center;
		}

		table.tableCss tr td {
			font-size: 1rem;
			border: 1px solid #000000;
		}

		table.tableCss {
			background-color: #ffffff;
			width: 100%;
		}

		.fa-check-circle {
			color: #55ca5e;
		}

		.fas.fa-check-circle {
			position: absolute;
		}

		.ui-datepicker-week-end a {
			background-image: none;
			background-color: red;
		}

		.datepicker table tr td:last-child {
			color: red;
			font-weight: bolder;
		}

		.datepicker table tr td:nth-last-child(2) {
			color: green;
			font-weight: bolder;
		}

		.wrapper {
			text-align: center;
		}

		.main {
			margin-top: initial;
		}
	</style>
</head>







<body style="zoom: 1;">
	<div class="fixedBtns"><button id="lastPage">上一頁</button><button id="homepageBtn">回首頁</button></div>


	<header class="header wrapper">
		<div class="queryBlock">
			<p style="font-size: 24pt;">居　督　考　核　表</p>
			<p>
				姓名 <input type="text" name="" class="form-control col-md-3 d-inline-block" placeholder="請輸入..." value=""> &nbsp;&nbsp;&nbsp;&nbsp;
				考核日期 <select id="occur_date" name="" class="form-control col-md-1 d-inline-block">
					<option value="">--- 請選擇 ---</option>
					<option value="109">109</option>
					<option value="108">108</option>
					<option value="107">107</option>
				</select>  年
			</p>
		</div>
	</header>


	<main class="main">
		<form action="">
			<div class="wrapper">
				<table class="tableCss">
					<thead>
						<tr>
							<th rowspan="2" style="width:15%">類別</th>
							<th rowspan="2" style="width:55%">項目</th>
							<th colspan="5" style="width:30%">分數</th>
						</tr>
						<tr>
							<th>優</th>
							<th>佳</th>
							<th>可</th>
							<th>劣</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="text-center" rowspan="5">行政</td>
							<td class="text-left">1、按時為案家收費</td>
							<td class="text-center point" name="" info="0" val="5">5</td>
							<td class="text-center point" name="" info="0" val="4">4</td>
							<td class="text-center point" name="" info="0" val="2">2</td>
							<td class="text-center point" name="" info="0" val="0">0</td>
						</tr>
						<tr>
							<td class="text-left">2、按時開會及會議記錄撰寫</td>
							<td class="text-center point" name="" info="1" val="5">5</td>
							<td class="text-center point" name="" info="1" val="4">4</td>
							<td class="text-center point" name="" info="1" val="2">2</td>
							<td class="text-center point" name="" info="1" val="0">0</td>
						</tr>
						<tr>
							<td class="text-left">3、與案主訂定照顧服務契約</td>
							<td class="text-center point" name="" info="2" val="5">5</td>
							<td class="text-center point" name="" info="2" val="4">4</td>
							<td class="text-center point" name="" info="2" val="2">2</td>
							<td class="text-center point" name="" info="2" val="0">0</td>
						</tr>
						<tr>
							<td class="text-left">4、按時統計服務（案主與案家）滿意度調查</td>
							<td class="text-center point" name="" info="3" val="5">5</td>
							<td class="text-center point" name="" info="3" val="4">4</td>
							<td class="text-center point" name="" info="3" val="2">2</td>
							<td class="text-center point" name="" info="3" val="0">0</td>
						</tr>
						<tr>
							<td class="text-left">5、適當處理申訴案件</td>
							<td class="text-center point" name="" info="4" val="5">5</td>
							<td class="text-center point" name="" info="4" val="4">4</td>
							<td class="text-center point" name="" info="4" val="2">2</td>
							<td class="text-center point" name="" info="4" val="0">0</td>
						</tr>
						<tr>
							<td class="text-center" rowspan="6">個案管理</td>
							<td class="text-left">1、開案評估</td>
							<td class="text-center point" name="" info="5" val="5">5</td>
							<td class="text-center point" name="" info="5" val="4">4</td>
							<td class="text-center point" name="" info="5" val="2">2</td>
							<td class="text-center point" name="" info="5" val="0">0</td>
						</tr>
						<tr>
							<td class="text-left">2、新案適應服務輔導</td>
							<td class="text-center point" name="" info="6" val="5">5</td>
							<td class="text-center point" name="" info="6" val="4">4</td>
							<td class="text-center point" name="" info="6" val="2">2</td>
							<td class="text-center point" name="" info="6" val="0">0</td>
						</tr>
						<tr>
							<td class="text-left">3、異常問題追蹤管理</td>
							<td class="text-center point" name="" info="7" val="5">5</td>
							<td class="text-center point" name="" info="7" val="4">4</td>
							<td class="text-center point" name="" info="7" val="2">2</td>
							<td class="text-center point" name="" info="7" val="0">0</td>
						</tr>
						<tr>
							<td class="text-left">4、個案紀錄完整</td>
							<td class="text-center point" name="" info="8" val="5">5</td>
							<td class="text-center point" name="" info="8" val="4">4</td>
							<td class="text-center point" name="" info="8" val="2">2</td>
							<td class="text-center point" name="" info="8" val="0">0</td>
						</tr>
						<tr>
							<td class="text-left">5、適當的轉介服務及資源連結</td>
							<td class="text-center point" name="" info="9" val="5">5</td>
							<td class="text-center point" name="" info="9" val="4">4</td>
							<td class="text-center point" name="" info="9" val="2">2</td>
							<td class="text-center point" name="" info="9" val="0">0</td>
						</tr>
						<tr>
							<td class="text-left">6、協助聯絡照顧資源並與家屬維持良好密切關係</td>
							<td class="text-center point" name="" info="10" val="5">5</td>
							<td class="text-center point" name="" info="10" val="4">4</td>
							<td class="text-center point" name="" info="10" val="2">2</td>
							<td class="text-center point" name="" info="10" val="0">0</td>
						</tr>
						<tr>
							<td class="text-center" rowspan="2">活動設計</td>
							<td class="text-left">1、安排各項慶典活動</td>
							<td class="text-center point" name="" info="11" val="5">5</td>
							<td class="text-center point" name="" info="11" val="4">4</td>
							<td class="text-center point" name="" info="11" val="2">2</td>
							<td class="text-center point" name="" info="11" val="0">0</td>
						</tr>
						<tr>
							<td class="text-left">2、研發多樣化的居家體適能活動</td>
							<td class="text-center point" name="" info="12" val="5">5</td>
							<td class="text-center point" name="" info="12" val="4">4</td>
							<td class="text-center point" name="" info="12" val="2">2</td>
							<td class="text-center point" name="" info="12" val="0">0</td>
						</tr>
						<tr>
							<td class="text-center" rowspan="2">資源連結</td>
							<td class="text-left">1、維護完整的資源資訊</td>
							<td class="text-center point" name="" info="13" val="5">5</td>
							<td class="text-center point" name="" info="13" val="4">4</td>
							<td class="text-center point" name="" info="13" val="2">2</td>
							<td class="text-center point" name="" info="13" val="0">0</td>
						</tr>
						<tr>
							<td class="text-left">2、能連結社區資源</td>
							<td class="text-center point" name="" info="14" val="5">5</td>
							<td class="text-center point" name="" info="14" val="4">4</td>
							<td class="text-center point" name="" info="14" val="2">2</td>
							<td class="text-center point" name="" info="14" val="0">0</td>
						</tr>
						<tr>
							<td class="text-center" rowspan="2">學術</td>
							<td class="text-left">1、積極參與機構內外各種專業活動</td>
							<td class="text-center point" name="" info="15" val="5">5</td>
							<td class="text-center point" name="" info="15" val="4">4</td>
							<td class="text-center point" name="" info="15" val="2">2</td>
							<td class="text-center point" name="" info="15" val="0">0</td>
						</tr>
						<tr>
							<td class="text-left">2、中心教育訓練的教導</td>
							<td class="text-center point" name="" info="16" val="5">5</td>
							<td class="text-center point" name="" info="16" val="4">4</td>
							<td class="text-center point" name="" info="16" val="2">2</td>
							<td class="text-center point" name="" info="16" val="0">0</td>
						</tr>
						<tr>
							<td class="text-center" rowspan="4">工作態度</td>
							<td class="text-left">1、對同事、個案及家屬良好的人際關係，應對進退得宜</td>
							<td class="text-center point" name="" info="17" val="5">5</td>
							<td class="text-center point" name="" info="17" val="4">4</td>
							<td class="text-center point" name="" info="17" val="2">2</td>
							<td class="text-center point" name="" info="17" val="0">0</td>
						</tr>
						<tr>
							<td class="text-left">2、端莊有禮</td>
							<td class="text-center point" name="" info="18" val="5">5</td>
							<td class="text-center point" name="" info="18" val="4">4</td>
							<td class="text-center point" name="" info="18" val="2">2</td>
							<td class="text-center point" name="" info="18" val="0">0</td>
						</tr>
						<tr>
							<td class="text-left">3、敬業樂群，對機構有向心力，有團隊精神</td>
							<td class="text-center point" name="" info="19" val="5">5</td>
							<td class="text-center point" name="" info="19" val="4">4</td>
							<td class="text-center point" name="" info="19" val="2">2</td>
							<td class="text-center point" name="" info="19" val="0">0</td>
						</tr>
						<tr>
							<td class="text-left">4、上、下班參加會議及辦理交辦事項均守時</td>
							<td class="text-center point" name="" info="20" val="5">5</td>
							<td class="text-center point" name="" info="20" val="4">4</td>
							<td class="text-center point" name="" info="20" val="2">2</td>
							<td class="text-center point" name="" info="20" val="0">0</td>
						</tr>
						<tr>
							<td colspan="2" class="text-right" name="">小計:</td>
							<td colspan="4" class="text-left" id="totalpoint" name=""></td>
						</tr>
					</tbody>
				</table>
				<br>
				<button type="button" class="btn btn-info" onclick="saveGrade();">存檔</button>
			</div>
		</form>
	</main>

	<div id="wait" style="display:none">
		<p><img src="/images/loading.gif" width="150" height="150"></p>
	</div>
	<div id="wait_content" style="display:none">
		<p>請稍後，系統正在處理中...</p>
	</div>
	<iframe name="actFrame" src="about:blank" style="DISPLAY: none; Z-INDEX: 10; WIDTH: 148px; POSITION: absolute; HEIGHT: 194px; left: 105px; top: 5px" marginwidth="0" marginheight="0" frameborder="0" noresize="" scrolling="no"></iframe>



	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-148420718-4"></script>
	<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-148420718-4');
	</script>

	<div id="wait" style="display:none">
		<p><img src="/images/loading.gif" width="150" height="150"></p>
	</div>
	<div id="wait_content" style="display:none">
		<p>請稍後，系統正在處理中...</p>
	</div>
	<iframe name="actFrame" src="about:blank" style="DISPLAY: none; Z-INDEX: 10; WIDTH: 148px; POSITION: absolute; HEIGHT: 194px; left: 105px; top: 5px" marginwidth="0" marginheight="0" frameborder="0" noresize="" scrolling="no"></iframe>


</body>
</html>